<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/Bird_point_count_monitoring_Wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Documentation: [Readme bird point count monitoring](https://drive.google.com/open?id=1PRryJzGOUtfr-fKXzb3tbr48xiaTuAMVk18XFXlvxcM)

# Tools

In [1]:
library(tidyverse)
library(lubridate)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.0     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   0.8.5
✔ tidyr   1.0.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘lubridate’


The following objects are masked from ‘package:dplyr’:

    intersect, setdiff, union


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

In [2]:
# utilitize replace_with_na function
install.packages("naniar")
library(naniar)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘gridExtra’, ‘visdat’, ‘viridis’, ‘UpSetR’

# Source

In [0]:
# 2020-05-15_bird_surveyInfo_records_function.csv
src = "https://drive.google.com/uc?id=1Cmo8e2H0Td2pWXrB4-_YHwdmUJP2Isnj"

In [0]:
df <- read.csv(src, stringsAsFactors = FALSE)

# Rename Columns

Update column values to [DB Schema](https://docs.google.com/document/d/1PRryJzGOUtfr-fKXzb3tbr48xiaTuAMVk18XFXlvxcM/edit#heading=h.5inr0hjz4m4m)

In [0]:
new_names <- c('survey_ID', 'survey_date', 'survey_time_start_MDT', 'survey_time_end_MDT', 'survey_visit', 
              'survey_grid_point', 'survey_observer', 'survey_wind_code', 'survey_sky_code',
              'survey_noise_code', 'survey_temperature_F', 'records_ID', 'records_spe_code', 
              'records_abundance', 'records_sex', 'records_detect_song', 'records_detect_call', 
              'records_detect_visual', 'records_detect_other', 'records_detect_distance_min_meters', 
              'records_interval', 'records_location_code', 'habitat_location_description', 
              'function_spe_name_common', 'function_habitat_preference', 'function_food_preference', 
              'function_nesting_behavior', 'function_feeding_behavior', 
              'function_taxa_order', 'function_taxa_family')

df <- setNames(df, new_names)

# Clean

In [6]:
str(df)

'data.frame':	117911 obs. of  30 variables:
 $ survey_ID                         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ survey_date                       : chr  "2010-05-31" "2010-05-31" "2010-05-31" "2010-05-31" ...
 $ survey_time_start_MDT             : int  709 709 709 709 709 709 709 709 709 709 ...
 $ survey_time_end_MDT               : int  719 719 719 719 719 719 719 719 719 719 ...
 $ survey_visit                      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ survey_grid_point                 : int  476 476 476 476 476 476 476 476 476 476 ...
 $ survey_observer                   : chr  "Eric Rasmussen" "Eric Rasmussen" "Eric Rasmussen" "Eric Rasmussen" ...
 $ survey_wind_code                  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ survey_sky_code                   : int  2 2 2 2 2 2 2 2 2 2 ...
 $ survey_noise_code                 : int  2 2 2 2 2 2 2 2 2 2 ...
 $ survey_temperature_F              : int  50 50 50 50 50 50 50 50 50 50 ...
 $ records_ID                        : int  1 2 3 4 5 6 7 8 9 10 ...
 $ records_spe_code                  : chr  "TRES" "BAEA" "LEFL" "SPSA" ...
 $ records_abundance                 : int  4 1 1 2 1 1 1 1 1 1 ...
 $ records_sex                       : chr  "Unknown" "Unknown" "Male" "Unknown" ...
 $ records_detect_song               : int  0 0 1 0 1 1 1 1 1 1 ...
 $ records_detect_call               : int  1 0 0 1 0 0 0 0 0 0 ...
 $ records_detect_visual             : int  1 0 0 0 0 0 0 0 0 0 ...
 $ records_detect_other              : chr  "" "" "" "" ...
 $ records_detect_distance_min_meters: int  10 150 50 75 45 100 80 125 400 70 ...
 $ records_interval                  : chr  "1" "1" "1" "1" ...
 $ records_location_code             : chr  "0" "0" "0" "0" ...
 $ habitat_location_description      : chr  "River-bottom forest" "River-bottom forest" "River-bottom forest" "River-bottom forest" ...
 $ function_spe_name_common          : chr  "Tree Swallow" "Bald Eagle" "Least Flycatcher" "Spotted Sandpiper" ...
 $ function_habitat_preference       : chr  "Lake/Pond" "Forest" "Forest" "Shoreline" ...
 $ function_food_preference          : chr  "Insects" "Fish" "Insects" "Small Animals" ...
 $ function_nesting_behavior         : chr  "Cavity" "Tree" "Tree" "Ground" ...
 $ function_feeding_behavior         : chr  "Aerial Forager" "Soaring" "Flycatching" "Probing" ...
 $ function_taxa_order               : chr  "Passeriformes" "Accipitriformes" "Passeriformes" "Charadriiformes" ...
 $ function_taxa_family              : chr  "Hirundinidae" "Accipitridae" "Tyrannidae" "Scolopacidae" ...

## records_sex

In variable `sex`, limit data to c("Female", "Male", "Unknown"). Correct typo and capitalization errors.

In [7]:
# Show unique values
fct_count(df$records_sex)

  f       n
1             1
2 1           2
3 Female   1869
4 M           1
5 male        5
6 Male    80968
7 MaMe        1
8 unknown     5
9 Unknown 35059

In [8]:
# Display deviants
df %>%
  select(survey_date, records_sex) %>%
  filter(records_sex != "Female" & 
         records_sex != "Male" & 
         records_sex != "Unknown")

   survey_date records_sex
1  2010-06-25  unknown
2  2011-07-01  unknown
3  2012-07-11  male
4  2013-06-17  unknown
5  2013-06-18  unknown
6  2013-05-22  male
7  2013-05-17  male
8  2014-05-16  male
9  2014-06-14  MaMe
10 2015-05-21  unknown
11 2016-06-10  1
12 2016-06-30  1
13 2016-07-07
14 2019-06-20  male
15 2019-06-25  M

In [9]:
# Capitalize all values
df <- df %>%
  mutate(records_sex = str_to_title(records_sex))

fct_count(df$records_sex)

  f       n
1             1
2 1           2
3 Female   1869
4 M           1
5 Male    80973
6 Mame        1
7 Unknown 35064

In [0]:
df <- df %>%
  mutate(records_sex = ifelse(records_sex == "M", "Male",
               ifelse(records_sex == "Mame", "Male",
               ifelse(records_sex == 1, "Unknown",
               ifelse(records_sex == "", "Unknown", records_sex)))))

In [11]:
fct_count(df$records_sex)

  f       n
1 Female   1869
2 Male    80975
3 Unknown 35067

## records_location_code

In variable `location_code`, capitalize instances of "f" and "u".

In [12]:
fct_count(df$records_location_code)

   f  n
1  0  11959
2  1  18433
3  10   141
4  11  1452
5  12   860
6  13   783
7  14   256
8  15  5448
9  16  8384
10 17  1694
11 18   133
12 2   1216
13 3   7345
14 4  10066
15 5  14013
16 6   5218
17 7   4506
18 8   3793
19 9   9372
20 f      3
21 F   4893
22 u      2
23 U   7941

In [0]:
# Capitalize "f","u"
df <- df %>%
  mutate(records_location_code = str_to_title(records_location_code))

In [14]:
fct_count(df$records_location_code)

   f  n
1  0  11959
2  1  18433
3  10   141
4  11  1452
5  12   860
6  13   783
7  14   256
8  15  5448
9  16  8384
10 17  1694
11 18   133
12 2   1216
13 3   7345
14 4  10066
15 5  14013
16 6   5218
17 7   4506
18 8   3793
19 9   9372
20 F   4896
21 U   7943

## survey_observer

In [15]:
unique(sort(df$survey_observer))

[1] "Amy Seaman"      "Barb Pitman"     "Deb Goslin"      "Debbie Leick"
[5] "Eric Rasmussen"  "John Csoka"      "Katharine Stone" "n"

In [16]:
df <- df %>%
  mutate(survey_observer = ifelse(survey_observer == "n", 
                                         "unknown", 
                                         survey_observer))

unique(df$survey_observer)

[1] "Eric Rasmussen"  "Katharine Stone" "Debbie Leick"    "unknown"
[5] "Amy Seaman"      "John Csoka"      "Barb Pitman"     "Deb Goslin"

## records_detect_other

Leave values as is for the forseeable future

In [17]:
fct_count(df$records_detect_other)

   f                    n
1                       117196
2  125                       1
3  36                        1
4  64                        1
5  70                        1
6  80                        1
7  air sac pulse             1
8  Boom                      7
9  Boom & Wing noise         1
10 booming                   1
11 Cluck                     1
12 D                        28
13 Display                   2
14 dive dispay               1
15 drum                     50
16 Drum                     95
17 DRUM                      4
18 drum on tree              2
19 drummin                   1
20 Drummin                   1
21 drumming                119
22 Drumming                 55
23 drummng                   1
24 flight dislay             1
25 flight display            3
26 flight display noise      1
27 gobble                    1
28 hoo                       4
29 hoot                      1
30 Hoot                     26
31 Hoot call                 5
32 low soft hoots            1
33 Mew                       1
34 Tapping                   1
35 wing boom                 4
36 wing buzz                 1
37 wing flapping             1
38 wing noise               87
39 Wing noise               53
40 Wing Noise                2
41 Wing sound                1
42 Wing thing                1
43 wing whir                91
44 Wing whir                38
45 Wing Whir                 1
46 Wing whir/noise           1
47 wing whirr                4
48 wingbeat                  1
49 wings                     2
50 Wings                     5
51 wingwhir                  1
52 winnowing                 1

## records_interval

In [18]:
fct_count(df$records_interval)

  f             n
1                 281
2 1             85175
3 1`                1
4 2             29592
5 After survey   1838
6 Before survey  1023
7 U                 1

In [19]:
df <- df %>%
  mutate(records_interval = ifelse(records_interval == '1`', '1', 
                            ifelse(records_interval == '', NA, records_interval)))

fct_count(df$records_interval)

  f             n
1 1             85176
2 2             29592
3 After survey   1838
4 Before survey  1023
5 U                 1
6 NA              281

## resolve "na" and ""

['Habitat', 'Food', 'Nesting', 'Behavior', 'Order', 'Family'] all have 2 "na" values and 451 "" values.  Update these cells to NA

In [20]:
fct_count(df$function_habitat_preference)

   f             n
1                  451
2  Forest        19233
3  Grassland     41108
4  Lake/Pond      2380
5  Marsh          1344
6  Mountains      1353
7  na                2
8  Open Woodland 42342
9  River/Stream    201
10 Scrub          6067
11 Shoreline       506
12 Town           2924

In [21]:
df <- df %>%
  mutate_if(is.character, list(~ na_if(., "na"))) %>%
  # would be nice to mutate "na" and "" in a single line
  mutate_if(is.character, list(~ na_if(., ""))) %>%
  # remove "na" and "" factor levels
  droplevels()

fct_count(df$function_habitat_preference)

   f             n
1  Forest        19233
2  Grassland     41108
3  Lake/Pond      2380
4  Marsh          1344
5  Mountains      1353
6  Open Woodland 42342
7  River/Stream    201
8  Scrub          6067
9  Shoreline       506
10 Town           2924
11 NA              453

## time

### survey_time_start

In [22]:
sort(unique(df$survey_time_start_MDT))

  [1]    0    1   50   98  540  543  544  545  546  547  548  550  551  552  553
 [16]  554  555  556  557  558  559  580  600  601  602  603  604  605  606  607
 [31]  608  609  610  611  612  613  614  615  616  617  618  619  620  621  622
 [46]  623  624  625  626  627  628  629  630  631  632  633  634  635  636  637
 [61]  638  639  640  641  642  643  644  645  646  647  648  649  650  651  652
 [76]  653  654  655  656  657  658  659  700  701  702  703  704  705  706  707
 [91]  708  709  710  711  712  713  714  715  716  717  718  719  720  721  722
[106]  723  724  725  726  727  728  729  730  731  732  733  734  735  736  737
[121]  738  739  740  741  742  743  744  745  746  747  748  749  750  751  752
[136]  753  754  755  756  757  758  759  763  800  801  802  803  804  805  806
[151]  807  808  809  810  811  812  813  814  815  816  817  818  819  820  821
[166]  822  823  824  825  826  827  828  829  830  831  832  833  834  835  836
[181]  837  838  839  840  841  842  843  844  845  846  847  848  849  850  851
[196]  852  853  854  855  856  857  858  859  900  901  902  903  904  905  906
[211]  907  908  909  910  911  912  913  914  915  916  917  918  919  920  921
[226]  922  923  924  925  926  927  928  929  930  931  932  933  934  935  936
[241]  937  938  939  940  941  942  943  944  945  946  947  948  949  950  951
[256]  952  953  954  955  956  957  958  959 1000 1001 1002 1003 1004 1005 1006
[271] 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021
[286] 1022 1023 1024 1025 1026 1027 1028 1029 1030 1031 1032 1033 1034 1035 1036
[301] 1037 1038 1039 1040 1041 1042 1043 1044 1045 1046 1047 1048 1049 1050 1051
[316] 1052 1053 1054 1055 1056 1057 1058 1059 1100 1101 1102 1103 1104 1105 1107
[331] 1108 1112 1115

In [0]:
# replace_with_na function is from naniar
df <- df %>%
  replace_with_na(replace = list(survey_time_start_MDT = c(0, 1, 50, 98)))

### survey_time_end

In [24]:
sort(unique(df$survey_time_end))

  [1]    1    2   85  107  507  550  553  554  555  556  557  558  600  601  602
 [16]  603  604  605  606  607  608  609  610  611  612  613  614  615  616  617
 [31]  618  619  620  621  622  623  624  625  626  627  628  629  630  631  632
 [46]  633  634  635  636  637  638  639  640  641  642  643  644  645  646  647
 [61]  648  649  650  651  652  653  654  655  656  657  658  659  700  701  702
 [76]  703  704  705  706  707  708  709  710  711  712  713  714  715  716  717
 [91]  718  719  720  721  722  723  724  725  726  727  728  729  730  731  732
[106]  733  734  735  736  737  738  739  740  741  742  743  744  745  746  747
[121]  748  749  750  751  752  753  754  755  756  757  758  759  800  801  802
[136]  803  804  805  806  807  808  809  810  811  812  813  814  815  816  817
[151]  818  819  820  821  822  823  824  825  826  827  828  829  830  831  832
[166]  833  834  835  836  837  838  839  840  841  842  843  844  845  846  847
[181]  848  849  850  851  852  853  854  855  856  857  858  859  900  901  902
[196]  903  904  905  906  907  908  909  910  911  912  913  914  915  916  917
[211]  918  919  920  921  922  923  924  925  926  927  928  929  930  931  932
[226]  933  934  935  936  937  938  939  940  941  942  943  944  945  946  947
[241]  948  949  950  951  952  953  954  955  956  957  958  959 1000 1001 1002
[256] 1003 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017
[271] 1018 1019 1020 1021 1022 1023 1024 1025 1026 1027 1028 1029 1030 1031 1032
[286] 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 1044 1045 1046 1047
[301] 1048 1049 1050 1051 1052 1053 1054 1055 1056 1057 1058 1059 1100 1101 1102
[316] 1103 1104 1105 1106 1107 1108 1109 1110 1111 1112 1113 1114 1115 1117 1119
[331] 1122 1125 1146 6658

In [0]:
# replace_with_na function is from naniar
df <- df %>%
  replace_with_na(replace = list(survey_time_end_MDT = c(6658, 1, 2, 85, 107)))

# Set DataTypes

In [26]:
str(df)

'data.frame':	117911 obs. of  30 variables:
 $ survey_ID                         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ survey_date                       : chr  "2010-05-31" "2010-05-31" "2010-05-31" "2010-05-31" ...
 $ survey_time_start_MDT             : int  709 709 709 709 709 709 709 709 709 709 ...
 $ survey_time_end_MDT               : int  719 719 719 719 719 719 719 719 719 719 ...
 $ survey_visit                      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ survey_grid_point                 : int  476 476 476 476 476 476 476 476 476 476 ...
 $ survey_observer                   : chr  "Eric Rasmussen" "Eric Rasmussen" "Eric Rasmussen" "Eric Rasmussen" ...
 $ survey_wind_code                  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ survey_sky_code                   : int  2 2 2 2 2 2 2 2 2 2 ...
 $ survey_noise_code                 : int  2 2 2 2 2 2 2 2 2 2 ...
 $ survey_temperature_F              : int  50 50 50 50 50 50 50 50 50 50 ...
 $ records_ID                        : int  1 2 3 4 5 6 7 8 9 10 ...
 $ records_spe_code                  : chr  "TRES" "BAEA" "LEFL" "SPSA" ...
 $ records_abundance                 : int  4 1 1 2 1 1 1 1 1 1 ...
 $ records_sex                       : chr  "Unknown" "Unknown" "Male" "Unknown" ...
 $ records_detect_song               : int  0 0 1 0 1 1 1 1 1 1 ...
 $ records_detect_call               : int  1 0 0 1 0 0 0 0 0 0 ...
 $ records_detect_visual             : int  1 0 0 0 0 0 0 0 0 0 ...
 $ records_detect_other              : chr  NA NA NA NA ...
 $ records_detect_distance_min_meters: int  10 150 50 75 45 100 80 125 400 70 ...
 $ records_interval                  : chr  "1" "1" "1" "1" ...
 $ records_location_code             : chr  "0" "0" "0" "0" ...
 $ habitat_location_description      : chr  "River-bottom forest" "River-bottom forest" "River-bottom forest" "River-bottom forest" ...
 $ function_spe_name_common          : chr  "Tree Swallow" "Bald Eagle" "Least Flycatcher" "Spotted Sandpiper" ...
 $ function_habitat_preference       : chr  "Lake/Pond" "Forest" "Forest" "Shoreline" ...
 $ function_food_preference          : chr  "Insects" "Fish" "Insects" "Small Animals" ...
 $ function_nesting_behavior         : chr  "Cavity" "Tree" "Tree" "Ground" ...
 $ function_feeding_behavior         : chr  "Aerial Forager" "Soaring" "Flycatching" "Probing" ...
 $ function_taxa_order               : chr  "Passeriformes" "Accipitriformes" "Passeriformes" "Charadriiformes" ...
 $ function_taxa_family              : chr  "Hirundinidae" "Accipitridae" "Tyrannidae" "Scolopacidae" ...

## survey_date

In [0]:
df$survey_date <- as_date(df$survey_date)

## survey_time_*

In [28]:
df$survey_time_start_MDT <- hms::as_hms(parse_date_time(df$survey_time_start_MDT, "HM"))
df$survey_time_end_MDT <- hms::as_hms(parse_date_time(df$survey_time_end_MDT, "HM"))

Warning message:
“ 29 failed to parse.”

## records_detect_*

In [0]:
df <- df %>%
  mutate_at(vars(16:18), as.logical)

## records_location_code

In [30]:
fct_count(df$records_location_code)

   f  n
1  0  11959
2  1  18433
3  10   141
4  11  1452
5  12   860
6  13   783
7  14   256
8  15  5448
9  16  8384
10 17  1694
11 18   133
12 2   1216
13 3   7345
14 4  10066
15 5  14013
16 6   5218
17 7   4506
18 8   3793
19 9   9372
20 F   4896
21 U   7943

In [31]:
str(df)

'data.frame':	117911 obs. of  30 variables:
 $ survey_ID                         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ survey_date                       : Date, format: "2010-05-31" "2010-05-31" ...
 $ survey_time_start_MDT             : 'hms' num  07:09:00 07:09:00 07:09:00 07:09:00 ...
  ..- attr(*, "units")= chr "secs"
 $ survey_time_end_MDT               : 'hms' num  07:19:00 07:19:00 07:19:00 07:19:00 ...
  ..- attr(*, "units")= chr "secs"
 $ survey_visit                      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ survey_grid_point                 : int  476 476 476 476 476 476 476 476 476 476 ...
 $ survey_observer                   : chr  "Eric Rasmussen" "Eric Rasmussen" "Eric Rasmussen" "Eric Rasmussen" ...
 $ survey_wind_code                  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ survey_sky_code                   : int  2 2 2 2 2 2 2 2 2 2 ...
 $ survey_noise_code                 : int  2 2 2 2 2 2 2 2 2 2 ...
 $ survey_temperature_F              : int  50 50 50 50 50 50 50 50 50 50 ...
 $ records_ID                        : int  1 2 3 4 5 6 7 8 9 10 ...
 $ records_spe_code                  : chr  "TRES" "BAEA" "LEFL" "SPSA" ...
 $ records_abundance                 : int  4 1 1 2 1 1 1 1 1 1 ...
 $ records_sex                       : chr  "Unknown" "Unknown" "Male" "Unknown" ...
 $ records_detect_song               : logi  FALSE FALSE TRUE FALSE TRUE TRUE ...
 $ records_detect_call               : logi  TRUE FALSE FALSE TRUE FALSE FALSE ...
 $ records_detect_visual             : logi  TRUE FALSE FALSE FALSE FALSE FALSE ...
 $ records_detect_other              : chr  NA NA NA NA ...
 $ records_detect_distance_min_meters: int  10 150 50 75 45 100 80 125 400 70 ...
 $ records_interval                  : chr  "1" "1" "1" "1" ...
 $ records_location_code             : chr  "0" "0" "0" "0" ...
 $ habitat_location_description      : chr  "River-bottom forest" "River-bottom forest" "River-bottom forest" "River-bottom forest" ...
 $ function_spe_name_common          : chr  "Tree Swallow" "Bald Eagle" "Least Flycatcher" "Spotted Sandpiper" ...
 $ function_habitat_preference       : chr  "Lake/Pond" "Forest" "Forest" "Shoreline" ...
 $ function_food_preference          : chr  "Insects" "Fish" "Insects" "Small Animals" ...
 $ function_nesting_behavior         : chr  "Cavity" "Tree" "Tree" "Ground" ...
 $ function_feeding_behavior         : chr  "Aerial Forager" "Soaring" "Flycatching" "Probing" ...
 $ function_taxa_order               : chr  "Passeriformes" "Accipitriformes" "Passeriformes" "Charadriiformes" ...
 $ function_taxa_family              : chr  "Hirundinidae" "Accipitridae" "Tyrannidae" "Scolopacidae" ...

In [34]:
fct_count(as.factor(df$survey_wind_code))

  f  n
1 0  26461
2 1  48833
3 2  32971
4 3   7891
5 4   1472
6 5    155
7 NA   128

In [44]:
df %>%
  filter(is.na(survey_wind_code))

    survey_ID survey_date survey_time_start_MDT survey_time_end_MDT
1   1397      2011-05-31  08:45:00              08:55:00
2   1397      2011-05-31  08:45:00              08:55:00
3   1397      2011-05-31  08:45:00              08:55:00
4   1397      2011-05-31  08:45:00              08:55:00
5   1397      2011-05-31  08:45:00              08:55:00
6   1397      2011-05-31  08:45:00              08:55:00
7   1397      2011-05-31  08:45:00              08:55:00
8   1397      2011-05-31  08:45:00              08:55:00
9   1397      2011-05-31  08:45:00              08:55:00
10  1397      2011-05-31  08:45:00              08:55:00
11  1397      2011-05-31  08:45:00              08:55:00
12  1397      2011-05-31  08:45:00              08:55:00
13  1397      2011-05-31  08:45:00              08:55:00
14  1397      2011-05-31  08:45:00              08:55:00
15  1397      2011-05-31  08:45:00              08:55:00
16  1397      2011-05-31  08:45:00              08:55:00
17  1397      2011-05-31  08:45:00              08:55:00
18  1397      2011-05-31  08:45:00              08:55:00
19  1397      2011-05-31  08:45:00              08:55:00
20  1397      2011-05-31  08:45:00              08:55:00
21  1397      2011-05-31  08:45:00              08:55:00
22  1413      2011-06-05  10:03:00              10:13:00
23  1413      2011-06-05  10:03:00              10:13:00
24  1413      2011-06-05  10:03:00              10:13:00
25  1413      2011-06-05  10:03:00              10:13:00
26  1413      2011-06-05  10:03:00              10:13:00
27  1413      2011-06-05  10:03:00              10:13:00
28  1413      2011-06-05  10:03:00              10:13:00
29  1413      2011-06-05  10:03:00              10:13:00
30  1413      2011-06-05  10:03:00              10:13:00
⋮   ⋮         ⋮           ⋮                     ⋮
99   5742     2014-06-11  09:34:00              09:44:00
100  5742     2014-06-11  09:34:00              09:44:00
101  9227     2015-07-06        NA                    NA
102  9227     2015-07-06        NA                    NA
103  9227     2015-07-06        NA                    NA
104  9227     2015-07-06        NA                    NA
105  9227     2015-07-06        NA                    NA
106  9227     2015-07-06        NA                    NA
107  9227     2015-07-06        NA                    NA
108  9227     2015-07-06        NA                    NA
109  9227     2015-07-06        NA                    NA
110  9227     2015-07-06        NA                    NA
111  9227     2015-07-06        NA                    NA
112  9227     2015-07-06        NA                    NA
113  9227     2015-07-06        NA                    NA
114  9227     2015-07-06        NA                    NA
115  9227     2015-07-06        NA                    NA
116  9227     2015-07-06        NA                    NA
117  9227     2015-07-06        NA                    NA
118  9227     2015-07-06        NA                    NA
119  9227     2015-07-06        NA                    NA
120  9227     2015-07-06        NA                    NA
121  9227     2015-07-06        NA                    NA
122 20798     2016-06-30  08:28:00              08:39:00
123 20798     2016-06-30  08:28:00              08:39:00
124 20798     2016-06-30  08:28:00              08:39:00
125 20798     2016-06-30  08:28:00              08:39:00
126 20798     2016-06-30  08:28:00              08:39:00
127 20798     2016-06-30  08:28:00              08:39:00
128 20798     2016-06-30  08:28:00              08:39:00
    survey_visit survey_grid_point survey_observer survey_wind_code
1   NA           355               Katharine Stone NA
2   NA           355               Katharine Stone NA
3   NA           355               Katharine Stone NA
4   NA           355               Katharine Stone NA
5   NA           355               Katharine Stone NA
6   NA           355               Katharine Stone NA
7   NA           355               Katharine Stone NA
8   NA           355               Katharine Stone NA
9   NA           355               Katharine Stone NA
10  NA           355               Katharine Stone NA
11  NA           355               Katharine Stone NA
12  NA           355               Katharine Stone NA
13  NA           355               Katharine Stone NA
14  NA           355               Katharine Stone NA
15  NA           355               Katharine Stone NA
16  NA           355               Katharine Stone NA
17  NA           355               Katharine Stone NA
18  NA           355               Katharine Stone NA
19  NA           355               Katharine Stone NA
20  NA           355               Katharine Stone NA
21  NA           355               Katharine Stone NA
22  NA            23               Debbie Leick    NA
23  NA            23               Debbie Leick    NA
24  NA            23               Debbie Leick    NA
25  NA            23               Debbie Leick    NA
26  NA            23               Debbie Leick    NA
27  NA            23               Debbie Leick    NA
28  NA            23               Debbie Leick    NA
29  NA            23               Debbie Leick    NA
30  NA            23               Debbie Leick    NA
⋮   ⋮            ⋮                 ⋮               ⋮
99   1           224               Katharine Stone NA
100  1           224               Katharine Stone NA
101 NA            10               Amy Seaman      NA
102 NA            10               Amy Seaman      NA
103 NA            10               Amy Seaman      NA
104 NA            10               Amy Seaman      NA
105 NA            10               Amy Seaman      NA
106 NA            10               Amy Seaman      NA
107 NA            10               Amy Seaman      NA
108 NA            10               Amy Seaman      NA
109 NA            10               Amy Seaman      NA
110 NA            10               Amy Seaman      NA
111 NA            10               Amy Seaman      NA
112 NA            10               Amy Seaman      NA
113 NA            10               Amy Seaman      NA
114 NA            10               Amy Seaman      NA
115 NA            10               Amy Seaman      NA
116 NA            10               Amy Seaman      NA
117 NA            10               Amy Seaman      NA
118 NA            10               Amy Seaman      NA
119 NA            10               Amy Seaman      NA
120 NA            10               Amy Seaman      NA
121 NA            10               Amy Seaman      NA
122  2           205               Deb Goslin      NA
123  2           205               Deb Goslin      NA
124  2           205               Deb Goslin      NA
125  2           205               Deb Goslin      NA
126  2           205               Deb Goslin      NA
127  2           205               Deb Goslin      NA
128  2           205               Deb Goslin      NA
    survey_sky_code survey_noise_code ⋯ records_interval records_location_code
1   NA              NA                ⋯ 1                7
2   NA              NA                ⋯ 1                7
3   NA              NA                ⋯ 1                7
4   NA              NA                ⋯ 1                1
5   NA              NA                ⋯ 1                1
6   NA              NA                ⋯ 1                1
7   NA              NA                ⋯ 1                1
8   NA              NA                ⋯ 1                1
9   NA              NA                ⋯ 1                1
10  NA              NA                ⋯ 1                8
11  NA              NA                ⋯ 1                1
12  NA              NA                ⋯ 1                7
13  NA              NA                ⋯ 1                7
14  NA              NA                ⋯ 2                3
15  NA              NA                ⋯ 2                U
16  NA              NA                ⋯ 2                7
17  NA              NA                ⋯ 2                1
18  NA              NA                ⋯ 2                3
19  NA              NA                ⋯ 2                8
20  NA              NA                ⋯ 2                3
21  NA              NA                ⋯ After survey     F
22  NA              NA                ⋯ 1                9
23  NA              NA                ⋯ 1                U
24  NA              NA                ⋯ 1                8
25  NA              NA                ⋯ 1                1
26  NA              NA                ⋯ 1                1
27  NA              NA                ⋯ 1                9
28  NA              NA                ⋯ 1                F
29  NA              NA                ⋯ 1                8
30  NA              NA                ⋯ 1                U
⋮   ⋮               ⋮                 ⋱ ⋮                ⋮
99  NA              NA                ⋯ Before survey    9
100 NA              NA                ⋯ Before survey    U
101 NA              NA                ⋯ 1                8
102 NA              NA                ⋯ 1                U
103 NA              NA                ⋯ 1                8
104 NA              NA                ⋯ 1                8
105 NA              NA                ⋯ 1                17
106 NA              NA                ⋯ 1                8
107 NA              NA                ⋯ 1                8
108 NA              NA                ⋯ 1                8
109 NA              NA                ⋯ 1                8
110 NA              NA                ⋯ 1                8
111 NA              NA                ⋯ 1                8
112 NA              NA                ⋯ 1                17
113 NA              NA                ⋯ 1                4
114 NA              NA                ⋯ 1                8
115 NA              NA                ⋯ 1                8
116 NA              NA                ⋯ 1                8
117 NA              NA                ⋯ 1                4
118 NA              NA                ⋯ 2                8
119 NA              NA                ⋯ 2                F
120 NA              NA                ⋯ 2                U
121 NA              NA                ⋯ 2                U
122  1               1                ⋯ 1                1
123  1               1                ⋯ 1                1
124  1               1                ⋯ 1                1
125  1               1                ⋯ 1                1
126  1               1                ⋯ 1                1
127  1               1                ⋯ 1                1
128  1               1                ⋯ 2                1
    habitat_location_description function_spe_name_common
1   Draw (Populus canopy)        American Kestrel
2   Draw (Populus canopy)        American Kestrel
3   Draw (Populus canopy)        Mourning Dove
4   Open grassland               Bank Swallow
5   Open grassland               Cliff Swallow
6   Open grassland               Western Meadowlark
7   Open grassland               Western Meadowlark
8   Open grassland               Western Meadowlark
9   Open grassland               Vesper Sparrow
10  Draw (conifer canopy)        Lazuli Bunting
11  Open grassland               Vesper Sparrow
12  Draw (Populus canopy)        Brown-headed Cowbird
13  Draw (Populus canopy)        Red-tailed Hawk
14  Sagebrush                    Vesper Sparrow
15  Unknown                      Canada Goose
16  Draw (Populus canopy)        European Starling
17  Open grassland               Barn Swallow
18  Sagebrush                    Western Meadowlark
19  Draw (conifer canopy)        American Goldfinch
20  Sagebrush                    Chipping Sparrow
21  Flyover                      Evening Grosbeak
22  Draw (shrubs)                Dusky Flycatcher
23  Unknown                      Western Meadowlark
24  Draw (conifer canopy)        Western Tanager
25  Open grassland               Vesper Sparrow
26  Open grassland               Vesper Sparrow
27  Draw (shrubs)                Orange-crowned Warbler
28  Flyover                      Brown-headed Cowbird
29  Draw (conifer canopy)        Northern Flicker
30  Unknown                      Western Meadowlark
⋮   ⋮                            ⋮
99  Draw (shrubs)                American Kestrel
100 Unknown                      Black-billed Magpie
101 Draw (conifer canopy)        Black-capped Chickadee
102 Unknown                      Vesper Sparrow
103 Draw (conifer canopy)        Spotted Towhee
104 Draw (conifer canopy)        Red-breasted Nuthatch
105 Deciduous Shrub              Lazuli Bunting
106 Draw (conifer canopy)        Black-capped Chickadee
107 Draw (conifer canopy)        Western Tanager
108 Draw (conifer canopy)        Northern Flicker
109 Draw (conifer canopy)        Brown-headed Cowbird
110 Draw (conifer canopy)        Mourning Dove
111 Draw (conifer canopy)        House Wren
112 Deciduous Shrub              Dusky Flycatcher
113 Bitterbrush                  Vesper Sparrow
114 Draw (conifer canopy)        Downy Woodpecker
115 Draw (conifer canopy)        Red-breasted Nuthatch
116 Draw (conifer canopy)        Lazuli Bunting
117 Bitterbrush                  Vesper Sparrow
118 Draw (conifer canopy)        American Robin
119 Flyover                      Mourning Dove
120 Unknown                      Spotted Towhee
121 Unknown                      Black-capped Chickadee
122 Open grassland               Vesper Sparrow
123 Open grassland               Western Meadowlark
124 Open grassland               Unknown Hummingbird
125 Open grassland               Western Meadowlark
126 Open grassland               Western Meadowlark
127 Open grassland               Vesper Sparrow
128 Open grassland               Vesper Sparrow
    function_habitat_preference function_food_preference
1   Open Woodland               Insects
2   Open Woodland               Insects
3   Open Woodland               Seeds
4   Lake/Pond                   Insects
5   Lake/Pond                   Insects
6   Grassland                   Insects
7   Grassland                   Insects
8   Grassland                   Insects
9   Grassland                   Insects
10  Open Woodland               Insects
11  Grassland                   Insects
12  Grassland                   Seeds
13  Open Woodland               Small Animals
14  Grassland                   Insects
15  Marsh                       Seeds
16  Town                        Insects
17  Grassland                   Insects
18  Grassland                   Insects
19  Open Woodland               Seeds
20  Open Woodland               Seeds
21  Forest                      Seeds
22  Open Woodland               Insects
23  Grassland                   Insects
24  Forest                      Insects
25  Grassland                   Insects
26  Grassland                   Insects
27  Forest                      Insects
28  Grassland                   Seeds
29  Open Woodland               Insects
30  Grassland                   Insects
⋮   ⋮                           ⋮
99  Open Woodland               Insects
100 Open Woodland               Omnivore
101 Forest                      Insects
102 Grassland                   Insects
103 Scrub                       Omnivore
104 Forest                      Insects
105 Open Woodland               Insects
106 Forest                      Insects
107 Forest                      Insects
108 Open Woodland               Insects
109 Grassland                   Seeds
110 Open Woodland               Seeds
111 Open Woodland               Insects
112 Open Woodland               Insects
113 Grassland                   Insects
114 Forest                      Insects
115 Forest                      Insects
116 Open Woodland               Insects
117 Grassland                   Insects
118 Open Woodland               Insects
119 Open Woodland               Seeds
120 Scrub                       Omnivore
121 Forest                      Insects
122 Grassland                   Insects
123 Grassland                   Insects
124 NA                          NA
125 Grassland                   Insects
126 Grassland                   Insects
127 Grassland                   Insects
128 Grassland                   Insects
    function_nesting_behavior function_feeding_behavior function_taxa_order
1   Cavity                    Soaring                   Falconiformes
2   Cavity                    Soaring                   Falconiformes
3   Tree                      Ground Forager            Columbiformes
4   Burrow                    Aerial Forager            Passeriformes
5   Cliff                     Aerial Forager            Passeriformes
6   Ground                    Ground Forager            Passeriformes
7   Ground                    Ground Forager            Passeriformes
8   Ground                    Ground Forager            Passeriformes
9   Ground                    Ground Forager            Passeriformes
10  Shrub                     Foliage Gleaner           Passeriformes
11  Ground                    Ground Forager            Passeriformes
12  Tree                      Ground Forager            Passeriformes
13  Tree                      Soaring                   Accipitriformes
14  Ground                    Ground Forager            Passeriformes
15  Ground                    Ground Forager            Anseriformes
16  Cavity                    Ground Forager            Passeriformes
17  Building                  Aerial Forager            Passeriformes
18  Ground                    Ground Forager            Passeriformes
19  Shrub                     Foliage Gleaner           Passeriformes
20  Shrub                     Ground Forager            Passeriformes
21  Tree                      Ground Forager            Passeriformes
22  Shrub                     Flycatching               Passeriformes
23  Ground                    Ground Forager            Passeriformes
24  Tree                      Foliage Gleaner           Passeriformes
25  Ground                    Ground Forager            Passeriformes
26  Ground                    Ground Forager            Passeriformes
27  Ground                    Foliage Gleaner           Passeriformes
28  Tree                      Ground Forager            Passeriformes
29  Cavity                    Ground Forager            Piciformes
30  Ground                    Ground Forager            Passeriformes
⋮   ⋮                         ⋮                         ⋮
99  Cavity                    Soaring                   Falconiformes
100 Tree                      Ground Forager            Passeriformes
101 Cavity                    Foliage Gleaner           Passeriformes
102 Ground                    Ground Forager            Passeriformes
103 Ground                    Ground Forager            Passeriformes
104 Cavity                    Bark Forager              Passeriformes
105 Shrub                     Foliage Gleaner           Passeriformes
106 Cavity                    Foliage Gleaner           Passeriformes
107 Tree                      Foliage Gleaner           Passeriformes
108 Cavity                    Ground Forager            Piciformes
109 Tree                      Ground Forager            Passeriformes
110 Tree                      Ground Forager            Columbiformes
111 Cavity                    Foliage Gleaner           Passeriformes
112 Shrub                     Flycatching               Passeriformes
113 Ground                    Ground Forager            Passeriformes
114 Cavity                    Bark Forager              Piciformes
115 Cavity                    Bark Forager              Passeriformes
116 Shrub                     Foliage Gleaner           Passeriformes
117 Ground                    Ground Forager            Passeriformes
118 Tree                      Ground Forager            Passeriformes
119 Tree                      Ground Forager            Columbiformes
120 Ground                    Ground Forager            Passeriformes
121 Cavity                    Foliage Gleaner           Passeriformes

# Output

In [0]:
# last output 2020-05-19 by esamsoe
# output = 'bird_surveyInfo_records_function.csv'
# write_csv(df, path = output)

# Notes

Attempting to upload this CSV into BigQuery results in 
* "Error executing job" 
* "Error while reading data, error message: CSV table encountered too many errors, giving up. Rows: 12912; errors: 1. Please look into the errors[] collection for more details."
* "Error while reading data, error message: Could not parse 'NA' as INT64 for field survey_wind_code (position 7) starting at location 2652793"

To parse the CSV correctly refer to [bq load syntax](https://docs.google.com/document/d/1nCl_sbl2Eac9Qb3bZymdRJl3voXC4lPUqBeyLZRlwow/edit?usp=sharing)