<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/Classify_Twilight_for_Nocturnal_Flight_Calls_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Tools

In [1]:
from urllib.request import urlopen
from datetime import timedelta, date, datetime
from dateutil import tz
import json
import pandas as pd
import time
import os.path

# Load Source

## Select NFC's

In [14]:
# 2012_to_2020NFCBandingData_20210106.csv
src_nfc = "https://drive.google.com/uc?id=1r2esEc-UdAqoBvptlELey6tbfGmvHbGI"

In [55]:
df_nfc = pd.read_csv(src_nfc, sep=',')

In [21]:
df_nfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63599 entries, 0 to 63598
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   season                   63599 non-null  object
 1   year                     63599 non-null  int64
 2   detector                 63599 non-null  object
 3   species                  63599 non-null  object
 4   site                     63599 non-null  object
 5   date                     63599 non-null  object
 6   recording_start          63599 non-null  object
 7   recording_length         63599 non-null  object
 8   elapsed_detection_time   63599 non-null  object
 9   real_detection_time      63599 non-null  object
 10  real_detection_datetime  63599 non-null  object
 11  rounded_to_half_hour     63599 non-null  object
 12  duplicate                62568 non-null  object
 13  sunset                   63599 non-null  object
 14  civil_dusk               63599 non-null  object
 15  nautical_dusk            63599 non-null  object
 16  astronomical_dusk        63599 non-null  object
 17  astronomical_dawn        63599 non-null  object
 18  nautical_dawn            63599 non-null  object
 19  civil_dawn               63599 non-null  object
 20  sunrise                  63599 non-null  object
 21  moon_altitude            63599 non-null  float64
 22  moon_illumination        63599 non-null  float64
dtypes: float64(2), int64(1), object(20)
memory usage: 11.2+ MB

In [56]:
df_nfc.head(n=3)

  season  year detector  ...         sunrise moon_altitude moon_illumination
0   Fall  2015   thrush  ...  8/24/2015 6:45           7.0              64.8
1   Fall  2015   thrush  ...  8/24/2015 6:45         -18.1              65.9
2   Fall  2015   thrush  ...  9/16/2015 7:15         -47.8               8.9

[3 rows x 23 columns]

# Wrangle

## Date Format

In [57]:
df_nfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63599 entries, 0 to 63598
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   season                   63599 non-null  object
 1   year                     63599 non-null  int64
 2   detector                 63599 non-null  object
 3   species                  63599 non-null  object
 4   site                     63599 non-null  object
 5   date                     63599 non-null  object
 6   recording_start          63599 non-null  object
 7   recording_length         63599 non-null  object
 8   elapsed_detection_time   63599 non-null  object
 9   real_detection_time      63599 non-null  object
 10  real_detection_datetime  63599 non-null  object
 11  rounded_to_half_hour     63599 non-null  object
 12  duplicate                62568 non-null  object
 13  sunset                   63599 non-null  object
 14  civil_dusk               63599 non-null  object
 15  nautical_dusk            63599 non-null  object
 16  astronomical_dusk        63599 non-null  object
 17  astronomical_dawn        63599 non-null  object
 18  nautical_dawn            63599 non-null  object
 19  civil_dawn               63599 non-null  object
 20  sunrise                  63599 non-null  object
 21  moon_altitude            63599 non-null  float64
 22  moon_illumination        63599 non-null  float64
dtypes: float64(2), int64(1), object(20)
memory usage: 11.2+ MB

In [58]:
date_columns = ['real_detection_datetime', 'sunset', 'civil_dusk', 'nautical_dusk', 'astronomical_dusk',\
          'astronomical_dawn', 'nautical_dawn', 'civil_dawn', 'sunrise']

In [59]:
for column in date_columns:
    df_nfc[column] = pd.to_datetime(df_nfc.loc[:, column]).dt.tz_localize('US/Mountain')

In [60]:
df_nfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63599 entries, 0 to 63598
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   season                   63599 non-null  object
 1   year                     63599 non-null  int64
 2   detector                 63599 non-null  object
 3   species                  63599 non-null  object
 4   site                     63599 non-null  object
 5   date                     63599 non-null  object
 6   recording_start          63599 non-null  object
 7   recording_length         63599 non-null  object
 8   elapsed_detection_time   63599 non-null  object
 9   real_detection_time      63599 non-null  object
 10  real_detection_datetime  63599 non-null  datetime64[ns, US/Mountain]
 11  rounded_to_half_hour     63599 non-null  object
 12  duplicate                62568 non-null  object
 13  sunset                   63599 non-null  datetime64[ns, US/Mountain]
 14  civil_dusk               63599 non-null  datetime64[ns, US/Mountain]
 15  nautical_dusk            63599 non-null  datetime64[ns, US/Mountain]
 16  astronomical_dusk        63599 non-null  datetime64[ns, US/Mountain]
 17  astronomical_dawn        63599 non-null  datetime64[ns, US/Mountain]
 18  nautical_dawn            63599 non-null  datetime64[ns, US/Mountain]
 19  civil_dawn               63599 non-null  datetime64[ns, US/Mountain]
 20  sunrise                  63599 non-null  datetime64[ns, US/Mountain]
 21  moon_altitude            63599 non-null  float64
 22  moon_illumination        63599 non-null  float64
dtypes: datetime64[ns, US/Mountain](9), float64(2), int64(1), object(11)
memory usage: 11.2+ MB

## Classify

In [61]:
def dusk_dawn(row):
    detection = row['real_detection_datetime']
    
    if row['sunset'] <= detection < row['civil_dusk']:
        return 'civil_dusk'
    elif row['civil_dusk'] <= detection < row['nautical_dusk']:
        return 'nautical_dusk'
    elif row['nautical_dusk'] <= detection < row['astronomical_dusk']:
        return 'astronomical_dusk'
    elif row['astronomical_dusk'] <= detection < row['astronomical_dawn']:
        return 'night'
    elif row['astronomical_dawn'] <= detection < row['nautical_dawn']:
        return 'astronomical_dawn'
    elif row['nautical_dawn'] <= detection < row['civil_dawn']:
        return 'nautical_dawn'
    elif row['civil_dawn'] <= detection < row['sunrise']:
        return 'civil_dawn'
    else:
        print('Row out of range')

In [62]:
df_nfc['light_classification'] = df_nfc.apply(dusk_dawn, axis=1)

In [67]:
df_nfc.head()

  season  year detector  ... moon_altitude moon_illumination light_classification
0   Fall  2015   thrush  ...           7.0              64.8                night
1   Fall  2015   thrush  ...         -18.1              65.9                night
2   Fall  2015   thrush  ...         -47.8               8.9                night
3   Fall  2015   thrush  ...         -47.8               8.9                night
4   Fall  2016   thrush  ...         -19.2              10.0                night

[5 rows x 24 columns]

In [71]:
# Look for unclassified rows
df_nfc.loc[df_nfc['light_classification'] == 'Row out of range']

Empty DataFrame
Columns: [season, year, detector, species, site, date, recording_start, recording_length, elapsed_detection_time, real_detection_time, real_detection_datetime, rounded_to_half_hour, duplicate, sunset, civil_dusk, nautical_dusk, astronomical_dusk, astronomical_dawn, nautical_dawn, civil_dawn, sunrise, moon_altitude, moon_illumination, light_classification]
Index: []

# Output

In [70]:
output_filename = '2012_to_2020NFCBandingData_20210106_lightclassified.csv'
df_nfc.to_csv(output_filename, index=False)

# Note

These classifications assume that the twilight datetimes provided are appropriate for the lat long of the station.