<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/gridVeg_point_intercept_wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Documentation

[Readme - vegetation point transect survey](https://docs.google.com/document/d/1JWnhxNjeSQZkSnGhtHP68i_l1mDj4vPFMBdUvGqN0TA/edit?usp=sharing)

# Tools

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.1     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   1.0.0
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# Source

In [2]:
# 2020-06-17_gridVeg_point_intercepts_SOURCE.csv
src_intercept <- "https://drive.google.com/uc?export=download&id=1Uj8Nvo0GtFueZt6_Yli2D8jWiqACNssv"

In [3]:
df_pt <- read_csv(src_intercept, col_types = cols("Survey Data::__kp_Survey" = col_character(),
                                                  "_kf_Hit2_serial" = col_character(),
                                                  "_kf_Hit3_serial" = col_character(),
                                                  "_kf_Hit4_serial" = col_character()))

In [4]:
head(df_pt)

  Survey Data::__kp_Survey Survey Data::_kf_Site Survey Data::SurveyDate
1 5                        108                   11/15/2010
2 5                        108                   11/15/2010
3 5                        108                   11/15/2010
4 5                        108                   11/15/2010
5 5                        108                   11/15/2010
6 5                        108                   11/15/2010
  Survey Data::SurveyYear PointTrans _kf_Hit1_serial Height _kf_Hit2_serial
1 2010                    N1         406             20     NA
2 2010                    N2          12             27     NA
3 2010                    N3          12             16     NA
4 2010                    N4          12             17     NA
5 2010                    N5          12             16     NA
6 2010                    N6          12             16     NA
  _kf_Hit3_serial _kf_Hit4_serial GroundCover
1 NA              NA              NA
2 NA              NA              NA
3 NA              NA              NA
4 NA              NA              NA
5 NA              NA              NA
6 NA              NA              NA

# Wrangle

## Rename

In [5]:
names(df_pt)

 [1] "Survey Data::__kp_Survey" "Survey Data::_kf_Site"
 [3] "Survey Data::SurveyDate"  "Survey Data::SurveyYear"
 [5] "PointTrans"               "_kf_Hit1_serial"
 [7] "Height"                   "_kf_Hit2_serial"
 [9] "_kf_Hit3_serial"          "_kf_Hit4_serial"
[11] "GroundCover"

In [6]:
oldnames = c('Survey Data::__kp_Survey','Survey Data::_kf_Site','Survey Data::SurveyDate',
             'Survey Data::SurveyYear','PointTrans','_kf_Hit1_serial','Height',
             '_kf_Hit2_serial','_kf_Hit3_serial','_kf_Hit4_serial','GroundCover')
          
newnames = c('survey_ID', 'grid_point', 'date', 'year', 
             'transect_point', 'intercept_1', 'height_intercept_1', 'intercept_2',
             'intercept_3', 'intercept_4', 'intercept_ground_code')

df_pt <- df_pt %>% rename_at(vars(all_of(oldnames)), ~ newnames)

In [7]:
head(df_pt)

  survey_ID grid_point date       year transect_point intercept_1
1 5         108        11/15/2010 2010 N1             406
2 5         108        11/15/2010 2010 N2              12
3 5         108        11/15/2010 2010 N3              12
4 5         108        11/15/2010 2010 N4              12
5 5         108        11/15/2010 2010 N5              12
6 5         108        11/15/2010 2010 N6              12
  height_intercept_1 intercept_2 intercept_3 intercept_4 intercept_ground_code
1 20                 NA          NA          NA          NA
2 27                 NA          NA          NA          NA
3 16                 NA          NA          NA          NA
4 17                 NA          NA          NA          NA
5 16                 NA          NA          NA          NA
6 16                 NA          NA          NA          NA

## Filter

In [8]:
# remove 2010
df_pt <- df_pt %>%
  filter(year > 2010)

## Explore

### grid_point

In [ ]:
df_pt %>%
  distinct(grid_point) %>%
  arrange(grid_point)

### transect_point

* output distinct values and inspect in a sheet: [transect_point_distinct](https://docs.google.com/spreadsheets/d/1Wr41ySG3C3RKK01VhNX9l5MxE0DNAaefTvk6qm_L5fA/edit?usp=sharing)

In [56]:
# capitalize
# df_pt <- df_pt %>%
#   mutate(transect_point = toupper(transect_point))

In [16]:
write_csv(df_pt %>%
  distinct(transect_point) %>%
  arrange(transect_point), path = "transect_point_distinct.csv")

* identify the outliers: [outlier](https://docs.google.com/spreadsheets/d/1Wr41ySG3C3RKK01VhNX9l5MxE0DNAaefTvk6qm_L5fA/edit?usp=sharing)

In [ ]:
df_pt %>%
  distinct(transect_point) %>%
  arrange(transect_point)

In [24]:
# set outliers to NA
outliers <- c("se", "T", "W21E")

df_pt <- df_pt %>%
  mutate(transect_point = ifelse(transect_point == "se" |
                                 transect_point == "T" |
                                 transect_point == "W21E", NA, transect_point))

### intercept_ground_code

In [58]:
df_pt %>%
  distinct(intercept_ground_code) %>%
  arrange(intercept_ground_code)

   intercept_ground_code
1  BG
2  BV
3  G
4  L
5  LIC
6  M
7  M/L
8  NDC
9  OTHER
10 R
11 SC
12 SD
13 SE
14 SH
15 SU
16 WDL
17 WDS
18 WDSTUMP
19 WDT
20 NA

In [60]:
not_in_list <- c("NDC", "WDSTUMP")

df_pt <- df_pt %>%
  mutate(intercept_ground_code = ifelse(intercept_ground_code == "NDC" |
                                        intercept_ground_code == "WDSTUMP", NA, intercept_ground_code))

In [61]:
df_pt %>%
  distinct(intercept_ground_code) %>%
  arrange(intercept_ground_code)

   intercept_ground_code
1  BG
2  BV
3  G
4  L
5  LIC
6  M
7  M/L
8  OTHER
9  R
10 SC
11 SD
12 SE
13 SH
14 SU
15 WDL
16 WDS
17 WDT
18 NA

## Data Types

In [62]:
glimpse(df_pt)

Rows: 248,645
Columns: 11
$ survey_ID             <chr> "69", "69", "69", "69", "69", "69", "69", "69",…
$ grid_point            <int> 329, 329, 329, 329, 329, 329, 329, 329, 329, 32…
$ date                  <date> 2020-07-18, 2020-07-18, 2020-07-18, 2020-07-18…
$ year                  <int> 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,…
$ transect_point        <chr> "N1", "N2", "N3", "N4", "N5", "N6", "N7", "N8",…
$ intercept_1           <int> 497, 497, 497, 497, 497, 497, 497, 12, 82, 82, …
$ height_intercept_1    <int> 60, 67, 55, 62, 65, 70, 40, 40, 5, 15, 15, 1, 7…
$ intercept_2           <int> 82, 82, 82, 82, 82, 82, 82, 82, NA, NA, NA, NA,…
$ intercept_3           <int> NA, NA, NA, NA, NA, 12, NA, NA, NA, NA, NA, NA,…
$ intercept_4           <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ intercept_ground_code <chr> "L", "L", "L", "L", "L", "BV", "L", "BV", "BV",…

In [63]:
df_pt$grid_point <- as.integer(df_pt$grid_point)
df_pt$date <- as.Date(df_pt$date, "%m/%d/%y")
df_pt$year <- as.integer(df_pt$year)
df_pt$intercept_1 <- as.integer(df_pt$intercept_1)
df_pt$height_intercept_1 <- as.integer(df_pt$height_intercept_1)
df_pt$intercept_2 <- as.integer(df_pt$intercept_2)
df_pt$intercept_3 <- as.integer(df_pt$intercept_3)
df_pt$intercept_4 <- as.integer(df_pt$intercept_4)

In [49]:
glimpse(df_pt)

Rows: 248,645
Columns: 11
$ survey_ID             <chr> "69", "69", "69", "69", "69", "69", "69", "69",…
$ grid_point            <int> 329, 329, 329, 329, 329, 329, 329, 329, 329, 32…
$ date                  <date> 2020-07-18, 2020-07-18, 2020-07-18, 2020-07-18…
$ year                  <int> 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,…
$ transect_point        <chr> "N1", "N2", "N3", "N4", "N5", "N6", "N7", "N8",…
$ intercept_1           <int> 497, 497, 497, 497, 497, 497, 497, 12, 82, 82, …
$ height_intercept_1    <int> 60, 67, 55, 62, 65, 70, 40, 40, 5, 15, 15, 1, 7…
$ intercept_2           <int> 82, 82, 82, 82, 82, 82, 82, 82, NA, NA, NA, NA,…
$ intercept_3           <int> NA, NA, NA, NA, NA, 12, NA, NA, NA, NA, NA, NA,…
$ intercept_4           <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ intercept_ground_code <chr> "L", "L", "L", "L", "L", "BV", "L", "BV", "BV",…

# Table Structure

## gridVeg_point_intercept_vegetation

In [64]:
df_veg <- df_pt[, c("survey_ID", "grid_point", "date", "year",
          "transect_point", "height_intercept_1",
          "intercept_1", "intercept_2", "intercept_3", "intercept_4")]

In [65]:
glimpse(df_veg)

Rows: 248,645
Columns: 10
$ survey_ID          <chr> "69", "69", "69", "69", "69", "69", "69", "69", "6…
$ grid_point         <int> 329, 329, 329, 329, 329, 329, 329, 329, 329, 329, …
$ date               <date> 2020-07-18, 2020-07-18, 2020-07-18, 2020-07-18, 2…
$ year               <int> 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 20…
$ transect_point     <chr> "N1", "N2", "N3", "N4", "N5", "N6", "N7", "N8", "N…
$ height_intercept_1 <int> 60, 67, 55, 62, 65, 70, 40, 40, 5, 15, 15, 1, 7, 5…
$ intercept_1        <int> 497, 497, 497, 497, 497, 497, 497, 12, 82, 82, 82,…
$ intercept_2        <int> 82, 82, 82, 82, 82, 82, 82, 82, NA, NA, NA, NA, NA…
$ intercept_3        <int> NA, NA, NA, NA, NA, 12, NA, NA, NA, NA, NA, NA, NA…
$ intercept_4        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…

### Output

In [70]:
write_csv(df_veg, path = "gridVeg_point_intercept_vegetation_WRANGLE.csv")

## gridVeg_point_intercept_ground

In [67]:
df_gnd <- df_pt[, c("survey_ID", "grid_point", "date", "year", 
          "transect_point", "intercept_ground_code")]

In [68]:
glimpse(df_gnd)

Rows: 248,645
Columns: 6
$ survey_ID             <chr> "69", "69", "69", "69", "69", "69", "69", "69",…
$ grid_point            <int> 329, 329, 329, 329, 329, 329, 329, 329, 329, 32…
$ date                  <date> 2020-07-18, 2020-07-18, 2020-07-18, 2020-07-18…
$ year                  <int> 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,…
$ transect_point        <chr> "N1", "N2", "N3", "N4", "N5", "N6", "N7", "N8",…
$ intercept_ground_code <chr> "L", "L", "L", "L", "L", "BV", "L", "BV", "BV",…

### Output

In [71]:
write_csv(df_gnd, path = "gridVeg_point_intercept_ground_WRANGLE.csv")