<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/gridVeg_plant_functional_groups.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Security

* The user must load a `json` file containing the BigQuery API key into the local directory `/content/...`
* The user must have a Google Maps API key to enable mapping. 
   * CAUTION make sure the key is deleted from the current instance of the notebook before sharing

# Tools

In [ ]:
library(tidyverse)

* Remember that the file containing authorization keys for Big Query must be loaded into the virutual envrionment manually.

In [ ]:
install.packages("bigrquery")
library(bigrquery)

# Source

## Database Connection

In [ ]:
# BigQuery API Key
bq_auth(path = "/content/mpg-data-warehouse-api_key-master.json")

In [ ]:
Sys.setenv(BIGQUERY_TEST_PROJECT = "mpg-data-warehouse")

In [ ]:
billing <- bq_test_project()

### gridVeg_plant_intercepts

In [ ]:
sql_plant_intercepts <- 
"
  SELECT 
    survey_ID,
    grid_point,
    key_plant_code,
    plant_native_status,
    plant_life_cycle,
    plant_life_form,
    intercepts_pct
  FROM 
    `mpg-data-warehouse.vegetation_gridVeg_summaries.gridVeg_plant_intercepts`
"

In [ ]:
bq_plant_intercepts <- bq_project_query(billing, sql_plant_intercepts)

In [ ]:
tb_plant_intercepts <- bq_table_download(bq_plant_intercepts)

In [ ]:
df_plant_intercepts <- as.data.frame(tb_plant_intercepts)

In [ ]:
head(df_plant_intercepts, n=4)

  survey_ID grid_point key_plant_code plant_native_status plant_life_cycle
1 436       1          HEUCYL         native              perennial
2 436       1          ALLCER         native              perennial
3 436       1          GEUTRI         native              perennial
4 436       1          ERIG_SP        native              unknown
  plant_life_form intercepts_pct
1 forb            2.5
2 forb            0.5
3 forb            1.0
4 forb            0.5

In [ ]:
df_plant_intercepts %>%
  distinct(survey_ID) %>%
  count()

  n
1 1244

# Wrangle

Start with the view vegetation_gridVeg_summaries:gridVeg_plant_intercepts. Remove records where key_plant_code = “NV” (corresponds with key_plant_species = 360).

In [ ]:
df_plant_functional_groups <- df_plant_intercepts %>%
  filter(key_plant_code != "NV")

In [ ]:
df_plant_intercepts %>%
  filter(key_plant_code == "NV")

In [ ]:
# check unique survey IDs
df_plant_functional_groups %>%
  distinct(survey_ID) %>%
  count()

  n
1 1242

Recode the levels of plant_life_cycle to simplify them (re-coded values are supplied in the Readme).

In [ ]:
df_plant_functional_groups <- df_plant_functional_groups %>%
  mutate(plant_life_cycle = ifelse(plant_life_cycle == "biennial perennial" |
                                   plant_life_cycle == "annual perennial" |
                                   plant_life_cycle == "annual biennial perennial" |
                                   plant_life_cycle == "annual biennial"
                                   , "multiple", plant_life_cycle))

Group the data on {survey_ID, plant_native_status, plant_life_cycle, plant_life_form}. Sum the intercepts_pct within each group, and divide the sums by 4 to obtain the detection_rate per 100 intercepts possible.

In [ ]:
df_plant_functional_groups %>%
  group_by(survey_ID, plant_native_status, plant_life_cycle, plant_life_form) %>%
  summarise(intercepts_pct_sum = sum(intercepts_pct), detection_rate = sum(intercepts_pct)/4) %>%
  filter(survey_ID == "436")

`summarise()` regrouping output by 'survey_ID', 'plant_native_status', 'plant_life_cycle' (override with `.groups` argument)

   survey_ID plant_native_status plant_life_cycle plant_life_form
1  436       native              annual           forb
2  436       native              multiple         forb
3  436       native              perennial        forb
4  436       native              perennial        graminoid
5  436       native              perennial        shrub
6  436       native              perennial        tree
7  436       native              unknown          forb
8  436       nonnative           annual           forb
9  436       nonnative           annual           graminoid
10 436       nonnative           multiple         forb
11 436       nonnative           perennial        forb
   intercepts_pct_sum detection_rate
1   3.5                0.875
2   1.0                0.250
3   8.5                2.125
4  44.5               11.125
5  10.5                2.625
6   2.0                0.500
7   0.5                0.125
8   1.5                0.375
9   5.5                1.375
10  1.0                0.250
11  0.5                0.125

In [ ]:
df_plant_functional_groups <- df_plant_functional_groups %>%
  group_by(survey_ID, plant_native_status, plant_life_cycle, plant_life_form) %>%
  summarise(intercepts_pct_sum = sum(intercepts_pct), detection_rate = sum(intercepts_pct)/4)

In [ ]:
df_plant_functional_groups %>% glimpse()

Rows: 9,015
Columns: 6
Groups: survey_ID, plant_native_status, plant_life_cycle [5,560]
$ survey_ID           <chr> "012C5FAD-2451-41B0-9E2F-432D1ECEB55C", "012C5FAD…
$ plant_native_status <chr> "native", "native", "native", "native", "native",…
$ plant_life_cycle    <chr> "annual", "multiple", "perennial", "perennial", "…
$ plant_life_form     <chr> "forb", "forb", "forb", "graminoid", "shrub", "fo…
$ intercepts_pct_sum  <dbl> 6.5, 1.0, 14.5, 5.0, 8.5, 5.0, 46.0, 15.0, 25.0, …
$ detection_rate      <dbl> 1.625, 0.250, 3.625, 1.250, 2.125, 1.250, 11.500,…

Then, make sure all combinations of functional groups that are found in the data are represented in each survey_ID. For those groups which were not detected at a survey_ID, fill the detection_rate with 0. The following tables show the categories of functional groups and the full list of all possible combinations.

### Template Survey

In [ ]:
survey_ID <- c('xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx', 'xxx-xxx')
grid_point <- c(01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234, 01234)
key_plant_code <- c('NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA')
plant_native_status <- c('native', 'native', 'native', 'native', 'native', 'native', 'native', 'native', 'native', 'native', 'native', 
                         'nonnative', 'nonnative', 'nonnative', 'nonnative', 'nonnative', 'nonnative', 'nonnative', 'nonnative', 'nonnative', 'nonnative', 'nonnative', 
                         'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown')
plant_life_cycle <- c('annual', 'annual', 'biennial', 'multiple', 'multiple', 'perennial', 'perennial', 'perennial', 'perennial', 'perennial', 'unknown', 'annual', 'annual', 'biennial', 'multiple', 'perennial', 'perennial', 'perennial', 'perennial', 'perennial', 'unknown', 'unknown', 'annual', 'perennial', 'perennial', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown')
plant_life_form <- c('forb', 
                     'graminoid', 
                     'forb', 
                     'forb', 
                     'graminoid', 
                     'forb', 
                     'graminoid', 
                     'shrub',
                     'tree',
                     'vine',
                     'forb',
                     'forb',
                     'graminoid',
                     'forb',
                     'forb',
                     'forb',
                     'graminoid',
                     'shrub',
                     'tree',
                     'vine',
                     'forb',
                     'graminoid',
                     'forb',
                     'forb',
                     'graminoid',
                     'forb',
                     'graminoid',
                     'shrub',
                     'tree',
                     'unknown')

template_survey <- data.frame(survey_ID, grid_point, plant_native_status, plant_life_cycle, plant_life_form)
template_survey$intercepts_pct <- 0
template_survey$detection_rate <- 0

In [ ]:
template_survey

   survey_ID grid_point plant_native_status plant_life_cycle plant_life_form
1  xxx-xxx   1234       native              annual           forb
2  xxx-xxx   1234       native              annual           graminoid
3  xxx-xxx   1234       native              biennial         forb
4  xxx-xxx   1234       native              multiple         forb
5  xxx-xxx   1234       native              multiple         graminoid
6  xxx-xxx   1234       native              perennial        forb
7  xxx-xxx   1234       native              perennial        graminoid
8  xxx-xxx   1234       native              perennial        shrub
9  xxx-xxx   1234       native              perennial        tree
10 xxx-xxx   1234       native              perennial        vine
11 xxx-xxx   1234       native              unknown          forb
12 xxx-xxx   1234       nonnative           annual           forb
13 xxx-xxx   1234       nonnative           annual           graminoid
14 xxx-xxx   1234       nonnative           biennial         forb
15 xxx-xxx   1234       nonnative           multiple         forb
16 xxx-xxx   1234       nonnative           perennial        forb
17 xxx-xxx   1234       nonnative           perennial        graminoid
18 xxx-xxx   1234       nonnative           perennial        shrub
19 xxx-xxx   1234       nonnative           perennial        tree
20 xxx-xxx   1234       nonnative           perennial        vine
21 xxx-xxx   1234       nonnative           unknown          forb
22 xxx-xxx   1234       nonnative           unknown          graminoid
23 xxx-xxx   1234       unknown             annual           forb
24 xxx-xxx   1234       unknown             perennial        forb
25 xxx-xxx   1234       unknown             perennial        graminoid
26 xxx-xxx   1234       unknown             unknown          forb
27 xxx-xxx   1234       unknown             unknown          graminoid
28 xxx-xxx   1234       unknown             unknown          shrub
29 xxx-xxx   1234       unknown             unknown          tree
30 xxx-xxx   1234       unknown             unknown          unknown
   intercepts_pct detection_rate
1  0              0
2  0              0
3  0              0
4  0              0
5  0              0
6  0              0
7  0              0
8  0              0
9  0              0
10 0              0
11 0              0
12 0              0
13 0              0
14 0              0
15 0              0
16 0              0
17 0              0
18 0              0
19 0              0
20 0              0
21 0              0
22 0              0
23 0              0
24 0              0
25 0              0
26 0              0
27 0              0
28 0              0
29 0              0
30 0              0

## Group Fill

In [ ]:
df_plant_functional_groups <- df_plant_functional_groups %>%
  ungroup() %>%
  complete(survey_ID, 
           nesting(plant_native_status, plant_life_cycle, plant_life_form), 
           fill = list(intercepts_pct = 0, detection_rate = 0))

In [ ]:
# create reference matrix to refresh grid_points
df_grid_point_ref <- df_plant_intercepts %>%
  select(survey_ID, grid_point) %>%
  distinct(survey_ID, grid_point)

In [ ]:
# df_plant_functional_groups %>%
#   select(plant_native_status, plant_life_cycle, plant_life_form) %>%
#   distinct(plant_native_status, plant_life_cycle, plant_life_form)

In [ ]:
df_plant_functional_groups <- df_plant_functional_groups %>%
  select(!grid_point) %>%
  left_join(df_grid_point_ref)

Note: Using an external vector in selections is ambiguous.
ℹ Use `all_of(grid_point)` instead of `grid_point` to silence this message.
ℹ See <https://tidyselect.r-lib.org/reference/faq-external-vector.html>.
This message is displayed once per session.

ERROR: ignored

In [ ]:
df_plant_functional_groups %>%
  select(plant_native_status, plant_life_cycle, plant_life_form) %>%
  distinct(plant_native_status, plant_life_cycle, plant_life_form) %>%
  count()

  n
1 25

In [ ]:
df_plant_functional_groups %>%
  filter(survey_ID == "833") %>%
  select(survey_ID, plant_native_status, plant_life_cycle, plant_life_form) %>%
  distinct(survey_ID, plant_native_status, plant_life_cycle, plant_life_form) %>%
  count()

  n
1 25

In [ ]:
df_plant_functional_groups %>%
  distinct(survey_ID) %>%
  count()

  n
1 1242

ultimately multiply number of functional groups by survey should equal rows