<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/gridVeg_survey_metadata_wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tools

In [0]:
library(tidyverse)

# Source

In [0]:
# 2020-06-15_gridVeg_survey_metadata_SOURCE.csv
src <- "https://drive.google.com/uc?export=download&id=12FgxXQbpC3XotrATbBLx-SYKypUKkXPt"

In [23]:
df_gridVeg <- read_csv(src)

Parsed with column specification:
cols(
  `__kp_Survey` = col_character(),
  `_kf_Site` = col_double(),
  SurveyYear = col_double(),
  SurveyDate = col_character(),
  Surveyor1 = col_character()
)

# Structure

## Rename
* name according to schema specification

In [16]:
colnames(df_gridVeg)

[1] "__kp_Survey" "_kf_Site"    "SurveyYear"  "SurveyDate"  "Surveyor1"

In [0]:
oldnames = c('__kp_Survey', '_kf_Site', 'SurveyYear', 'SurveyDate', 'Surveyor1') 
newnames = c('survey_ID', 'grid_point', 'year', 'date', 'surveyor')

df_gridVeg <- df_gridVeg %>% rename_at(vars(oldnames), ~ newnames)

## Data Type

In [28]:
str(df_gridVeg)

tibble [1,472 × 5] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ survey_ID : chr [1:1472] "108" "107" "106" "105" ...
 $ grid_point: num [1:1472] 3 4 5 6 7 8 9 10 11 12 ...
 $ year      : num [1:1472] 2010 2010 2010 2010 2010 2010 2010 2010 2010 2010 ...
 $ date      : chr [1:1472] "8/17/10" "8/17/10" "8/17/10" "8/17/10" ...
 $ surveyor  : chr [1:1472] "EAR" "EAR" "EAR" "EAR" ...
 - attr(*, "spec")=
  .. cols(
  ..   `__kp_Survey` = col_character(),
  ..   `_kf_Site` = col_double(),
  ..   SurveyYear = col_double(),
  ..   SurveyDate = col_character(),
  ..   Surveyor1 = col_character()
  .. )

In [0]:
df_gridVeg$grid_point <- as.integer(df_gridVeg$grid_point)

In [0]:
df_gridVeg$year <- as.integer(df_gridVeg$year)

In [0]:
df_gridVeg$date <- as.Date(df_gridVeg$date, "%m/%d/%y")

In [35]:
str(df_gridVeg)

tibble [1,472 × 5] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ survey_ID : chr [1:1472] "108" "107" "106" "105" ...
 $ grid_point: int [1:1472] 3 4 5 6 7 8 9 10 11 12 ...
 $ year      : int [1:1472] 2010 2010 2010 2010 2010 2010 2010 2010 2010 2010 ...
 $ date      : Date[1:1472], format: "2010-08-17" "2010-08-17" ...
 $ surveyor  : chr [1:1472] "EAR" "EAR" "EAR" "EAR" ...
 - attr(*, "spec")=
  .. cols(
  ..   `__kp_Survey` = col_character(),
  ..   `_kf_Site` = col_double(),
  ..   SurveyYear = col_double(),
  ..   SurveyDate = col_character(),
  ..   Surveyor1 = col_character()
  .. )

# Explore

In [36]:
summary(df_gridVeg)

  survey_ID           grid_point         year           date
 Length:1472        Min.   :  1.0   Min.   :2010   Min.   :2010-08-10
 Class :character   1st Qu.:118.0   1st Qu.:2011   1st Qu.:2011-07-08
 Mode  :character   Median :264.0   Median :2012   Median :2012-07-23
                    Mean   :268.8   Mean   :2013   Mean   :2013-09-15
                    3rd Qu.:406.2   3rd Qu.:2016   3rd Qu.:2016-06-27
                    Max.   :583.0   Max.   :2017   Max.   :2017-07-12
   surveyor
 Length:1472
 Class :character
 Mode  :character

# Output

In [0]:
output = '2020-06-15_gridVeg_survey_metadata_WRANGLE.csv'
write_csv(df_gridVeg, path = output)