<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/gridVeg_additional_species_wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Documentation

[Readme - vegetation point transect survey](https://docs.google.com/document/d/1JWnhxNjeSQZkSnGhtHP68i_l1mDj4vPFMBdUvGqN0TA/edit#heading=h.n8y3092qejll)

# Tools

In [19]:
library(tidyverse)

# Source

In [20]:
# 2020-06-15_gridVeg_additional_species_SOURCE.csv
src <- "https://drive.google.com/uc?export=download&id=1QyAgNea0yMEJU4N2FHdAUM-ZhIID2MMi"
df_addsp <- read_csv(src, col_types = cols("Survey Data::__kp_Survey" = col_character()))

In [21]:
head(df_addsp)

  Survey Data::__kp_Survey Survey Data::_kf_Site Survey Data::SurveyDate
1 436                      1                     7/26/11
2 436                      1                     7/26/11
3 436                      1                     7/26/11
4 436                      1                     7/26/11
5 436                      1                     7/26/11
6 436                      1                     7/26/11
  Survey Data::SurveyYear _kf_Species_serial _kf_PlantCode
1 2011                     37                ANTE_SP
2 2011                     51                ARECON
3 2011                     91                CAMROT
4 2011                    153                COLLIN
5 2011                    174                DELBIC
6 2011                    426                DRYGLA

# Wrangle

## Drop column

In [22]:
# remove _kf_PlantCode column
df_addsp <- df_addsp %>%
  select(!('_kf_PlantCode'))

## Rename

In [23]:
names(df_addsp)

[1] "Survey Data::__kp_Survey" "Survey Data::_kf_Site"
[3] "Survey Data::SurveyDate"  "Survey Data::SurveyYear"
[5] "_kf_Species_serial"

In [24]:
oldnames = c('Survey Data::__kp_Survey', 'Survey Data::_kf_Site', 'Survey Data::SurveyDate', 
             'Survey Data::SurveyYear', '_kf_Species_serial')
newnames = c('survey_ID', 'grid_point', 'date', 'year', 'key_plant_species')

# df_pt %>% rename_at(vars(all_of(oldnames)), ~ newnames)
df_addsp <- df_addsp %>% 
  rename_at(vars(all_of(oldnames)), ~ newnames)

## Set DataType

In [25]:
glimpse(df_addsp)

Rows: 11,429
Columns: 5
$ survey_ID         <chr> "436", "436", "436", "436", "436", "436", "436", "4…
$ grid_point        <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, …
$ date              <chr> "7/26/11", "7/26/11", "7/26/11", "7/26/11", "7/26/1…
$ year              <dbl> 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 201…
$ key_plant_species <dbl> 37, 51, 91, 153, 174, 426, 270, 343, 384, 427, 484,…

In [27]:
df_addsp$grid_point <- as.integer(df_addsp$grid_point)
df_addsp$date <- as.Date(df_addsp$date, "%m/%d/%Y")
df_addsp$year <- as.integer(df_addsp$year)
df_addsp$key_plant_species <- as.integer(df_addsp$key_plant_species)

In [28]:
glimpse(df_addsp)

Rows: 11,429
Columns: 5
$ survey_ID         <chr> "436", "436", "436", "436", "436", "436", "436", "4…
$ grid_point        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, …
$ date              <date> 11-07-26, 11-07-26, 11-07-26, 11-07-26, 11-07-26, …
$ year              <int> 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 201…
$ key_plant_species <int> 37, 51, 91, 153, 174, 426, 270, 343, 384, 427, 484,…

# Explore

In [ ]:
df_addsp %>%
  distinct(key_plant_species) %>%
  arrange(key_plant_species)

# Output

In [32]:
write_csv(df_addsp, path = "gridVeg_additional_species_WRANGLE.csv")