<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/gridVeg_point_intercept_wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Documentation

[Readme - vegetation point transect survey](https://docs.google.com/document/d/1JWnhxNjeSQZkSnGhtHP68i_l1mDj4vPFMBdUvGqN0TA/edit?usp=sharing)

# Tools

In [ ]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# Source

In [ ]:
# 2020-06-17_gridVeg_point_intercepts_SOURCE.csv
src_intercept <- "https://drive.google.com/uc?export=download&id=1Uj8Nvo0GtFueZt6_Yli2D8jWiqACNssv"

In [ ]:
df_pt <- read_csv(src_intercept, col_types = cols("Survey Data::__kp_Survey" = col_character(),
                                                  "_kf_Hit2_serial" = col_character(),
                                                  "_kf_Hit3_serial" = col_character(),
                                                  "_kf_Hit4_serial" = col_character()))

In [ ]:
head(df_pt)

  Survey Data::__kp_Survey Survey Data::_kf_Site Survey Data::SurveyDate
1 5                        108                   11/15/2010
2 5                        108                   11/15/2010
3 5                        108                   11/15/2010
4 5                        108                   11/15/2010
5 5                        108                   11/15/2010
6 5                        108                   11/15/2010
  Survey Data::SurveyYear PointTrans _kf_Hit1_serial Height _kf_Hit2_serial
1 2010                    N1         406             20     NA
2 2010                    N2          12             27     NA
3 2010                    N3          12             16     NA
4 2010                    N4          12             17     NA
5 2010                    N5          12             16     NA
6 2010                    N6          12             16     NA
  _kf_Hit3_serial _kf_Hit4_serial GroundCover
1 NA              NA              NA
2 NA              NA              NA
3 NA              NA              NA
4 NA              NA              NA
5 NA              NA              NA
6 NA              NA              NA

# Wrangle

## Rename

In [ ]:
names(df_pt)

 [1] "Survey Data::__kp_Survey" "Survey Data::_kf_Site"
 [3] "Survey Data::SurveyDate"  "Survey Data::SurveyYear"
 [5] "PointTrans"               "_kf_Hit1_serial"
 [7] "Height"                   "_kf_Hit2_serial"
 [9] "_kf_Hit3_serial"          "_kf_Hit4_serial"
[11] "GroundCover"

In [ ]:
oldnames = c('Survey Data::__kp_Survey','Survey Data::_kf_Site','Survey Data::SurveyDate',
             'Survey Data::SurveyYear','PointTrans','_kf_Hit1_serial','Height',
             '_kf_Hit2_serial','_kf_Hit3_serial','_kf_Hit4_serial','GroundCover')
          
newnames = c('survey_ID', 'grid_point', 'date', 'year', 
             'transect_point', 'intercept_1', 'height_intercept_1', 'intercept_2',
             'intercept_3', 'intercept_4', 'intercept_ground_code')

df_pt <- df_pt %>% rename_at(vars(all_of(oldnames)), ~ newnames)

In [ ]:
head(df_pt)

  survey_ID grid_point date       year transect_point intercept_1
1 5         108        11/15/2010 2010 N1             406
2 5         108        11/15/2010 2010 N2              12
3 5         108        11/15/2010 2010 N3              12
4 5         108        11/15/2010 2010 N4              12
5 5         108        11/15/2010 2010 N5              12
6 5         108        11/15/2010 2010 N6              12
  height_intercept_1 intercept_2 intercept_3 intercept_4 intercept_ground_code
1 20                 NA          NA          NA          NA
2 27                 NA          NA          NA          NA
3 16                 NA          NA          NA          NA
4 17                 NA          NA          NA          NA
5 16                 NA          NA          NA          NA
6 16                 NA          NA          NA          NA

## Filter

In [ ]:
# remove 2010
df_pt <- df_pt %>%
  filter(year > 2010)

## Explore

### grid_point

In [ ]:
df_pt %>%
  distinct(grid_point) %>%
  arrange(grid_point)

    grid_point
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17
18  18
19  19
20  20
21  21
22  22
23  23
24  24
25  25
26  26
27  27
28  28
29  29
30  30
⋮   ⋮
553 554
554 555
555 556
556 557
557 558
558 559
559 560
560 561
561 562
562 563
563 564
564 565
565 566
566 567
567 568
568 569
569 570
570 571
571 572
572 573
573 574
574 575
575 576
576 577
577 578
578 579
579 580
580 581
581 582
582 583

### transect_point

In [ ]:
df_pt %>%
  distinct(transect_point) %>%
  arrange(transect_point)

    transect_point
1   E1
2   E10
3   E11
4   E12
5   E13
6   E14
7   E15
8   E16
9   E17
10  E18
11  E19
12  E2
13  E20
14  E21
15  E22
16  E23
17  E24
18  E25
19  E26
20  E27
21  E28
22  E29
23  E3
24  E30
25  E31
26  E32
27  E33
28  E34
29  E35
30  E36
⋮   ⋮
175 W28
176 W29
177 W3
178 W30
179 W31
180 W32
181 W33
182 W34
183 W35
184 W36
185 W37
186 W38
187 W39
188 W4
189 W40
190 W41
191 W42
192 W43
193 W44
194 W45
195 W46
196 W47
197 W48
198 W49
199 W5
200 W50
201 W6
202 W7
203 W8
204 W9

In [ ]:
# set outliers to NA
outliers <- c("se", "T", "W21E")

df_pt <- df_pt %>%
  mutate(transect_point = ifelse(transect_point == "se" |
                                 transect_point == "T" |
                                 transect_point == "W21E", NA, transect_point))

### intercept_ground_code

In [ ]:
df_pt %>%
  distinct(intercept_ground_code) %>%
  arrange(intercept_ground_code)

   intercept_ground_code
1  BG
2  BV
3  G
4  L
5  LIC
6  M
7  M/L
8  NDC
9  OTHER
10 R
11 SC
12 SD
13 SE
14 SH
15 SU
16 WDL
17 WDS
18 WDSTUMP
19 WDT
20 NA

In [ ]:
not_in_list <- c("NDC")

df_pt <- df_pt %>%
  mutate(intercept_ground_code = ifelse(intercept_ground_code == "NDC", NA, intercept_ground_code))

In [ ]:
df_pt %>%
  distinct(intercept_ground_code) %>%
  arrange(intercept_ground_code)

   intercept_ground_code
1  BG
2  BV
3  G
4  L
5  LIC
6  M
7  M/L
8  OTHER
9  R
10 SC
11 SD
12 SE
13 SH
14 SU
15 WDL
16 WDS
17 WDSTUMP
18 WDT
19 NA

## Data Types

In [ ]:
glimpse(df_pt)

Rows: 248,645
Columns: 11
$ survey_ID             <chr> "69", "69", "69", "69", "69", "69", "69", "69",…
$ grid_point            <dbl> 329, 329, 329, 329, 329, 329, 329, 329, 329, 32…
$ date                  <chr> "07/18/2011", "07/18/2011", "07/18/2011", "07/1…
$ year                  <dbl> 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,…
$ transect_point        <chr> "N1", "N2", "N3", "N4", "N5", "N6", "N7", "N8",…
$ intercept_1           <dbl> 497, 497, 497, 497, 497, 497, 497, 12, 82, 82, …
$ height_intercept_1    <dbl> 60.0, 67.0, 55.0, 62.5, 65.0, 70.0, 40.0, 40.0,…
$ intercept_2           <chr> "82", "82", "82", "82", "82", "82", "82", "82",…
$ intercept_3           <chr> NA, NA, NA, NA, NA, "12", NA, NA, NA, NA, NA, N…
$ intercept_4           <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ intercept_ground_code <chr> "L", "L", "L", "L", "L", "BV", "L", "BV", "BV",…

In [ ]:
df_pt$grid_point <- as.integer(df_pt$grid_point)
df_pt$date <- as.Date(df_pt$date, "%m/%d/%Y")
df_pt$year <- as.integer(df_pt$year)
df_pt$intercept_1 <- as.integer(df_pt$intercept_1)
df_pt$height_intercept_1 <- as.integer(df_pt$height_intercept_1)
df_pt$intercept_2 <- as.integer(df_pt$intercept_2)
df_pt$intercept_3 <- as.integer(df_pt$intercept_3)
df_pt$intercept_4 <- as.integer(df_pt$intercept_4)

In [ ]:
glimpse(df_pt)

Rows: 248,645
Columns: 11
$ survey_ID             <chr> "69", "69", "69", "69", "69", "69", "69", "69",…
$ grid_point            <int> 329, 329, 329, 329, 329, 329, 329, 329, 329, 32…
$ date                  <date> 2011-07-18, 2011-07-18, 2011-07-18, 2011-07-18…
$ year                  <int> 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,…
$ transect_point        <chr> "N1", "N2", "N3", "N4", "N5", "N6", "N7", "N8",…
$ intercept_1           <int> 497, 497, 497, 497, 497, 497, 497, 12, 82, 82, …
$ height_intercept_1    <int> 60, 67, 55, 62, 65, 70, 40, 40, 5, 15, 15, 1, 7…
$ intercept_2           <int> 82, 82, 82, 82, 82, 82, 82, 82, NA, NA, NA, NA,…
$ intercept_3           <int> NA, NA, NA, NA, NA, 12, NA, NA, NA, NA, NA, NA,…
$ intercept_4           <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ intercept_ground_code <chr> "L", "L", "L", "L", "L", "BV", "L", "BV", "BV",…

### Testing assumptions
1. When ground cover = bare ground, there was no vegetation intercepted above it
   1. Not true. Bare ground is synonymous with "soil" in these data
1. When ground cover = similar to bare ground (e.g., gravel, rock, wood), there was no vegetation intercepted above it

In [ ]:
df_pt %>% filter(intercept_ground_code == "BG") %>% select(intercept_1, intercept_2, intercept_3, intercept_4, intercept_ground_code) %>% distinct()

     intercept_1 intercept_2 intercept_3 intercept_4 intercept_ground_code
1    360          NA         NA          NA          BG
2     82          NA         NA          NA          BG
3     90          82         NA          NA          BG
4     82          90         NA          NA          BG
5     72          NA         NA          NA          BG
6    437         411         NA          NA          BG
7    437          NA         NA          NA          BG
8    411          82         NA          NA          BG
9    411          NA         NA          NA          BG
10    72         437         NA          NA          BG
11    63          NA         NA          NA          BG
12   265          NA         NA          NA          BG
13   437         125         NA          NA          BG
14   529          NA         NA          NA          BG
15   411         405         NA          NA          BG
16   437         265         NA          NA          BG
17   525          NA         NA          NA          BG
18    53          NA         NA          NA          BG
19    12          NA         NA          NA          BG
20    20          NA         NA          NA          BG
21   496          82         20          NA          BG
22    82          20         NA          NA          BG
23   496          82         NA          NA          BG
24   496          NA         NA          NA          BG
25    82         496         20          NA          BG
26   496          20         NA          NA          BG
27   496          20         82          NA          BG
28    61          82         NA          NA          BG
29    43         265         NA          NA          BG
30    82          67         NA          NA          BG
⋮    ⋮           ⋮           ⋮           ⋮           ⋮
1907 633         575         373         NA          BG
1908 575         414          NA         NA          BG
1909 334         492          NA         NA          BG
1910 334         414          NA         NA          BG
1911 334         544          NA         NA          BG
1912 334         689          NA         NA          BG
1913 437          20          82         NA          BG
1914 125         230          NA         NA          BG
1915   3          82          NA         NA          BG
1916 125         146          NA         NA          BG
1917 437         287          NA         NA          BG
1918  82         149          NA         NA          BG
1919 389         230          NA         NA          BG
1920 433         125          NA         NA          BG
1921  24         146          NA         NA          BG
1922  62          NA          NA         NA          BG
1923 428           5          NA         NA          BG
1924 232         101          NA         NA          BG
1925 433         516         167         NA          BG
1926 357         405         125         NA          BG
1927 496         357          NA         NA          BG
1928 125          87         327         NA          BG
1929 146         415          NA         NA          BG
1930 415         101          NA         NA          BG
1931 516          20          NA         NA          BG
1932 320         101          NA         NA          BG
1933 395          52          NA         NA          BG
1934  72         395          NA         NA          BG
1935 233         221          NA         NA          BG
1936 516         395          NA         NA          BG

# Table Structure

## gridVeg_point_intercept_vegetation

In [ ]:
df_veg <- df_pt[, c("survey_ID", "grid_point", "date", "year",
          "transect_point", "height_intercept_1",
          "intercept_1", "intercept_2", "intercept_3", "intercept_4")]

In [ ]:
glimpse(df_veg)

Rows: 248,645
Columns: 10
$ survey_ID          <chr> "69", "69", "69", "69", "69", "69", "69", "69", "6…
$ grid_point         <int> 329, 329, 329, 329, 329, 329, 329, 329, 329, 329, …
$ date               <date> 2011-07-18, 2011-07-18, 2011-07-18, 2011-07-18, 2…
$ year               <int> 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 20…
$ transect_point     <chr> "N1", "N2", "N3", "N4", "N5", "N6", "N7", "N8", "N…
$ height_intercept_1 <int> 60, 67, 55, 62, 65, 70, 40, 40, 5, 15, 15, 1, 7, 5…
$ intercept_1        <int> 497, 497, 497, 497, 497, 497, 497, 12, 82, 82, 82,…
$ intercept_2        <int> 82, 82, 82, 82, 82, 82, 82, 82, NA, NA, NA, NA, NA…
$ intercept_3        <int> NA, NA, NA, NA, NA, 12, NA, NA, NA, NA, NA, NA, NA…
$ intercept_4        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…

### Output

In [ ]:
write_csv(df_veg, path = "gridVeg_point_intercept_vegetation_WRANGLE.csv")

Warning message:
“The `path` argument of `write_csv()` is deprecated as of readr 1.4.0.
Please use the `file` argument instead.
This warning is displayed once every 8 hours.
Call `lifecycle::last_warnings()` to see where this warning was generated.”

## gridVeg_point_intercept_ground

In [ ]:
df_gnd <- df_pt[, c("survey_ID", "grid_point", "date", "year", 
          "transect_point", "intercept_ground_code")]

In [ ]:
glimpse(df_gnd)

Rows: 248,645
Columns: 6
$ survey_ID             <chr> "69", "69", "69", "69", "69", "69", "69", "69",…
$ grid_point            <int> 329, 329, 329, 329, 329, 329, 329, 329, 329, 32…
$ date                  <date> 2011-07-18, 2011-07-18, 2011-07-18, 2011-07-18…
$ year                  <int> 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,…
$ transect_point        <chr> "N1", "N2", "N3", "N4", "N5", "N6", "N7", "N8",…
$ intercept_ground_code <chr> "L", "L", "L", "L", "L", "BV", "L", "BV", "BV",…

### Output

In [ ]:
write_csv(df_gnd, path = "gridVeg_point_intercept_ground_WRANGLE.csv")