<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/gridVeg_survey_metadata_wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tools

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.1     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   1.0.0
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# Source

In [2]:
# 2020-06-15_gridVeg_survey_metadata_SOURCE.csv
src <- "https://drive.google.com/uc?export=download&id=12FgxXQbpC3XotrATbBLx-SYKypUKkXPt"

In [3]:
df_gridVeg <- read_csv(src)

Parsed with column specification:
cols(
  `__kp_Survey` = col_character(),
  `_kf_Site` = col_double(),
  SurveyYear = col_double(),
  SurveyDate = col_character(),
  Surveyor1 = col_character()
)

# Structure

## Rename
* name according to schema specification

In [4]:
colnames(df_gridVeg)

[1] "__kp_Survey" "_kf_Site"    "SurveyYear"  "SurveyDate"  "Surveyor1"

In [5]:
oldnames = c('__kp_Survey', '_kf_Site', 'SurveyYear', 'SurveyDate', 'Surveyor1') 
newnames = c('survey_ID', 'grid_point', 'year', 'date', 'surveyor')

df_gridVeg <- df_gridVeg %>% rename_at(vars(oldnames), ~ newnames)

Note: Using an external vector in selections is ambiguous.
ℹ Use `all_of(oldnames)` instead of `oldnames` to silence this message.
ℹ See <https://tidyselect.r-lib.org/reference/faq-external-vector.html>.
This message is displayed once per session.

## Data Type

In [6]:
str(df_gridVeg)

tibble [1,472 × 5] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ survey_ID : chr [1:1472] "108" "107" "106" "105" ...
 $ grid_point: num [1:1472] 3 4 5 6 7 8 9 10 11 12 ...
 $ year      : num [1:1472] 2010 2010 2010 2010 2010 2010 2010 2010 2010 2010 ...
 $ date      : chr [1:1472] "8/17/10" "8/17/10" "8/17/10" "8/17/10" ...
 $ surveyor  : chr [1:1472] "EAR" "EAR" "EAR" "EAR" ...
 - attr(*, "spec")=
  .. cols(
  ..   `__kp_Survey` = col_character(),
  ..   `_kf_Site` = col_double(),
  ..   SurveyYear = col_double(),
  ..   SurveyDate = col_character(),
  ..   Surveyor1 = col_character()
  .. )

In [7]:
df_gridVeg$grid_point <- as.integer(df_gridVeg$grid_point)

In [8]:
df_gridVeg$year <- as.integer(df_gridVeg$year)

In [9]:
df_gridVeg$date <- as.Date(df_gridVeg$date, "%m/%d/%y")

In [10]:
str(df_gridVeg)

tibble [1,472 × 5] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ survey_ID : chr [1:1472] "108" "107" "106" "105" ...
 $ grid_point: int [1:1472] 3 4 5 6 7 8 9 10 11 12 ...
 $ year      : int [1:1472] 2010 2010 2010 2010 2010 2010 2010 2010 2010 2010 ...
 $ date      : Date[1:1472], format: "2010-08-17" "2010-08-17" ...
 $ surveyor  : chr [1:1472] "EAR" "EAR" "EAR" "EAR" ...
 - attr(*, "spec")=
  .. cols(
  ..   `__kp_Survey` = col_character(),
  ..   `_kf_Site` = col_double(),
  ..   SurveyYear = col_double(),
  ..   SurveyDate = col_character(),
  ..   Surveyor1 = col_character()
  .. )

# Explore

In [11]:
summary(df_gridVeg)

  survey_ID           grid_point         year           date
 Length:1472        Min.   :  1.0   Min.   :2010   Min.   :2010-08-10
 Class :character   1st Qu.:118.0   1st Qu.:2011   1st Qu.:2011-07-08
 Mode  :character   Median :264.0   Median :2012   Median :2012-07-23
                    Mean   :268.8   Mean   :2013   Mean   :2013-09-15
                    3rd Qu.:406.2   3rd Qu.:2016   3rd Qu.:2016-06-27
                    Max.   :583.0   Max.   :2017   Max.   :2017-07-12
   surveyor
 Length:1472
 Class :character
 Mode  :character

In [12]:
df_gridVeg %>%
  distinct(surveyor)

   surveyor
1  EAR
2  MAW
3  MAE
4  PAW
5  RDW
6  JCR
7  TAH
8  MPK
9  RDW\n
10 RAD
11 SLV
12 JMM
13 ALG
14 MED
15 Med
16 med

In [13]:
values <- c('Med', 'med')

df_gridVeg %>%
  filter(surveyor %in% values)

  survey_ID                            grid_point year date       surveyor
1 93FE2753-53F1-4525-8C0B-391CF7DDD8DD  80        2016 2016-05-23 Med
2 C6C3B9F6-EA22-40C8-80CA-AA41151681B0 104        2016 2016-06-02 Med
3 9820BB50-8B2D-4CEB-ABBB-F920D39C5F49 112        2016 2016-05-16 med
4 9F3E5065-5B34-401C-8BA5-5BCCD3B597AC 271        2016 2016-05-12 med
5 0ADBB23B-6019-460A-A03C-C207752A1B44 309        2016 2016-05-17 med
6 4FCB1E58-7B13-47C5-BC0F-63A029F73E5A 322        2016 2016-05-11 med
7 2DADFDB5-9B4D-4E61-9ABD-E7E84FD942AA 384        2016 2016-05-26 Med

# Tidy

In [14]:
# standardize surveyor values
values <- c('Med', 'med')

df_gridVeg <- df_gridVeg %>%
  mutate(surveyor = ifelse(surveyor %in% values, 'MED', surveyor))

In [15]:
df_gridVeg %>%
  distinct(surveyor)

   surveyor
1  EAR
2  MAW
3  MAE
4  PAW
5  RDW
6  JCR
7  TAH
8  MPK
9  RDW\n
10 RAD
11 SLV
12 JMM
13 ALG
14 MED

# Update

2020-06-18 add survey_sequence variable 

this variable allows us to collapse records from 2011 and 2012 into a single year for analysis and graphics. Surveys in those two years together constitute the baseline survey.

create this new variable from `year`. Recode 2011 and 2012 to 2011-12. Leave all other years the same. The new variable survey_sequence will be in {​2010, 2011-12, 2013, 2015, 2016, 2017}

In [27]:
df_gridVeg <- df_gridVeg %>%
  mutate(survey_sequence = ifelse((year == 2011 | year == 2012), "2011-12", as.character(year)))

# Output

In [28]:
# updated output by esamsoe on 2020-06-18
output = '2020-06-15_gridVeg_survey_metadata_WRANGLE.csv'
write_csv(df_gridVeg, path = output)