<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/mpg_weather_wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primary author esamsoe@gmail.com

In [0]:
import pandas as pd

## Load Data

In [0]:
# load 2012_2019_mpg_weather.csv
src = 'https://drive.google.com/uc?id=1dvy1a_5PTLpmF6t8MBWL9gyIwoB0T-cK'
df = pd.read_csv(src)

In [9]:
df.head()

            Date Time   ... High Rain Rate TX6 (in/hr)
0  2012-06-19 16:00:00  ...                        NaN
1  2012-06-19 16:05:00  ...                        NaN
2  2012-06-19 16:10:00  ...                        NaN
3  2012-06-19 16:15:00  ...                        NaN
4  2012-06-19 16:20:00  ...                        NaN

[5 rows x 44 columns]

## Restructure

### Drop 'Day of the Week '

In [0]:
# drop day of the week
df = df.loc[:, df.columns != 'Day of the Week ']

### Rename columns

In [0]:
# rename columns
rename_columns = ['Date Time',
 'Outside Temperature baldy summit_f',
 'High Outside Temperature baldy summit_f',
 'Low Outside Temperature baldy summit_f',
 'Wind Speed baldy summit_mpg',
 'High Wind Speed baldy summit_mpg',
 'Rain Amount baldy summit_in',
 'High Rain Rate baldy summit_in_hr',
 'Outside Temperature baldy draw_f',
 'High Outside Temperature baldy draw_f',
 'Low Outside Temperature baldy draw_f',
 'Wind Speed baldy draw_mpg',
 'High Wind Speed baldy draw_mpg',
 'Rain Amount baldy draw_in',
 'High Rain Rate baldy draw_in_hr',
 'Outside Temperature sanfoin bench_f',
 'High Outside Temperature sanfoin bench_f',
 'Low Outside Temperature sanfoin bench_f',
 'Wind Speed sanfoin bench_mpg',
 'High Wind Speed sanfoin bench_mpg',
 'Rain Amount sanfoin bench_in',
 'High Rain Rate sanfoin bench_in_hr',
 'Outside Temperature south baldy_f',
 'High Outside Temperature south baldy_f',
 'Low Outside Temperature south baldy_f',
 'Wind Speed south baldy_mpg',
 'High Wind Speed south baldy_mpg',
 'Rain Amount south baldy_in',
 'High Rain Rate south baldy_in_hr',
 'Outside Temperature orchard house_f',
 'High Outside Temperature orchard house_f',
 'Low Outside Temperature orchard house_f',
 'Wind Speed orchard house_mpg',
 'High Wind Speed orchard house_mpg',
 'Rain Amount orchard house_in',
 'High Rain Rate orchard house_in_hr',
 'Outside Temperature indian ridge_f',
 'High Outside Temperature indian ridge_f',
 'Low Outside Temperature indian ridge_f',
 'Wind Speed indian ridge_mpg',
 'High Wind Speed indian ridge_mpg',
 'Rain Amount indian ridge_in',
 'High Rain Rate indian ridge_in_hr']

df.columns = rename_columns

In [12]:
df.head()

             Date Time  ...  High Rain Rate indian ridge_in_hr
0  2012-06-19 16:00:00  ...                                NaN
1  2012-06-19 16:05:00  ...                                NaN
2  2012-06-19 16:10:00  ...                                NaN
3  2012-06-19 16:15:00  ...                                NaN
4  2012-06-19 16:20:00  ...                                NaN

[5 rows x 43 columns]

### Wide to Long

In [13]:
ef = df.melt(id_vars=['Date Time'])
ef.head()

             Date Time                            variable  value
0  2012-06-19 16:00:00  Outside Temperature baldy summit_f   54.6
1  2012-06-19 16:05:00  Outside Temperature baldy summit_f   54.9
2  2012-06-19 16:10:00  Outside Temperature baldy summit_f   55.0
3  2012-06-19 16:15:00  Outside Temperature baldy summit_f   54.9
4  2012-06-19 16:20:00  Outside Temperature baldy summit_f   54.8

### Identify Stations

In [0]:
stations = ['baldy summit', 'baldy draw', 'sanfoin bench', 'south baldy', 'orchard house', 'indian ridge']
for station in stations:
  ef.loc[ef['variable'].str.contains(station), 'station'] = station

In [15]:
ef.head()

             Date Time                            variable  value       station
0  2012-06-19 16:00:00  Outside Temperature baldy summit_f   54.6  baldy summit
1  2012-06-19 16:05:00  Outside Temperature baldy summit_f   54.9  baldy summit
2  2012-06-19 16:10:00  Outside Temperature baldy summit_f   55.0  baldy summit
3  2012-06-19 16:15:00  Outside Temperature baldy summit_f   54.9  baldy summit
4  2012-06-19 16:20:00  Outside Temperature baldy summit_f   54.8  baldy summit

### Identify Measurement

In [0]:
measures = ['Outside Temperature', 'High Outside Temperature', 'Low Outside Temperature', 'Wind Speed', 'High Wind Speed', 'Rain Amount', 'High Rain Rate']
for measure in measures:
  ef.loc[ef['variable'].str.contains(measure), 'measure'] = measure

In [17]:
ef.head()

             Date Time  ...              measure
0  2012-06-19 16:00:00  ...  Outside Temperature
1  2012-06-19 16:05:00  ...  Outside Temperature
2  2012-06-19 16:10:00  ...  Outside Temperature
3  2012-06-19 16:15:00  ...  Outside Temperature
4  2012-06-19 16:20:00  ...  Outside Temperature

[5 rows x 5 columns]

### Drop 'variable'
Strings in 'variable' have been transposed to new 'station' and 'measure' columns

In [0]:
# drop 'variable'
ef = ef.loc[:, ef.columns != 'variable']

In [19]:
ef.head()

             Date Time  value       station              measure
0  2012-06-19 16:00:00   54.6  baldy summit  Outside Temperature
1  2012-06-19 16:05:00   54.9  baldy summit  Outside Temperature
2  2012-06-19 16:10:00   55.0  baldy summit  Outside Temperature
3  2012-06-19 16:15:00   54.9  baldy summit  Outside Temperature
4  2012-06-19 16:20:00   54.8  baldy summit  Outside Temperature

### Long to Wide

In [0]:
hf = ef.set_index(['Date Time', 'station', 'measure'])

In [0]:
hf = hf.unstack()

In [22]:
hf.head()

                                                     value  ...
measure                           High Outside Temperature  ... Wind Speed
Date Time           station                                 ...
2012-06-19 16:00:00 baldy draw                        62.8  ...        4.5
                    baldy summit                      54.7  ...        0.0
                    indian ridge                       NaN  ...        NaN
                    orchard house                     67.1  ...        6.4
                    sanfoin bench                      NaN  ...        NaN

[5 rows x 7 columns]

In [0]:
hf = hf.reset_index()

### Rename Columns

In [0]:
# rename columns
hf.columns = ['datetime', 'station', 'high_temp_f', 'high_rain', 'high_wind', 'low_temp_f', 'temp_f', 'rain_amount', 'wind_speed']

In [25]:
hf.head()

              datetime        station  ...  rain_amount  wind_speed
0  2012-06-19 16:00:00     baldy draw  ...          0.0         4.5
1  2012-06-19 16:00:00   baldy summit  ...          0.0         0.0
2  2012-06-19 16:00:00   indian ridge  ...          NaN         NaN
3  2012-06-19 16:00:00  orchard house  ...          0.0         6.4
4  2012-06-19 16:00:00  sanfoin bench  ...          0.0         NaN

[5 rows x 9 columns]

### Reorder Columns

In [0]:
hf = hf[['datetime', 'station', 'temp_f', 'high_temp_f', 'low_temp_f', 'rain_amount', 'high_rain', 'wind_speed']]

In [0]:
# set datetime data type
hf['datetime'] = pd.to_datetime(hf['datetime'])

In [28]:
hf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1277964 entries, 0 to 1277963
Data columns (total 8 columns):
datetime       1277964 non-null datetime64[ns]
station        1277964 non-null object
temp_f         1172452 non-null float64
high_temp_f    1177818 non-null float64
low_temp_f     1177818 non-null float64
rain_amount    1275659 non-null float64
high_rain      1275659 non-null float64
wind_speed     1176653 non-null float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 78.0+ MB

In [29]:
hf.tail()

                   datetime        station  ...  high_rain  wind_speed
1277959 2019-12-31 23:30:00   baldy summit  ...        0.0         NaN
1277960 2019-12-31 23:30:00   indian ridge  ...        0.0        10.9
1277961 2019-12-31 23:30:00  orchard house  ...        0.0         6.5
1277962 2019-12-31 23:30:00  sanfoin bench  ...        0.0         5.9
1277963 2019-12-31 23:30:00    south baldy  ...        0.0         NaN

[5 rows x 8 columns]

# Output

In [0]:
out_file = '200205_mpg_cumulative_weather.csv'
hf.to_csv(out_file, index=False)