<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/mpg_weather_wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primary author esamsoe@gmail.com<br>
Github: [Link](https://github.com/samsoe/mpg_notebooks/blob/master/cumulative_weather_data.ipynb)

In [0]:
import pandas as pd

## Load Data

In [0]:
# load 2012_2019_mpg_weather.csv
src = 'https://drive.google.com/uc?id=1dvy1a_5PTLpmF6t8MBWL9gyIwoB0T-cK'
df = pd.read_csv(src)

In [3]:
df.head(2)

            Date Time   ... High Rain Rate TX6 (in/hr)
0  2012-06-19 16:00:00  ...                        NaN
1  2012-06-19 16:05:00  ...                        NaN

[2 rows x 44 columns]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212994 entries, 0 to 212993
Data columns (total 43 columns):
datetime                                    212994 non-null object
Outside Temperature baldy summit_f          198574 non-null float64
High Outside Temperature baldy summit_f     198950 non-null float64
Low Outside Temperature baldy summit_f      198950 non-null float64
Wind Speed baldy summit_mpg                 198754 non-null float64
High Wind Speed baldy summit_mpg            212994 non-null float64
Rain Amount baldy summit_in                 212994 non-null float64
High Rain Rate baldy summit_in_hr           212994 non-null float64
Outside Temperature baldy draw_f            184677 non-null float64
High Outside Temperature baldy draw_f       186759 non-null float64
Low Outside Temperature baldy draw_f        186759 non-null float64
Wind Speed baldy draw_mpg                   186378 non-null float64
High Wind Speed baldy draw_mpg              212994 non-null float64
Rain Amount baldy draw_in                   212994 non-null float64
High Rain Rate baldy draw_in_hr             212994 non-null float64
Outside Temperature sanfoin bench_f         184190 non-null float64
High Outside Temperature sanfoin bench_f    185908 non-null float64
Low Outside Temperature sanfoin bench_f     185908 non-null float64
Wind Speed sanfoin bench_mpg                185660 non-null float64
High Wind Speed sanfoin bench_mpg           212994 non-null float64
Rain Amount sanfoin bench_in                212994 non-null float64
High Rain Rate sanfoin bench_in_hr          212994 non-null float64
Outside Temperature south baldy_f           199535 non-null float64
High Outside Temperature south baldy_f      199809 non-null float64
Low Outside Temperature south baldy_f       199809 non-null float64
Wind Speed south baldy_mpg                  199731 non-null float64
High Wind Speed south baldy_mpg             212994 non-null float64
Rain Amount south baldy_in                  212994 non-null float64
High Rain Rate south baldy_in_hr            212994 non-null float64
Outside Temperature orchard house_f         212963 non-null float64
High Outside Temperature orchard house_f    212965 non-null float64
Low Outside Temperature orchard house_f     212965 non-null float64
Wind Speed orchard house_mpg                212962 non-null float64
High Wind Speed orchard house_mpg           212994 non-null float64
Rain Amount orchard house_in                212994 non-null float64
High Rain Rate orchard house_in_hr          212994 non-null float64
Outside Temperature indian ridge_f          192513 non-null float64
High Outside Temperature indian ridge_f     193427 non-null float64
Low Outside Temperature indian ridge_f      193427 non-null float64
Wind Speed indian ridge_mpg                 193168 non-null float64
High Wind Speed indian ridge_mpg            210689 non-null float64
Rain Amount indian ridge_in                 210689 non-null float64
High Rain Rate indian ridge_in_hr           210689 non-null float64
dtypes: float64(42), object(1)
memory usage: 69.9+ MB

## Restructure

### Drop 'Day of the Week '

In [0]:
# drop day of the week
df = df.loc[:, df.columns != 'Day of the Week ']

### Rename columns

In [0]:
# rename columns
rename_columns = ['datetime',
 'Outside Temperature baldy summit_f',
 'High Outside Temperature baldy summit_f',
 'Low Outside Temperature baldy summit_f',
 'Wind Speed baldy summit_mpg',
 'High Wind Speed baldy summit_mpg',
 'Rain Amount baldy summit_in',
 'High Rain Rate baldy summit_in_hr',
 'Outside Temperature baldy draw_f',
 'High Outside Temperature baldy draw_f',
 'Low Outside Temperature baldy draw_f',
 'Wind Speed baldy draw_mpg',
 'High Wind Speed baldy draw_mpg',
 'Rain Amount baldy draw_in',
 'High Rain Rate baldy draw_in_hr',
 'Outside Temperature sanfoin bench_f',
 'High Outside Temperature sanfoin bench_f',
 'Low Outside Temperature sanfoin bench_f',
 'Wind Speed sanfoin bench_mpg',
 'High Wind Speed sanfoin bench_mpg',
 'Rain Amount sanfoin bench_in',
 'High Rain Rate sanfoin bench_in_hr',
 'Outside Temperature south baldy_f',
 'High Outside Temperature south baldy_f',
 'Low Outside Temperature south baldy_f',
 'Wind Speed south baldy_mpg',
 'High Wind Speed south baldy_mpg',
 'Rain Amount south baldy_in',
 'High Rain Rate south baldy_in_hr',
 'Outside Temperature orchard house_f',
 'High Outside Temperature orchard house_f',
 'Low Outside Temperature orchard house_f',
 'Wind Speed orchard house_mpg',
 'High Wind Speed orchard house_mpg',
 'Rain Amount orchard house_in',
 'High Rain Rate orchard house_in_hr',
 'Outside Temperature indian ridge_f',
 'High Outside Temperature indian ridge_f',
 'Low Outside Temperature indian ridge_f',
 'Wind Speed indian ridge_mpg',
 'High Wind Speed indian ridge_mpg',
 'Rain Amount indian ridge_in',
 'High Rain Rate indian ridge_in_hr']

df.columns = rename_columns

In [6]:
df.head(2)

              datetime  ...  High Rain Rate indian ridge_in_hr
0  2012-06-19 16:00:00  ...                                NaN
1  2012-06-19 16:05:00  ...                                NaN

[2 rows x 43 columns]

### Wide to Long

In [7]:
ef = df.melt(id_vars=['datetime'])
ef.head()

              datetime                            variable  value
0  2012-06-19 16:00:00  Outside Temperature baldy summit_f   54.6
1  2012-06-19 16:05:00  Outside Temperature baldy summit_f   54.9
2  2012-06-19 16:10:00  Outside Temperature baldy summit_f   55.0
3  2012-06-19 16:15:00  Outside Temperature baldy summit_f   54.9
4  2012-06-19 16:20:00  Outside Temperature baldy summit_f   54.8

### Identify Stations

In [0]:
stations = ['baldy summit', 'baldy draw', 'sanfoin bench', 'south baldy', 'orchard house', 'indian ridge']
for station in stations:
  ef.loc[ef['variable'].str.contains(station), 'station'] = station

In [10]:
ef.head(2)

              datetime                            variable  value       station
0  2012-06-19 16:00:00  Outside Temperature baldy summit_f   54.6  baldy summit
1  2012-06-19 16:05:00  Outside Temperature baldy summit_f   54.9  baldy summit

### Identify Measurement

In [0]:
measures = ['Outside Temperature', 'High Outside Temperature', 'Low Outside Temperature', 'Wind Speed', 'High Wind Speed', 'Rain Amount', 'High Rain Rate']
for measure in measures:
  ef.loc[ef['variable'].str.contains(measure), 'measure'] = measure

In [12]:
ef.head(2)

              datetime  ...              measure
0  2012-06-19 16:00:00  ...  Outside Temperature
1  2012-06-19 16:05:00  ...  Outside Temperature

[2 rows x 5 columns]

### Drop 'variable'
Strings in 'variable' have been transposed to new 'station' and 'measure' columns

In [0]:
# drop 'variable'
ef = ef.loc[:, ef.columns != 'variable']

In [14]:
ef.head(2)

              datetime  value       station              measure
0  2012-06-19 16:00:00   54.6  baldy summit  Outside Temperature
1  2012-06-19 16:05:00   54.9  baldy summit  Outside Temperature

In [26]:
ef.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8945748 entries, 0 to 8945747
Data columns (total 4 columns):
datetime    object
value       float64
station     object
measure     object
dtypes: float64(1), object(3)
memory usage: 273.0+ MB

# Wrangle Wind
The csv export files processed above do not include directional wind data.<br> Process and add additional wind data in following cells.

### Load wind data

In [0]:
# Wind/wind-13_19.csv
wind_src = 'https://drive.google.com/uc?id=1V_uqObEy4Y9QPf9E9oorqb-LVsXl3DtZ'

In [0]:
wf = pd.read_csv(wind_src)

In [17]:
wf.head(2)

  Day of the Week   ... Dominant Wind Dir TX6
0              Tue  ...                    NE
1              Tue  ...                   NNE

[2 rows x 14 columns]

In [27]:
wf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158027 entries, 0 to 158026
Data columns (total 13 columns):
datetime                           158027 non-null object
High Wind Dir baldy summit         149503 non-null object
Dominant Wind Dir baldy summit     149503 non-null object
High Wind Dir baldy draw           117276 non-null object
Dominant Wind Dir baldy draw       117221 non-null object
High Wind Dir sanfoin bench        116195 non-null object
Dominant Wind Dir sanfoin bench    116149 non-null object
High Wind Dir south baldy          151866 non-null object
Dominant Wind Dir south baldy      151874 non-null object
High Wind Dir orchard house        142865 non-null object
Dominant Wind Dir orchard house    142855 non-null object
High Wind Dir indian ridge         132361 non-null object
Dominant Wind Dir indian ridge     132357 non-null object
dtypes: object(13)
memory usage: 15.7+ MB

### Drop 'Day of the Week '

In [0]:
wf = wf.loc[:, wf.columns != 'Day of the Week ']

### Rename columns

In [0]:
# rename wind columns
rename_wind_columns = ['datetime',
'High Wind Dir baldy summit',
'Dominant Wind Dir baldy summit',
'High Wind Dir baldy draw',
'Dominant Wind Dir baldy draw',
'High Wind Dir sanfoin bench',
'Dominant Wind Dir sanfoin bench',
'High Wind Dir south baldy',
'Dominant Wind Dir south baldy',
'High Wind Dir orchard house',
'Dominant Wind Dir orchard house',
'High Wind Dir indian ridge',
'Dominant Wind Dir indian ridge']

In [0]:
wf.columns = rename_wind_columns

In [21]:
wf.head(2)

               datetime  ... Dominant Wind Dir indian ridge
0   01-01-2013 00:00:00  ...                             NE
1   01-01-2013 00:05:00  ...                            NNE

[2 rows x 13 columns]

### Wide to Long

In [22]:
xf = wf.melt(id_vars=['datetime'])
xf.head(2)

               datetime                    variable value
0   01-01-2013 00:00:00  High Wind Dir baldy summit     W
1   01-01-2013 00:05:00  High Wind Dir baldy summit     W

In [55]:
xf.measure.unique()

array(['High Wind Dir', 'Dominant Wind Dir'], dtype=object)

### Identify Stations

In [0]:
stations = ['baldy summit', 'baldy draw', 'sanfoin bench', 'south baldy', 'orchard house', 'indian ridge']
for station in stations:
  xf.loc[xf['variable'].str.contains(station), 'station'] = station

In [24]:
xf.tail(2)

                     datetime  ...       station
1896322   12-31-2019 23:00:00  ...  indian ridge
1896323   12-31-2019 23:30:00  ...  indian ridge

[2 rows x 4 columns]

### Identify Measurement

In [29]:
xf.variable.unique()

array(['High Wind Dir baldy summit', 'Dominant Wind Dir baldy summit',
       'High Wind Dir baldy draw', 'Dominant Wind Dir baldy draw',
       'High Wind Dir sanfoin bench', 'Dominant Wind Dir sanfoin bench',
       'High Wind Dir south baldy', 'Dominant Wind Dir south baldy',
       'High Wind Dir orchard house', 'Dominant Wind Dir orchard house',
       'High Wind Dir indian ridge', 'Dominant Wind Dir indian ridge'],
      dtype=object)

In [0]:
measures = ['High Wind Dir', 'Dominant Wind Dir']
for measure in measures:
  xf.loc[xf['variable'].str.contains(measure), 'measure'] = measure

In [31]:
xf.tail(2)

                     datetime  ...            measure
1896322   12-31-2019 23:00:00  ...  Dominant Wind Dir
1896323   12-31-2019 23:30:00  ...  Dominant Wind Dir

[2 rows x 5 columns]

### Drop 'variable'

In [0]:
xf = xf.loc[:, xf.columns != 'variable']

In [33]:
xf.tail()

                     datetime value       station            measure
1896319   12-31-2019 21:30:00   WNW  indian ridge  Dominant Wind Dir
1896320   12-31-2019 22:00:00    NW  indian ridge  Dominant Wind Dir
1896321   12-31-2019 22:30:00    NW  indian ridge  Dominant Wind Dir
1896322   12-31-2019 23:00:00   NNW  indian ridge  Dominant Wind Dir
1896323   12-31-2019 23:30:00   NNW  indian ridge  Dominant Wind Dir

# Add wind data

'ef' represents a dataset collected from orchard house which includes a majority of the weather variables available.<br>
'xf' represents wind data which was collecte from the orchard house machine.<br>
***concatentate ef and xf here***

In [34]:
ef.tail(2)

                    datetime  value       station         measure
8945746  2019-12-31 23:00:00    0.0  indian ridge  High Rain Rate
8945747  2019-12-31 23:30:00    0.0  indian ridge  High Rain Rate

In [35]:
xf.tail(2)

                     datetime value       station            measure
1896322   12-31-2019 23:00:00   NNW  indian ridge  Dominant Wind Dir
1896323   12-31-2019 23:30:00   NNW  indian ridge  Dominant Wind Dir

In [36]:
ef.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8945748 entries, 0 to 8945747
Data columns (total 4 columns):
datetime    object
value       float64
station     object
measure     object
dtypes: float64(1), object(3)
memory usage: 273.0+ MB

In [37]:
xf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1896324 entries, 0 to 1896323
Data columns (total 4 columns):
datetime    object
value       object
station     object
measure     object
dtypes: object(4)
memory usage: 57.9+ MB

The wind dataset begins in 2013 where the larger dataset starts in 2012.  The large descrepancy in rows is questionable.

In [0]:
# zf is the data frame which contains all available weather variables
frames = [ef, xf]
zf = pd.concat(frames)

In [53]:
zf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10842072 entries, 0 to 1896323
Data columns (total 4 columns):
datetime    object
value       object
station     object
measure     object
dtypes: object(4)
memory usage: 413.6+ MB

In [57]:
zf.measure.unique()

array(['Outside Temperature', 'High Outside Temperature',
       'Low Outside Temperature', 'Wind Speed', 'High Wind Speed',
       'Rain Amount', 'High Rain Rate', 'High Wind Dir',
       'Dominant Wind Dir'], dtype=object)

In [59]:
zf.measure.unique()

array(['Outside Temperature', 'High Outside Temperature',
       'Low Outside Temperature', 'Wind Speed', 'High Wind Speed',
       'Rain Amount', 'High Rain Rate', 'High Wind Dir',
       'Dominant Wind Dir'], dtype=object)

# Wrangle combined dataset

### Long to Wide

In [0]:
wf = zf.set_index(['datetime', 'station', 'measure'])

In [47]:
wf.tail()

                                              value  ...
measure                           Dominant Wind Dir  ... Wind Speed
datetime            station                          ...
2019-12-31 23:30:00 baldy summit                NaN  ...        NaN
                    indian ridge                NaN  ...       10.9
                    orchard house               NaN  ...        6.5
                    sanfoin bench               NaN  ...        5.9
                    south baldy                 NaN  ...        NaN

[5 rows x 9 columns]

In [0]:
wf = wf.unstack()

In [46]:
wf.head(10)

                                               value  ...
measure                            Dominant Wind Dir  ... Wind Speed
datetime             station                          ...
 01-01-2013 00:00:00 baldy draw                    E  ...        NaN
                     baldy summit                  W  ...        NaN
                     indian ridge                 NE  ...        NaN
                     orchard house               NaN  ...        NaN
                     sanfoin bench               ENE  ...        NaN
                     south baldy                  NE  ...        NaN
 01-01-2013 00:05:00 baldy draw                    E  ...        NaN
                     baldy summit                  W  ...        NaN
                     indian ridge                NNE  ...        NaN
                     orchard house               NaN  ...        NaN

[10 rows x 9 columns]

In [0]:
dwf = wf.reset_index()

In [0]:
wf.tail(2)

                    datetime        station  ...       value
measure                                      ... Rain Amount Wind Speed
2226124  2019-12-31 23:30:00  sanfoin bench  ...           0        5.9
2226125  2019-12-31 23:30:00    south baldy  ...           0        NaN

[2 rows x 11 columns]

### Rename Columns

In [0]:
# rename columns
wf.columns = ['datetime', 'station', 'dominant_wind_dir', 'high_temp_f', 'high_rain', 'high_wind_dir', 'high_wind_speed', 'low_temp_f', 'ave_temp_f', 'rain_amount', 'ave_wind_speed']

In [0]:
wf.tail(2)

                    datetime        station  ... rain_amount ave_wind_speed
2226124  2019-12-31 23:30:00  sanfoin bench  ...           0            5.9
2226125  2019-12-31 23:30:00    south baldy  ...           0            NaN

[2 rows x 11 columns]

### Reorder Columns

In [0]:
wf = wf[['datetime', 'station', 'high_temp_f', 'low_temp_f', 'ave_temp_f', 'rain_amount', 'high_rain', 'high_wind_dir', 'high_wind_speed', 'ave_wind_speed', 'dominant_wind_dir']]

In [0]:
# set datetime data type
wf['datetime'] = pd.to_datetime(wf['datetime'])

In [0]:
wf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2226126 entries, 0 to 2226125
Data columns (total 11 columns):
datetime             datetime64[ns]
station              object
high_temp_f          object
low_temp_f           object
ave_temp_f           object
rain_amount          object
high_rain            object
high_wind_dir        object
high_wind_speed      object
ave_wind_speed       object
dominant_wind_dir    object
dtypes: datetime64[ns](1), object(10)
memory usage: 186.8+ MB

In [0]:
wf.tail()

                   datetime        station  ... ave_wind_speed dominant_wind_dir
2226121 2019-12-31 23:30:00   baldy summit  ...            NaN               NaN
2226122 2019-12-31 23:30:00   indian ridge  ...           10.9               NaN
2226123 2019-12-31 23:30:00  orchard house  ...            6.5               NaN
2226124 2019-12-31 23:30:00  sanfoin bench  ...            5.9               NaN
2226125 2019-12-31 23:30:00    south baldy  ...            NaN               NaN

[5 rows x 11 columns]

# Output

In [0]:
### this is not right ###
# output includes all avaiable variables 2013 - 2019
output = 'mpg_orchard-house_weather.csv'
wf.to_csv(output, index=False)

Output Hosted 
* ~/Project Datasets/Weather/Orchard House/[mpg_orchard-house_weather.csv](https://drive.google.com/open?id=1NuAEDeyEy_bA0C5Q1PInIHX6mR7zUOon)

# Summaries

### Load output

In [0]:
# mpg_orchard-house_weather.csv is currently not downloading probably because of size ~120MB
src = 'https://drive.google.com/uc?export=download&confirm=zT-r&id=1NuAEDeyEy_bA0C5Q1PInIHX6mR7zUOon'
odf = pd.read_csv(src)

In [3]:
odf.head()

  <!DOCTYPE html><html><head><title>Google Drive - Virus scan warning</title><meta http-equiv="content-type" content="text/html; charset=utf-8"/><link href=&#47;static&#47;doclist&#47;client&#47;css&#47;620488890&#45;untrustedcontent.css rel="stylesheet"><link rel="icon" href="https://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_4.ico"/><style nonce="puf8IfbWOAo5gEnE/q9eUg">#gbar  ...  a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf .gb4{color:#900 !important}
0  </style><script nonce="puf8IfbWOAo5gEnE/q9eUg"...                                                                                                                                                                                                                                                                                                                                                          ...                                                NaN

[1 rows x 5 columns]

In [0]:
#