<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/mpg_weather_wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primary author esamsoe@gmail.com<br>
Github: [Link](https://github.com/samsoe/mpg_notebooks/blob/master/cumulative_weather_data.ipynb)

In [0]:
import pandas as pd

## Load Data

### Majority

In [0]:
# load 2012_2019_mpg_weather.csv
src = 'https://drive.google.com/uc?id=1dvy1a_5PTLpmF6t8MBWL9gyIwoB0T-cK'
df = pd.read_csv(src)

In [0]:
df.head(2)

            Date Time   ... High Rain Rate TX6 (in/hr)
0  2012-06-19 16:00:00  ...                        NaN
1  2012-06-19 16:05:00  ...                        NaN

[2 rows x 44 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212994 entries, 0 to 212993
Data columns (total 44 columns):
Date Time                            212994 non-null object
Day of the Week                      212994 non-null object
Outside Temperature TX1 (°F)         198574 non-null float64
High Outside Temperature TX1 (°F)    198950 non-null float64
Low Outside Temperature TX1 (°F)     198950 non-null float64
Wind Speed TX1 (mph)                 198754 non-null float64
High Wind Speed TX1 (mph)            212994 non-null float64
Rain Amount TX1 (in)                 212994 non-null float64
High Rain Rate TX1 (in/hr)           212994 non-null float64
Outside Temperature TX2 (°F)         184677 non-null float64
High Outside Temperature TX2 (°F)    186759 non-null float64
Low Outside Temperature TX2 (°F)     186759 non-null float64
Wind Speed TX2 (mph)                 186378 non-null float64
High Wind Speed TX2 (mph)            212994 non-null float64
Rain Amount TX2 (in)                 212994 non-null float64
High Rain Rate TX2 (in/hr)           212994 non-null float64
Outside Temperature TX3 (°F)         184190 non-null float64
High Outside Temperature TX3 (°F)    185908 non-null float64
Low Outside Temperature TX3 (°F)     185908 non-null float64
Wind Speed TX3 (mph)                 185660 non-null float64
High Wind Speed TX3 (mph)            212994 non-null float64
Rain Amount TX3 (in)                 212994 non-null float64
High Rain Rate TX3 (in/hr)           212994 non-null float64
Outside Temperature TX4 (°F)         199535 non-null float64
High Outside Temperature TX4 (°F)    199809 non-null float64
Low Outside Temperature TX4 (°F)     199809 non-null float64
Wind Speed TX4 (mph)                 199731 non-null float64
High Wind Speed TX4 (mph)            212994 non-null float64
Rain Amount TX4 (in)                 212994 non-null float64
High Rain Rate TX4 (in/hr)           212994 non-null float64
Outside Temperature TX5 (°F)         212963 non-null float64
High Outside Temperature TX5 (°F)    212965 non-null float64
Low Outside Temperature TX5 (°F)     212965 non-null float64
Wind Speed TX5 (mph)                 212962 non-null float64
High Wind Speed TX5 (mph)            212994 non-null float64
Rain Amount TX5 (in)                 212994 non-null float64
High Rain Rate TX5 (in/hr)           212994 non-null float64
Outside Temperature TX6 (°F)         192513 non-null float64
High Outside Temperature TX6 (°F)    193427 non-null float64
Low Outside Temperature TX6 (°F)     193427 non-null float64
Wind Speed TX6 (mph)                 193168 non-null float64
High Wind Speed TX6 (mph)            210689 non-null float64
Rain Amount TX6 (in)                 210689 non-null float64
High Rain Rate TX6 (in/hr)           210689 non-null float64
dtypes: float64(42), object(2)
memory usage: 71.5+ MB

### Wind

In [0]:
# Wind/wind-13_19.csv
wind_src = 'https://drive.google.com/uc?id=1V_uqObEy4Y9QPf9E9oorqb-LVsXl3DtZ'

In [0]:
wf = pd.read_csv(wind_src)

In [0]:
wf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158027 entries, 0 to 158026
Data columns (total 14 columns):
Day of the Week          158027 non-null object
Date Time                158027 non-null object
High Wind Dir TX1        149503 non-null object
Dominant Wind Dir TX1    149503 non-null object
High Wind Dir TX2        117276 non-null object
Dominant Wind Dir TX2    117221 non-null object
High Wind Dir TX3        116195 non-null object
Dominant Wind Dir TX3    116149 non-null object
High Wind Dir TX4        151866 non-null object
Dominant Wind Dir TX4    151874 non-null object
High Wind Dir TX5        142865 non-null object
Dominant Wind Dir TX5    142855 non-null object
High Wind Dir TX6        132361 non-null object
Dominant Wind Dir TX6    132357 non-null object
dtypes: object(14)
memory usage: 16.9+ MB

In [0]:
wf.head(2)

  Day of the Week   ... Dominant Wind Dir TX6
0              Tue  ...                    NE
1              Tue  ...                   NNE

[2 rows x 14 columns]

# Join datasets
Combine wind with larger dataset

### Set datetime datatype

In [0]:
## larger dataset
df['Date Time '] = pd.to_datetime(df['Date Time '])

## wind
wf['Date Time '] = pd.to_datetime(wf['Date Time '])

### Drop Column

In [0]:
df = df.loc[:, df.columns != 'Day of the Week ']
wf = wf.loc[:, wf.columns != 'Day of the Week ']

### Set Index

In [0]:
df = df.set_index('Date Time ')
wf = wf.set_index('Date Time ')

### Merge DataFrames

In [0]:
# merged frame
mf = pd.merge(df, wf, how='left', left_index=True, right_index=True)

In [0]:
mf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 212994 entries, 2012-06-19 16:00:00 to 2019-12-31 23:30:00
Data columns (total 54 columns):
Outside Temperature TX1 (°F)         198574 non-null float64
High Outside Temperature TX1 (°F)    198950 non-null float64
Low Outside Temperature TX1 (°F)     198950 non-null float64
Wind Speed TX1 (mph)                 198754 non-null float64
High Wind Speed TX1 (mph)            212994 non-null float64
Rain Amount TX1 (in)                 212994 non-null float64
High Rain Rate TX1 (in/hr)           212994 non-null float64
Outside Temperature TX2 (°F)         184677 non-null float64
High Outside Temperature TX2 (°F)    186759 non-null float64
Low Outside Temperature TX2 (°F)     186759 non-null float64
Wind Speed TX2 (mph)                 186378 non-null float64
High Wind Speed TX2 (mph)            212994 non-null float64
Rain Amount TX2 (in)                 212994 non-null float64
High Rain Rate TX2 (in/hr)           212994 non-null float64
Outside Temperature TX3 (°F)         184190 non-null float64
High Outside Temperature TX3 (°F)    185908 non-null float64
Low Outside Temperature TX3 (°F)     185908 non-null float64
Wind Speed TX3 (mph)                 185660 non-null float64
High Wind Speed TX3 (mph)            212994 non-null float64
Rain Amount TX3 (in)                 212994 non-null float64
High Rain Rate TX3 (in/hr)           212994 non-null float64
Outside Temperature TX4 (°F)         199535 non-null float64
High Outside Temperature TX4 (°F)    199809 non-null float64
Low Outside Temperature TX4 (°F)     199809 non-null float64
Wind Speed TX4 (mph)                 199731 non-null float64
High Wind Speed TX4 (mph)            212994 non-null float64
Rain Amount TX4 (in)                 212994 non-null float64
High Rain Rate TX4 (in/hr)           212994 non-null float64
Outside Temperature TX5 (°F)         212963 non-null float64
High Outside Temperature TX5 (°F)    212965 non-null float64
Low Outside Temperature TX5 (°F)     212965 non-null float64
Wind Speed TX5 (mph)                 212962 non-null float64
High Wind Speed TX5 (mph)            212994 non-null float64
Rain Amount TX5 (in)                 212994 non-null float64
High Rain Rate TX5 (in/hr)           212994 non-null float64
Outside Temperature TX6 (°F)         192513 non-null float64
High Outside Temperature TX6 (°F)    193427 non-null float64
Low Outside Temperature TX6 (°F)     193427 non-null float64
Wind Speed TX6 (mph)                 193168 non-null float64
High Wind Speed TX6 (mph)            210689 non-null float64
Rain Amount TX6 (in)                 210689 non-null float64
High Rain Rate TX6 (in/hr)           210689 non-null float64
High Wind Dir TX1                    149503 non-null object
Dominant Wind Dir TX1                149503 non-null object
High Wind Dir TX2                    117276 non-null object
Dominant Wind Dir TX2                117221 non-null object
High Wind Dir TX3                    116195 non-null object
Dominant Wind Dir TX3                116149 non-null object
High Wind Dir TX4                    151866 non-null object
Dominant Wind Dir TX4                151874 non-null object
High Wind Dir TX5                    142865 non-null object
Dominant Wind Dir TX5                142855 non-null object
High Wind Dir TX6                    132361 non-null object
Dominant Wind Dir TX6                132357 non-null object
dtypes: float64(42), object(12)
memory usage: 99.4+ MB

In [0]:
mf['2013'].head()

                     Outside Temperature TX1 (°F)  ...  Dominant Wind Dir TX6
Date Time                                          ...
2013-01-01 00:00:00                          13.9  ...                     NE
2013-01-01 00:05:00                          14.0  ...                    NNE
2013-01-01 00:10:00                          14.1  ...                    NNE
2013-01-01 00:15:00                          14.1  ...                    NNE
2013-01-01 00:20:00                          14.0  ...                     NE

[5 rows x 54 columns]

# Restructure

### Rename columns

In [0]:
# show existing columns
mf.columns

Index(['Outside Temperature TX1 (°F)', 'High Outside Temperature TX1 (°F)',
       'Low Outside Temperature TX1 (°F)', 'Wind Speed TX1 (mph)',
       'High Wind Speed TX1 (mph)', 'Rain Amount TX1 (in)',
       'High Rain Rate TX1 (in/hr)', 'Outside Temperature TX2 (°F)',
       'High Outside Temperature TX2 (°F)', 'Low Outside Temperature TX2 (°F)',
       'Wind Speed TX2 (mph)', 'High Wind Speed TX2 (mph)',
       'Rain Amount TX2 (in)', 'High Rain Rate TX2 (in/hr)',
       'Outside Temperature TX3 (°F)', 'High Outside Temperature TX3 (°F)',
       'Low Outside Temperature TX3 (°F)', 'Wind Speed TX3 (mph)',
       'High Wind Speed TX3 (mph)', 'Rain Amount TX3 (in)',
       'High Rain Rate TX3 (in/hr)', 'Outside Temperature TX4 (°F)',
       'High Outside Temperature TX4 (°F)', 'Low Outside Temperature TX4 (°F)',
       'Wind Speed TX4 (mph)', 'High Wind Speed TX4 (mph)',
       'Rain Amount TX4 (in)', 'High Rain Rate TX4 (in/hr)',
       'Outside Temperature TX5 (°F)', 'High Outside Temperature TX5 (°F)',
       'Low Outside Temperature TX5 (°F)', 'Wind Speed TX5 (mph)',
       'High Wind Speed TX5 (mph)', 'Rain Amount TX5 (in)',
       'High Rain Rate TX5 (in/hr)', 'Outside Temperature TX6 (°F)',
       'High Outside Temperature TX6 (°F)', 'Low Outside Temperature TX6 (°F)',
       'Wind Speed TX6 (mph)', 'High Wind Speed TX6 (mph)',
       'Rain Amount TX6 (in)', 'High Rain Rate TX6 (in/hr)',
       'High Wind Dir TX1', 'Dominant Wind Dir TX1', 'High Wind Dir TX2',
       'Dominant Wind Dir TX2', 'High Wind Dir TX3', 'Dominant Wind Dir TX3',
       'High Wind Dir TX4', 'Dominant Wind Dir TX4', 'High Wind Dir TX5',
       'Dominant Wind Dir TX5', 'High Wind Dir TX6', 'Dominant Wind Dir TX6'],
      dtype='object')

In [0]:
# rename columns
mf = mf.rename(columns={
'Outside Temperature TX1 (°F)': 'outside temperature baldy summit_f',
'High Outside Temperature TX1 (°F)': 'high outside temperature baldy summit_f',
'Low Outside Temperature TX1 (°F)': 'low outside temperature baldy summit_f',
'Wind Speed TX1 (mph)': 'wind speed baldy summit_mph',
'High Wind Speed TX1 (mph)': 'high wind speed baldy summit_mph',
'Rain Amount TX1 (in)': 'rain amount baldy summit_in',
'High Rain Rate TX1 (in/hr)': 'high rain rate baldy summit_in_hr',
'Outside Temperature TX2 (°F)': 'outside temperature baldy draw_f',
'High Outside Temperature TX2 (°F)': 'high outside temperature baldy draw_f',
'Low Outside Temperature TX2 (°F)': 'low outside temperature baldy draw_f',
'Wind Speed TX2 (mph)': 'wind speed baldy draw_mph',
'High Wind Speed TX2 (mph)': 'high wind speed baldy draw_mph',
'Rain Amount TX2 (in)': 'rain amount baldy draw_in',
'High Rain Rate TX2 (in/hr)': 'high rain rate baldy draw_in_hr',
'Outside Temperature TX3 (°F)': 'outside temperature sanfoin bench_f',
'High Outside Temperature TX3 (°F)': 'high outside temperature sanfoin bench_f',
'Low Outside Temperature TX3 (°F)': 'low outside temperature sanfoin bench_f',
'Wind Speed TX3 (mph)': 'wind speed sanfoin bench_mph',
'High Wind Speed TX3 (mph)': 'high wind speed sanfoin bench_mph',
'Rain Amount TX3 (in)': 'rain amount sanfoin bench_in',
'High Rain Rate TX3 (in/hr)': 'high rain rate sanfoin bench_in_hr',
'Outside Temperature TX4 (°F)': 'outside temperature south baldy_f',
'High Outside Temperature TX4 (°F)': 'high outside temperature south baldy_f',
'Low Outside Temperature TX4 (°F)': 'low outside temperature south baldy_f',
'Wind Speed TX4 (mph)': 'wind speed south baldy_mph',
'High Wind Speed TX4 (mph)': 'high wind speed south baldy_mph',
'Rain Amount TX4 (in)': 'rain amount south baldy_in',
'High Rain Rate TX4 (in/hr)': 'high rain rate south baldy_in_hr',
'Outside Temperature TX5 (°F)': 'outside temperature orchard house_f',
'High Outside Temperature TX5 (°F)': 'high outside temperature orchard house_f',
'Low Outside Temperature TX5 (°F)': 'low outside temperature orchard house_f',
'Wind Speed TX5 (mph)': 'wind speed orchard house_mph',
'High Wind Speed TX5 (mph)': 'high wind speed orchard house_mph',
'Rain Amount TX5 (in)': 'rain amount orchard house_in',
'High Rain Rate TX5 (in/hr)': 'high rain rate orchard house_in_hr',
'Outside Temperature TX6 (°F)': 'outside temperature indian ridge_f',
'High Outside Temperature TX6 (°F)': 'high outside temperature indian ridge_f',
'Low Outside Temperature TX6 (°F)': 'low outside temperature indian ridge_f',
'Wind Speed TX6 (mph)': 'wind speed indian ridge_mph',
'High Wind Speed TX6 (mph)': 'high wind speed indian ridge_mph',
'Rain Amount TX6 (in)': 'rain amount indian ridge_in',
'High Rain Rate TX6 (in/hr)': 'high rain rate indian ridge_in_hr',
'High Wind Dir TX1': 'high wind dir baldy summit',
'Dominant Wind Dir TX1': 'dominant wind dir baldy summit',
'High Wind Dir TX2': 'high wind dir baldy draw',
'Dominant Wind Dir TX2': 'dominant wind dir baldy draw',
'High Wind Dir TX3': 'high wind dir sanfoin bench',
'Dominant Wind Dir TX3': 'dominant wind dir sanfoin bench',
'High Wind Dir TX4': 'high wind dir south baldy',
'Dominant Wind Dir TX4': 'dominant wind dir south baldy',
'High Wind Dir TX5': 'high wind dir orchard house',
'Dominant Wind Dir TX5': 'dominant wind dir orchard house',
'High Wind Dir TX6': 'high wind dir indian ridge',
'Dominant Wind Dir TX6': 'dominant wind dir indian ridge'})

In [0]:
# rename index
mf.index.names = ['datetime']

### Wide to Long

In [0]:
# reset index
mf = mf.reset_index()

In [0]:
ml = mf.melt(id_vars=['datetime'])

In [0]:
ml.head()

             datetime                            variable value
0 2012-06-19 16:00:00  outside temperature baldy summit_f  54.6
1 2012-06-19 16:05:00  outside temperature baldy summit_f  54.9
2 2012-06-19 16:10:00  outside temperature baldy summit_f    55
3 2012-06-19 16:15:00  outside temperature baldy summit_f  54.9
4 2012-06-19 16:20:00  outside temperature baldy summit_f  54.8

### Identify Stations

In [0]:
stations = ['baldy summit', 'baldy draw', 'sanfoin bench', 'south baldy', 'orchard house', 'indian ridge']
for station in stations:
  ml.loc[ml['variable'].str.contains(station), 'station'] = station

In [0]:
ml.tail(2)

                    datetime  ...       station
11501674 2019-12-31 23:00:00  ...  indian ridge
11501675 2019-12-31 23:30:00  ...  indian ridge

[2 rows x 4 columns]

### Identify Measurement

In [0]:
measures = ['outside temperature', 'high outside temperature', 'low outside temperature', 'wind speed', 'high wind speed', 'rain amount', 'high rain rate', 'dominant wind dir', 'high wind dir']

for measure in measures:
  ml.loc[ml['variable'].str.contains(measure), 'measure'] = measure

In [0]:
ml.tail(2)

                    datetime  ...            measure
11501674 2019-12-31 23:00:00  ...  dominant wind dir
11501675 2019-12-31 23:30:00  ...  dominant wind dir

[2 rows x 5 columns]

### Drop 'variable'
Strings in 'variable' have been transposed to new 'station' and 'measure' columns

In [0]:
# drop 'variable'
ml = ml.loc[:, ml.columns != 'variable']

In [0]:
ml.head(2)

             datetime value       station              measure
0 2012-06-19 16:00:00  54.6  baldy summit  outside temperature
1 2012-06-19 16:05:00  54.9  baldy summit  outside temperature

In [0]:
ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11501676 entries, 0 to 11501675
Data columns (total 4 columns):
datetime    datetime64[ns]
value       object
station     object
measure     object
dtypes: datetime64[ns](1), object(3)
memory usage: 351.0+ MB

# Wrangle combined dataset

### Long to Wide

In [0]:
mw = ml.set_index(['datetime', 'station', 'measure'])

In [0]:
mw.tail(2)

                                                   value
datetime            station      measure
2019-12-31 23:00:00 indian ridge dominant wind dir   NNW
2019-12-31 23:30:00 indian ridge dominant wind dir   NNW

In [0]:
mw = mw.unstack()

In [0]:
mw.tail(2)

                                              value  ...
measure                           dominant wind dir  ... wind speed
datetime            station                          ...
2019-12-31 23:30:00 sanfoin bench                NW  ...        5.9
                    south baldy                 NaN  ...        NaN

[2 rows x 9 columns]

In [0]:
mw = mw.reset_index()

In [0]:
mw.tail(2)

                   datetime        station  ...       value
measure                                     ... rain amount wind speed
1277962 2019-12-31 23:30:00  sanfoin bench  ...           0        5.9
1277963 2019-12-31 23:30:00    south baldy  ...           0        NaN

[2 rows x 11 columns]

### Rename Columns

In [0]:
mw.columns

MultiIndex([('datetime',                         ''),
            ( 'station',                         ''),
            (   'value',        'dominant wind dir'),
            (   'value', 'high outside temperature'),
            (   'value',           'high rain rate'),
            (   'value',            'high wind dir'),
            (   'value',          'high wind speed'),
            (   'value',  'low outside temperature'),
            (   'value',      'outside temperature'),
            (   'value',              'rain amount'),
            (   'value',               'wind speed')],
           names=[None, 'measure'])

In [0]:
# rename columns
mw.columns = ['datetime', 'station', 'dominant_wind_dir', 'high_temp_f', 'high_rain_in_hr', 'high_wind_dir', 'high_wind_speed_mph', 'low_temp_f', 'ave_temp_f', 'rain_amount_in', 'ave_wind_speed_mph']

In [0]:
mw.tail(2)

                   datetime        station  ... rain_amount_in ave_wind_speed_mph
1277962 2019-12-31 23:30:00  sanfoin bench  ...              0                5.9
1277963 2019-12-31 23:30:00    south baldy  ...              0                NaN

[2 rows x 11 columns]

### Reorder Columns

In [0]:
mw.columns

Index(['datetime', 'station', 'dominant_wind_dir', 'high_temp_f',
       'high_rain_in_hr', 'high_wind_dir', 'high_wind_speed_mph', 'low_temp_f',
       'ave_temp_f', 'rain_amount_in', 'ave_wind_speed_mph'],
      dtype='object')

In [0]:
mw = mw[['datetime', 'station', 'high_temp_f', 'low_temp_f', 'ave_temp_f', 'rain_amount_in', 'high_rain_in_hr', 'high_wind_dir', 'high_wind_speed_mph', 'ave_wind_speed_mph', 'dominant_wind_dir']]

In [0]:
mw.tail(2)

                   datetime        station  ... ave_wind_speed_mph dominant_wind_dir
1277962 2019-12-31 23:30:00  sanfoin bench  ...                5.9                NW
1277963 2019-12-31 23:30:00    south baldy  ...                NaN               NaN

[2 rows x 11 columns]

In [0]:
mw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1277964 entries, 0 to 1277963
Data columns (total 11 columns):
datetime               1277964 non-null datetime64[ns]
station                1277964 non-null object
high_temp_f            1177818 non-null object
low_temp_f             1177818 non-null object
ave_temp_f             1172452 non-null object
rain_amount_in         1275659 non-null object
high_rain_in_hr        1275659 non-null object
high_wind_dir          810066 non-null object
high_wind_speed_mph    1275659 non-null object
ave_wind_speed_mph     1176653 non-null object
dominant_wind_dir      809959 non-null object
dtypes: datetime64[ns](1), object(10)
memory usage: 107.3+ MB

# Output

In [0]:
# output includes all available variables 2013 - 2019
output = 'mpg_orchard-house_weather.csv'
mw.to_csv(output, index=False)

Output Hosted 
* ~/Project Datasets/Weather/Orchard House/[mpg_orchard-house_weather.csv](https://drive.google.com/open?id=1dvy1a_5PTLpmF6t8MBWL9gyIwoB0T-cK)

# Summaries

### Load output

In [3]:
src = 'https://drive.google.com/uc?id=1yRnjYBc_ZemiES5W-PgpdnFPcUrkL-R1'
df = pd.read_csv(src)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.tail(2)

                    datetime  ... dominant_wind_dir
1277962  2019-12-31 23:30:00  ...                NW
1277963  2019-12-31 23:30:00  ...               NaN

[2 rows x 11 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1277964 entries, 0 to 1277963
Data columns (total 11 columns):
datetime               1277964 non-null object
station                1277964 non-null object
high_temp_f            1177818 non-null float64
low_temp_f             1177818 non-null float64
ave_temp_f             1172452 non-null float64
rain_amount_in         1275659 non-null float64
high_rain_in_hr        1275659 non-null float64
high_wind_dir          810066 non-null object
high_wind_speed_mph    1275659 non-null float64
ave_wind_speed_mph     1176653 non-null float64
dominant_wind_dir      809959 non-null object
dtypes: float64(7), object(4)
memory usage: 107.3+ MB

### NaN totals

In [7]:
# NaN totals for each column
df.isnull().sum()

datetime                    0
station                     0
high_temp_f            100146
low_temp_f             100146
ave_temp_f             105512
rain_amount_in           2305
high_rain_in_hr          2305
high_wind_dir          467898
high_wind_speed_mph      2305
ave_wind_speed_mph     101311
dominant_wind_dir      468005
dtype: int64