<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/YVP_Vegetation_Cover_Data_Wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*R Notebook*

# README

* [Readme fixed grid plot vegetation data](https://docs.google.com/document/d/16-Aq8u9Rudd78fSzfjvpCXyQgE-BstC-d2PjYfmLtcw/edit?usp=sharing)

# Load Tools

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.0     ✔ purrr   0.3.3
✔ tibble  3.0.0     ✔ dplyr   0.8.5
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# Source

In [0]:
# 2020-04-28_yvp_vegetation_cover
src = 'https://drive.google.com/uc?id=1pemnlKIlfAQw2JSMN7yDlYMG5QhUW-NP'

In [0]:
df <- read.csv(file = src)

In [4]:
head(df, n=2)

  plot_code date       subplot species_code cover_pct
1 YVP 10    2017-06-09 1       BOESPP       1
2 YVP 10    2017-06-09 1       CREINT       1

# Wrangle

## Structure columns

### plot_code

In [0]:
# convert to string
df$plot_code <- as.character(df$plot_code)

### plot_ loc

In [0]:
# detect "N" in 'plot_code' and write to new column 'plot_loc'
df <- df %>%
  mutate(plot_loc = ifelse(str_detect(plot_code, "N"), "N", NA))

In [0]:
# # strip "N" from 'plot_code' if present
# df$plot_code <- str_remove(df$plot_code, "N")

In [0]:
# reorder columns
df <- df[,c(1,6,2,3,4,5)]

### plot_rep

In [0]:
# detect "A", "B", "C" characters in plot_code and if present write to 'plot_rep'
df <- df %>%
  mutate(plot_rep = case_when(str_detect(plot_code, "A")~"A",
                              str_detect(plot_code, "B")~"B",
                              str_detect(plot_code, "C")~"C"))

In [0]:
# # strip "A", "B", "C" from plot_code
# df$plot_code <- str_remove(df$plot_code, "[ABC]")

In [0]:
# reorder columns
df <- df[,c(1,2,7,3,4,5,6)]

### plot_num

In [0]:
# use digital values from 'plot_code' and to populate 'plot_num'
df <- df %>%
  mutate(plot_num = str_extract(plot_code, "[:digit:].*"))

In [0]:
# reorder columns
df <- df[,c(1,2,3,8,4,5,6,7)]

### date

In [0]:
# convert to date
df$date <- as.Date(df$date)

### subplot

In [0]:
# convert to integer
df$subplot <- as.integer(df$subplot)

### species_key

This will be imported from the plant species metadata table, and we can use it to join and correct species codes in the future

In [0]:
# set to NA for now
df$species_key <- NA

In [0]:
# convert to string
df$species_key <- as.character(df$species_key)

In [0]:
# reorder columns
df <- df[,c(1,2,3,4,5,6,9,7,8)]

### species_code

In [0]:
# convert to string
df$species_code <- as.character(df$species_code)

In [0]:
head(df)

  plot_code plot_loc plot_rep plot_num date       subplot species_key
1 YVP 10    NA       NA       10       2017-06-09 1       NA
2 YVP 10    NA       NA       10       2017-06-09 1       NA
3 YVP 10    NA       NA       10       2017-06-09 1       NA
4 YVP 10    NA       NA       10       2017-06-09 1       NA
5 YVP 10    NA       NA       10       2017-06-09 1       NA
6 YVP 10    NA       NA       10       2017-06-09 1       NA
  species_code cover_pct
1 BOESPP        1
2 CREINT        1
3 EUPESU        5
4 FESCAM       25
5 FESIDA       25
6 GEUTRI       10

## Identify Double Counting

In [0]:
# Find instances where a plant species is counted twice in the same year-plot-subplot combination
dbl_counts <- df %>%
  group_by(year = as.numeric(substring(date,0,4)), plot_code, subplot, species_code) %>%
  summarize(counted = n()) %>% 
  ungroup() %>%
  arrange(year, plot_code, subplot, desc(counted)) %>%
  filter(counted > 1) %>%
  print(n=Inf)

# A tibble: 46 x 5
    year plot_code subplot species_code counted
   <dbl> <chr>       <int> <chr>          <int>
 1  2017 YVP 144         2 VERVER             2
 2  2017 YVP 180         7 FRIPUD             2
 3  2017 YVP 203         4 COLLIN             2
 4  2017 YVP 355        10 PSESPI             2
 5  2017 YVP 44          9 ORTTEN             2
 6  2017 YVP N111        2 DRAVER             2
 7  2017 YVP NB294       8 MICGRA             2
 8  2018 YVP 112         9 ALYALY             2
 9  2018 YVP 12          4 HOLUMB             2
10  2018 YVP 144        10 ACHMIL             2
11  2018 YVP 184         4 HOLUMB             2
12  2018 YVP 185         1 DRAVER             2
13  2018 YVP 185         1 FRIPUD             2
14  2018 YVP 185         1 MYOMIC             2
15  2018 YVP 185         3 HOLUMB             2
16  2018 YVP 185         4 ARANUT             2
17  2018 YVP 185         4 EPIBRA             2
18  2018 YVP 20          2 VERVER             2
19  2018 YVP 203         4 COLLIN             2
20  2018 YVP 209         5 ALYALY             2
21  2018 YVP 213         4 ARIPUR             2
22  2018 YVP 22          2 FESCAM             2
23  2018 YVP 355         7 DODPUL             2
24  2018 YVP 412         9 MICGRA             2
25  2018 YVP 56          1 HOLUMB             2
26  2018 YVP 62          3 KOEMAC             2
27  2018 YVP 62          4 HOLUMB             2
28  2018 YVP 62          8 ORTTEN             2
29  2018 YVP N110        5 MYOMIC             2
30  2018 YVP N278        2 ARESER             2
31  2018 YVP N501       10 ARECON             2
32  2018 YVP N522        1 LITRUD             2
33  2018 YVP N558        7 COLLIN             2
34  2018 YVP NB294       8 MICGRA             2
35  2019 YVP 113         4 DRAVER             2
36  2019 YVP 180         8 PLAPAT             2
37  2019 YVP 209         5 ASTINF             2
38  2019 YVP 468         2 UNKN SP            2
39  2019 YVP N111        3 EPIBRA             2
40  2019 YVP N158        3 EPIBRA             2
41  2019 YVP N158        4 EPIBRA             2
42  2019 YVP N348        5 CIRARV             2
43  2019 YVP N386        1 EPIBRA             2
44  2019 YVP N501        1 FRIPUD             2
45  2019 YVP NC294       4 MYOMIC             2
46  2019 YVP NC294       6 ERIPUM             2

In [0]:
view_doubles  <- dbl_counts %>%
  left_join(df %>% mutate(year = as.numeric(substring(date,0,4))))

Joining, by = c("year", "plot_code", "subplot", "species_code")

In [0]:
head(view_doubles, n=46)

   year plot_code subplot species_code counted plot_loc plot_rep plot_num
1  2017 YVP 144    2      VERVER       2       NA       NA       144
2  2017 YVP 144    2      VERVER       2       NA       NA       144
3  2017 YVP 180    7      FRIPUD       2       NA       NA       180
4  2017 YVP 180    7      FRIPUD       2       NA       NA       180
5  2017 YVP 203    4      COLLIN       2       NA       NA       203
6  2017 YVP 203    4      COLLIN       2       NA       NA       203
7  2017 YVP 355   10      PSESPI       2       NA       NA       355
8  2017 YVP 355   10      PSESPI       2       NA       NA       355
9  2017 YVP 44     9      ORTTEN       2       NA       NA       44
10 2017 YVP 44     9      ORTTEN       2       NA       NA       44
11 2017 YVP N111   2      DRAVER       2       N        NA       111
12 2017 YVP N111   2      DRAVER       2       N        NA       111
13 2017 YVP NB294  8      MICGRA       2       N        B        294
14 2017 YVP NB294  8      MICGRA       2       N        B        294
15 2018 YVP 112    9      ALYALY       2       NA       NA       112
16 2018 YVP 112    9      ALYALY       2       NA       NA       112
17 2018 YVP 12     4      HOLUMB       2       NA       NA       12
18 2018 YVP 12     4      HOLUMB       2       NA       NA       12
19 2018 YVP 144   10      ACHMIL       2       NA       NA       144
20 2018 YVP 144   10      ACHMIL       2       NA       NA       144
21 2018 YVP 184    4      HOLUMB       2       NA       NA       184
22 2018 YVP 184    4      HOLUMB       2       NA       NA       184
23 2018 YVP 185    1      DRAVER       2       NA       NA       185
24 2018 YVP 185    1      DRAVER       2       NA       NA       185
25 2018 YVP 185    1      FRIPUD       2       NA       NA       185
26 2018 YVP 185    1      FRIPUD       2       NA       NA       185
27 2018 YVP 185    1      MYOMIC       2       NA       NA       185
28 2018 YVP 185    1      MYOMIC       2       NA       NA       185
29 2018 YVP 185    3      HOLUMB       2       NA       NA       185
30 2018 YVP 185    3      HOLUMB       2       NA       NA       185
31 2018 YVP 185    4      ARANUT       2       NA       NA       185
32 2018 YVP 185    4      ARANUT       2       NA       NA       185
33 2018 YVP 185    4      EPIBRA       2       NA       NA       185
34 2018 YVP 185    4      EPIBRA       2       NA       NA       185
35 2018 YVP 20     2      VERVER       2       NA       NA       20
36 2018 YVP 20     2      VERVER       2       NA       NA       20
37 2018 YVP 203    4      COLLIN       2       NA       NA       203
38 2018 YVP 203    4      COLLIN       2       NA       NA       203
39 2018 YVP 209    5      ALYALY       2       NA       NA       209
40 2018 YVP 209    5      ALYALY       2       NA       NA       209
41 2018 YVP 213    4      ARIPUR       2       NA       NA       213
42 2018 YVP 213    4      ARIPUR       2       NA       NA       213
43 2018 YVP 22     2      FESCAM       2       NA       NA       22
44 2018 YVP 22     2      FESCAM       2       NA       NA       22
45 2018 YVP 355    7      DODPUL       2       NA       NA       355
46 2018 YVP 355    7      DODPUL       2       NA       NA       355
   date       species_key cover_pct
1  2017-05-30 NA           3
2  2017-05-30 NA           4
3  2017-05-31 NA           1
4  2017-05-31 NA           1
5  2017-05-18 NA          10
6  2017-05-18 NA           1
7  2017-06-02 NA          20
8  2017-06-02 NA           2
9  2017-06-06 NA           4
10 2017-06-06 NA           1
11 2017-05-25 NA           1
12 2017-05-25 NA           1
13 2017-05-08 NA           1
14 2017-05-08 NA           1
15 2018-05-31 NA          10
16 2018-05-31 NA           5
17 2018-07-10 NA           1
18 2018-07-10 NA           1
19 2018-05-28 NA           5
20 2018-05-28 NA           5
21 2018-05-30 NA           1
22 2018-05-30 NA           2
23 2018-05-30 NA           1
24 2018-05-30 NA           1
25 2018-05-30 NA           1
26 2018-05-30 NA           1
27 2018-05-30 NA           1
28 2018-05-30 NA           5
29 2018-05-30 NA           1
30 2018-05-30 NA           1
31 2018-05-30 NA           1
32 2018-05-30 NA           1
33 2018-05-30 NA           1
34 2018-05-30 NA           1
35 2018-07-12 NA           3
36 2018-07-12 NA           3
37 2018-06-04 NA           0
38 2018-06-04 NA           0
39 2018-05-31 NA           1
40 2018-05-31 NA           1
41 2018-06-04 NA           5
42 2018-06-04 NA           4
43 2018-07-12 NA           1
44 2018-07-12 NA           1
45 2018-06-25 NA           2
46 2018-06-25 NA           3

In [0]:
tail(view_doubles, n=46)

   year plot_code subplot species_code counted plot_loc plot_rep plot_num
1  2018 YVP 412    9      MICGRA       2       NA       NA       412
2  2018 YVP 412    9      MICGRA       2       NA       NA       412
3  2018 YVP 56     1      HOLUMB       2       NA       NA       56
4  2018 YVP 56     1      HOLUMB       2       NA       NA       56
5  2018 YVP 62     3      KOEMAC       2       NA       NA       62
6  2018 YVP 62     3      KOEMAC       2       NA       NA       62
7  2018 YVP 62     4      HOLUMB       2       NA       NA       62
8  2018 YVP 62     4      HOLUMB       2       NA       NA       62
9  2018 YVP 62     8      ORTTEN       2       NA       NA       62
10 2018 YVP 62     8      ORTTEN       2       NA       NA       62
11 2018 YVP N110   5      MYOMIC       2       N        NA       110
12 2018 YVP N110   5      MYOMIC       2       N        NA       110
13 2018 YVP N278   2      ARESER       2       N        NA       278
14 2018 YVP N278   2      ARESER       2       N        NA       278
15 2018 YVP N501  10      ARECON       2       N        NA       501
16 2018 YVP N501  10      ARECON       2       N        NA       501
17 2018 YVP N522   1      LITRUD       2       N        NA       522
18 2018 YVP N522   1      LITRUD       2       N        NA       522
19 2018 YVP N558   7      COLLIN       2       N        NA       558
20 2018 YVP N558   7      COLLIN       2       N        NA       558
21 2018 YVP NB294  8      MICGRA       2       N        B        294
22 2018 YVP NB294  8      MICGRA       2       N        B        294
23 2019 YVP 113    4      DRAVER       2       NA       NA       113
24 2019 YVP 113    4      DRAVER       2       NA       NA       113
25 2019 YVP 180    8      PLAPAT       2       NA       NA       180
26 2019 YVP 180    8      PLAPAT       2       NA       NA       180
27 2019 YVP 209    5      ASTINF       2       NA       NA       209
28 2019 YVP 209    5      ASTINF       2       NA       NA       209
29 2019 YVP 468    2      UNKN SP      2       NA       NA       468
30 2019 YVP 468    2      UNKN SP      2       NA       NA       468
31 2019 YVP N111   3      EPIBRA       2       N        NA       111
32 2019 YVP N111   3      EPIBRA       2       N        NA       111
33 2019 YVP N158   3      EPIBRA       2       N        NA       158
34 2019 YVP N158   3      EPIBRA       2       N        NA       158
35 2019 YVP N158   4      EPIBRA       2       N        NA       158
36 2019 YVP N158   4      EPIBRA       2       N        NA       158
37 2019 YVP N348   5      CIRARV       2       N        NA       348
38 2019 YVP N348   5      CIRARV       2       N        NA       348
39 2019 YVP N386   1      EPIBRA       2       N        NA       386
40 2019 YVP N386   1      EPIBRA       2       N        NA       386
41 2019 YVP N501   1      FRIPUD       2       N        NA       501
42 2019 YVP N501   1      FRIPUD       2       N        NA       501
43 2019 YVP NC294  4      MYOMIC       2       N        C        294
44 2019 YVP NC294  4      MYOMIC       2       N        C        294
45 2019 YVP NC294  6      ERIPUM       2       N        C        294
46 2019 YVP NC294  6      ERIPUM       2       N        C        294
   date       species_key cover_pct
1  2018-07-02 NA           1
2  2018-07-02 NA           2
3  2018-06-11 NA           1
4  2018-06-11 NA           1
5  2018-07-02 NA          35
6  2018-07-02 NA           1
7  2018-07-02 NA           1
8  2018-07-02 NA           1
9  2018-07-02 NA           1
10 2018-07-02 NA           1
11 2018-05-30 NA           1
12 2018-05-30 NA           1
13 2018-05-28 NA           2
14 2018-05-28 NA           1
15 2018-07-09 NA           1
16 2018-07-09 NA           1
17 2018-05-28 NA          10
18 2018-05-28 NA           1
19 2018-06-26 NA           1
20 2018-06-26 NA           1
21 2018-05-30 NA           1
22 2018-05-30 NA           1
23 2019-06-10 NA           4
24 2019-06-10 NA           5
25 2019-06-10 NA           1
26 2019-06-10 NA           1
27 2019-05-23 NA           1
28 2019-05-23 NA           1
29 2019-07-16 NA           1
30 2019-07-16 NA           5
31 2019-05-23 NA           1
32 2019-05-23 NA           1
33 2019-06-17 NA           1
34 2019-06-17 NA           1
35 2019-06-17 NA           1
36 2019-06-17 NA           1
37 2019-07-05 NA           5
38 2019-07-05 NA          10
39 2019-07-01 NA           1
40 2019-07-01 NA           1
41 2019-05-30 NA           2
42 2019-05-30 NA           2
43 2019-05-09 NA           1
44 2019-05-09 NA           1
45 2019-05-09 NA           1
46 2019-05-09 NA           2

### Export View Doubles

In [0]:
write.csv(view_doubles, 'view_doubles.csv')

In [0]:
# example where cover_pct value is different
# 2017	YVP 144	2	VERVER
df %>%
  filter(as.numeric(substring(date,0,4)) == 2017,
          plot_code == 'YVP 144',
          subplot == '2',
          species_code == 'VERVER')

  plot_code plot_loc plot_rep plot_num date       subplot species_key
1 YVP 144   NA       NA       144      2017-05-30 2       NA
2 YVP 144   NA       NA       144      2017-05-30 2       NA
  species_code cover_pct
1 VERVER       3
2 VERVER       4

In [0]:
# example where cover_pct value is the same
# 2017	YVP 180	7	FRIPUD
df %>%
  filter(as.numeric(substring(date,0,4)) == 2017,
          plot_code == 'YVP 180',
          subplot == '7',
          species_code == 'FRIPUD')

  plot_code plot_loc plot_rep plot_num date       subplot species_key
1 YVP 180   NA       NA       180      2017-05-31 7       NA
2 YVP 180   NA       NA       180      2017-05-31 7       NA
  species_code cover_pct
1 FRIPUD       1
2 FRIPUD       1

In [0]:
# example where cover_pct value is different
# 2019	YVP NC294	6	ERIPUM
df %>%
  filter(as.numeric(substring(date,0,4)) == 2019,
          plot_code == 'YVP 294',
          subplot == '6',
          species_code == 'ERIPUM')

  plot_code plot_loc plot_rep plot_num date       subplot species_key
1 YVP 294   N        C        294      2019-05-09 6       NA
2 YVP 294   N        C        294      2019-05-09 6       NA
3 YVP 294   N        B        294      2019-05-13 6       NA
  species_code cover_pct
1 ERIPUM       1
2 ERIPUM       2
3 ERIPUM       0

Display all rows contained in matching

## Address Double Counting

In [0]:
# ?