<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/YVP_Vegetation_Cover_Data_Wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*R Notebook*

# README

* [Readme fixed grid plot vegetation data](https://docs.google.com/document/d/16-Aq8u9Rudd78fSzfjvpCXyQgE-BstC-d2PjYfmLtcw/edit?usp=sharing)

# Load Tools

In [ ]:
# Package and library installation
packages_needed = c("tidyverse", "gsheet") # comma delimited vector of package names
packages_installed = packages_needed %in% rownames(installed.packages())

if (any(! packages_installed))
  install.packages(packages_needed[! packages_installed])
for (i in 1:length(packages_needed)) {
  library(packages_needed[i], character.only = T)
}

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# Source

In [ ]:
# 2020-04-28_yvp_vegetation_cover
src = 'https://drive.google.com/uc?id=1pemnlKIlfAQw2JSMN7yDlYMG5QhUW-NP'

In [ ]:
df <- read.csv(file = src)

In [ ]:
head(df, n=2)

  plot_code date       subplot species_code cover_pct
1 YVP 10    2017-06-09 1       BOESPP       1
2 YVP 10    2017-06-09 1       CREINT       1

# Wrangle

## Structure columns

### Plot Code Transformation
The plot code used in the source data is a complex string. It is needed to provide a unique key to each survey location, but because it is a string it is difficult to sort or filter plots. Further, the plot codes used here will be difficult to associate with the extensive grid point metadata stored elsewhere in the MPG Data Warehouse. 

Solution: paste the separate identifers from the plot code into separate fields, but retain the original character string for internal use.

#### plot_code

In [ ]:
# convert to string
df$plot_code <- as.character(df$plot_code)

#### plot_ loc

In [ ]:
# detect "N" in 'plot_code' and write to new column 'plot_loc'
df <- df %>%
  mutate(plot_loc = ifelse(str_detect(plot_code, "N"), "N", NA))

In [ ]:
# reorder columns
df <- df[,c(1,6,2,3,4,5)]

#### plot_rep

In [ ]:
# detect "A", "B", "C" characters in plot_code and if present write to 'plot_rep'
df <- df %>%
  mutate(plot_rep = case_when(str_detect(plot_code, "A")~"A",
                              str_detect(plot_code, "B")~"B",
                              str_detect(plot_code, "C")~"C"))

In [ ]:
# reorder columns
df <- df[,c(1,2,7,3,4,5,6)]

#### plot_num

In [ ]:
# use digital values from 'plot_code' and to populate 'plot_num'
df <- df %>%
  mutate(plot_num = str_extract(plot_code, "[:digit:].*"),
         plot_num = as.integer(plot_num))

In [ ]:
# reorder columns
df <- df[,c(1,2,3,8,4,5,6,7)]

### date

In [ ]:
# convert to date
df$date <- as.Date(df$date)

### subplot

In [ ]:
# convert to integer
df$subplot <- as.integer(df$subplot)

### species_key

This will be imported from the plant species metadata table, and we can use it to join and correct species codes in the future. But because joining the key to the species codes will require that the codes be corrected first, we will skip this step for now.

### species_code

In [ ]:
# convert to string
df$species_code <- as.character(df$species_code)

In [ ]:
head(df, n=2)

  plot_code plot_loc plot_rep plot_num date       subplot species_code
1 YVP 10    NA       NA       10       2017-06-09 1       BOESPP
2 YVP 10    NA       NA       10       2017-06-09 1       CREINT
  cover_pct
1 1
2 1

## Identify Double Counted Species
In a few instances, a plant species is counted twice in the same survey subplot. This could inflate the cover reported for that species. In these cases, the desired end product is to have just one row for each. When the reported percent cover differs between repeated entries, we cannot tell which one is correct. We used the following algorithm to process these repeated or double counts:

* If the cover_pct values are equal, simply delete one of the rows
* If the cover_pct values are not equal, delete one of the rows and change cover_pct for the remaining one to NA

In [ ]:
str(df)

'data.frame':	21728 obs. of  8 variables:
 $ plot_code   : chr  "YVP 10" "YVP 10" "YVP 10" "YVP 10" ...
 $ plot_loc    : chr  NA NA NA NA ...
 $ plot_rep    : chr  NA NA NA NA ...
 $ plot_num    : int  10 10 10 10 10 10 10 10 10 10 ...
 $ date        : Date, format: "2017-06-09" "2017-06-09" ...
 $ subplot     : int  1 1 1 1 1 1 1 1 1 1 ...
 $ species_code: chr  "BOESPP" "CREINT" "EUPESU" "FESCAM" ...
 $ cover_pct   : int  1 1 5 25 25 10 1 1 5 1 ...

In [ ]:
head(df)

  plot_code plot_loc plot_rep plot_num date       subplot species_code
1 YVP 10    NA       NA       10       2017-06-09 1       BOESPP
2 YVP 10    NA       NA       10       2017-06-09 1       CREINT
3 YVP 10    NA       NA       10       2017-06-09 1       EUPESU
4 YVP 10    NA       NA       10       2017-06-09 1       FESCAM
5 YVP 10    NA       NA       10       2017-06-09 1       FESIDA
6 YVP 10    NA       NA       10       2017-06-09 1       GEUTRI
  cover_pct
1  1
2  1
3  5
4 25
5 25
6 10

In [ ]:
# Find instances where a plant species is counted twice in the same year-plot-subplot combination
dbl_counts <- df %>%
  group_by(year = as.numeric(substring(date,0,4)), plot_code, subplot, species_code) %>%
  summarize(counted = n()) %>% 
  ungroup() %>%
  arrange(year, plot_code, subplot, desc(counted)) %>%
  filter(counted > 1) %>%
  print(n=Inf)

# A tibble: 46 x 5
    year plot_code subplot species_code counted
   <dbl> <chr>       <int> <chr>          <int>
 1  2017 YVP 144         2 VERVER             2
 2  2017 YVP 180         7 FRIPUD             2
 3  2017 YVP 203         4 COLLIN             2
 4  2017 YVP 355        10 PSESPI             2
 5  2017 YVP 44          9 ORTTEN             2
 6  2017 YVP N111        2 DRAVER             2
 7  2017 YVP NB294       8 MICGRA             2
 8  2018 YVP 112         9 ALYALY             2
 9  2018 YVP 12          4 HOLUMB             2
10  2018 YVP 144        10 ACHMIL             2
11  2018 YVP 184         4 HOLUMB             2
12  2018 YVP 185         1 DRAVER             2
13  2018 YVP 185         1 FRIPUD             2
14  2018 YVP 185         1 MYOMIC             2
15  2018 YVP 185         3 HOLUMB             2
16  2018 YVP 185         4 ARANUT             2
17  2018 YVP 185         4 EPIBRA             2
18  2018 YVP 20          2 VERVER             2
19  2018 YVP 203         4 COLLIN             2
20  2018 YVP 209         5 ALYALY             2
21  2018 YVP 213         4 ARIPUR             2
22  2018 YVP 22          2 FESCAM             2
23  2018 YVP 355         7 DODPUL             2
24  2018 YVP 412         9 MICGRA             2
25  2018 YVP 56          1 HOLUMB             2
26  2018 YVP 62          3 KOEMAC             2
27  2018 YVP 62          4 HOLUMB             2
28  2018 YVP 62          8 ORTTEN             2
29  2018 YVP N110        5 MYOMIC             2
30  2018 YVP N278        2 ARESER             2
31  2018 YVP N501       10 ARECON             2
32  2018 YVP N522        1 LITRUD             2
33  2018 YVP N558        7 COLLIN             2
34  2018 YVP NB294       8 MICGRA             2
35  2019 YVP 113         4 DRAVER             2
36  2019 YVP 180         8 PLAPAT             2
37  2019 YVP 209         5 ASTINF             2
38  2019 YVP 468         2 UNKN SP            2
39  2019 YVP N111        3 EPIBRA             2
40  2019 YVP N158        3 EPIBRA             2
41  2019 YVP N158        4 EPIBRA             2
42  2019 YVP N348        5 CIRARV             2
43  2019 YVP N386        1 EPIBRA             2
44  2019 YVP N501        1 FRIPUD             2
45  2019 YVP NC294       4 MYOMIC             2
46  2019 YVP NC294       6 ERIPUM             2

In [ ]:
view_doubles  <- dbl_counts %>%
  left_join(df %>% mutate(year = as.numeric(substring(date,0,4))))

Joining, by = c("year", "plot_code", "subplot", "species_code")

In [ ]:
str(view_doubles)

tibble [92 × 10] (S3: tbl_df/tbl/data.frame)
 $ year        : num [1:92] 2017 2017 2017 2017 2017 ...
 $ plot_code   : chr [1:92] "YVP 144" "YVP 144" "YVP 180" "YVP 180" ...
 $ subplot     : int [1:92] 2 2 7 7 4 4 10 10 9 9 ...
 $ species_code: chr [1:92] "VERVER" "VERVER" "FRIPUD" "FRIPUD" ...
 $ counted     : int [1:92] 2 2 2 2 2 2 2 2 2 2 ...
 $ plot_loc    : chr [1:92] NA NA NA NA ...
 $ plot_rep    : chr [1:92] NA NA NA NA ...
 $ plot_num    : int [1:92] 144 144 180 180 203 203 355 355 44 44 ...
 $ date        : Date[1:92], format: "2017-05-30" "2017-05-30" ...
 $ cover_pct   : int [1:92] 3 4 1 1 10 1 20 2 4 1 ...

In [ ]:
view_doubles %>%
  distinct(date, plot_code, species_code, subplot) %>%
  arrange(date, plot_code, species_code)

   date       plot_code species_code subplot
1  2017-05-08 YVP NB294 MICGRA        8
2  2017-05-18 YVP 203   COLLIN        4
3  2017-05-25 YVP N111  DRAVER        2
4  2017-05-30 YVP 144   VERVER        2
5  2017-05-31 YVP 180   FRIPUD        7
6  2017-06-02 YVP 355   PSESPI       10
7  2017-06-06 YVP 44    ORTTEN        9
8  2018-05-28 YVP 144   ACHMIL       10
9  2018-05-28 YVP N278  ARESER        2
10 2018-05-28 YVP N522  LITRUD        1
11 2018-05-30 YVP 184   HOLUMB        4
12 2018-05-30 YVP 185   ARANUT        4
13 2018-05-30 YVP 185   DRAVER        1
14 2018-05-30 YVP 185   EPIBRA        4
15 2018-05-30 YVP 185   FRIPUD        1
16 2018-05-30 YVP 185   HOLUMB        3
17 2018-05-30 YVP 185   MYOMIC        1
18 2018-05-30 YVP N110  MYOMIC        5
19 2018-05-30 YVP NB294 MICGRA        8
20 2018-05-31 YVP 112   ALYALY        9
21 2018-05-31 YVP 209   ALYALY        5
22 2018-06-04 YVP 203   COLLIN        4
23 2018-06-04 YVP 213   ARIPUR        4
24 2018-06-11 YVP 56    HOLUMB        1
25 2018-06-25 YVP 355   DODPUL        7
26 2018-06-26 YVP N558  COLLIN        7
27 2018-07-02 YVP 412   MICGRA        9
28 2018-07-02 YVP 62    HOLUMB        4
29 2018-07-02 YVP 62    KOEMAC        3
30 2018-07-02 YVP 62    ORTTEN        8
31 2018-07-09 YVP N501  ARECON       10
32 2018-07-10 YVP 12    HOLUMB        4
33 2018-07-12 YVP 20    VERVER        2
34 2018-07-12 YVP 22    FESCAM        2
35 2019-05-09 YVP NC294 ERIPUM        6
36 2019-05-09 YVP NC294 MYOMIC        4
37 2019-05-23 YVP 209   ASTINF        5
38 2019-05-23 YVP N111  EPIBRA        3
39 2019-05-30 YVP N501  FRIPUD        1
40 2019-06-10 YVP 113   DRAVER        4
41 2019-06-10 YVP 180   PLAPAT        8
42 2019-06-17 YVP N158  EPIBRA        3
43 2019-06-17 YVP N158  EPIBRA        4
44 2019-07-01 YVP N386  EPIBRA        1
45 2019-07-05 YVP N348  CIRARV        5
46 2019-07-16 YVP 468   UNKN SP       2

In [ ]:
view_doubles %>%
  distinct(date, plot_code, subplot, plot_loc) %>%
  arrange(date, plot_code)

   date       plot_code subplot plot_loc
1  2017-05-08 YVP NB294  8      N
2  2017-05-18 YVP 203    4      NA
3  2017-05-25 YVP N111   2      N
4  2017-05-30 YVP 144    2      NA
5  2017-05-31 YVP 180    7      NA
6  2017-06-02 YVP 355   10      NA
7  2017-06-06 YVP 44     9      NA
8  2018-05-28 YVP 144   10      NA
9  2018-05-28 YVP N278   2      N
10 2018-05-28 YVP N522   1      N
11 2018-05-30 YVP 184    4      NA
12 2018-05-30 YVP 185    1      NA
13 2018-05-30 YVP 185    3      NA
14 2018-05-30 YVP 185    4      NA
15 2018-05-30 YVP N110   5      N
16 2018-05-30 YVP NB294  8      N
17 2018-05-31 YVP 112    9      NA
18 2018-05-31 YVP 209    5      NA
19 2018-06-04 YVP 203    4      NA
20 2018-06-04 YVP 213    4      NA
21 2018-06-11 YVP 56     1      NA
22 2018-06-25 YVP 355    7      NA
23 2018-06-26 YVP N558   7      N
24 2018-07-02 YVP 412    9      NA
25 2018-07-02 YVP 62     3      NA
26 2018-07-02 YVP 62     4      NA
27 2018-07-02 YVP 62     8      NA
28 2018-07-09 YVP N501  10      N
29 2018-07-10 YVP 12     4      NA
30 2018-07-12 YVP 20     2      NA
31 2018-07-12 YVP 22     2      NA
32 2019-05-09 YVP NC294  4      N
33 2019-05-09 YVP NC294  6      N
34 2019-05-23 YVP 209    5      NA
35 2019-05-23 YVP N111   3      N
36 2019-05-30 YVP N501   1      N
37 2019-06-10 YVP 113    4      NA
38 2019-06-10 YVP 180    8      NA
39 2019-06-17 YVP N158   3      N
40 2019-06-17 YVP N158   4      N
41 2019-07-01 YVP N386   1      N
42 2019-07-05 YVP N348   5      N
43 2019-07-16 YVP 468    2      NA

### Resolve double counts

* If the 'cover_pct' values are equal, delete one of the rows
* If the 'cover_pct' values are not equal, delete one of the rows and change cover_pct for the remaining one to NA

In [ ]:
str(view_doubles)

tibble [92 × 10] (S3: tbl_df/tbl/data.frame)
 $ year        : num [1:92] 2017 2017 2017 2017 2017 ...
 $ plot_code   : chr [1:92] "YVP 144" "YVP 144" "YVP 180" "YVP 180" ...
 $ subplot     : int [1:92] 2 2 7 7 4 4 10 10 9 9 ...
 $ species_code: chr [1:92] "VERVER" "VERVER" "FRIPUD" "FRIPUD" ...
 $ counted     : int [1:92] 2 2 2 2 2 2 2 2 2 2 ...
 $ plot_loc    : chr [1:92] NA NA NA NA ...
 $ plot_rep    : chr [1:92] NA NA NA NA ...
 $ plot_num    : int [1:92] 144 144 180 180 203 203 355 355 44 44 ...
 $ date        : Date[1:92], format: "2017-05-30" "2017-05-30" ...
 $ cover_pct   : int [1:92] 3 4 1 1 10 1 20 2 4 1 ...

In [ ]:
distinct_doubles <- view_doubles %>%
  distinct(date, plot_code, subplot, species_code) %>%
  arrange(date, plot_code)

In [ ]:
str(distinct_doubles)

tibble [46 × 4] (S3: tbl_df/tbl/data.frame)
 $ date        : Date[1:46], format: "2017-05-08" "2017-05-18" ...
 $ plot_code   : chr [1:46] "YVP NB294" "YVP 203" "YVP N111" "YVP 144" ...
 $ subplot     : int [1:46] 8 4 2 2 7 10 9 10 2 1 ...
 $ species_code: chr [1:46] "MICGRA" "COLLIN" "DRAVER" "VERVER" ...

In [ ]:
nrow(distinct_doubles)

[1] 46

In [ ]:
for (row in 1:nrow(distinct_doubles)) {
  dbl_ref <- distinct_doubles[row, ]
  
  # date, plot_code, species_code, subplot
  selected_rows <- filter(df, date == dbl_ref$date &
                        plot_code == dbl_ref$plot_code &
                        species_code == dbl_ref$species_code &
                        subplot == dbl_ref$subplot)
                        
  # identify indicies of duplicate observationos in original dataframe
  selected_indices <- which(df$date == dbl_ref$date &
                        df$plot_code == dbl_ref$plot_code &
                        df$species_code == dbl_ref$species_code &
                        df$subplot == dbl_ref$subplot)

  # Display for Review
  print(selected_rows)

  # compare "cover_pct" observations for equality
  if(var(selected_rows$cover_pct) == 0) {
    print("EQUAL")
    # drop duplicate observation
    df <- df[-c(last(selected_indices)), ]    
  } else if (var(selected_rows$cover_pct) != 0) {
    print("NOT EQUAL")
    # set first row "cover_pct" to NA
    df[c(first(selected_indices)), ]$cover_pct = NA

    # drop duplicate observation
    df <- df[-c(last(selected_indices)), ]
  }
}

In [ ]:
str(df)

'data.frame':	21682 obs. of  8 variables:
 $ plot_code   : chr  "YVP 10" "YVP 10" "YVP 10" "YVP 10" ...
 $ plot_loc    : chr  NA NA NA NA ...
 $ plot_rep    : chr  NA NA NA NA ...
 $ plot_num    : chr  "10" "10" "10" "10" ...
 $ date        : Date, format: "2017-06-09" "2017-06-09" ...
 $ subplot     : int  1 1 1 1 1 1 1 1 1 1 ...
 $ species_code: chr  "BOESPP" "CREINT" "EUPESU" "FESCAM" ...
 $ cover_pct   : int  1 1 5 25 25 10 1 1 5 1 ...

In [ ]:
# rescan for double observations
# Find instances where a plant species is counted twice in the same year-plot-subplot combination
dbl_recount <- df %>%
  group_by(year = as.numeric(substring(date,0,4)), plot_code, subplot, species_code) %>%
  summarize(counted = n()) %>% 
  ungroup() %>%
  arrange(year, plot_code, subplot, desc(counted)) %>%
  filter(counted > 1) %>%
  print(n=Inf)

# A tibble: 0 x 5
# … with 5 variables: year <dbl>, plot_code <chr>, subplot <int>,
#   species_code <chr>, counted <int>

In [ ]:
# display previously duplicated plots for review
for (row in 1:nrow(distinct_doubles)) {
  dbl_ref <- distinct_doubles[row, ]

  # date, plot_code, species_code, subplot
  selected_rows <- filter(df, date == dbl_ref$date &
                        plot_code == dbl_ref$plot_code &
                        species_code == dbl_ref$species_code &
                        subplot == dbl_ref$subplot)
  print(selected_rows[,c(1,5,6,7,8)])
}

  plot_code       date subplot species_code cover_pct
1 YVP NB294 2017-05-08       8       MICGRA         1
  plot_code       date subplot species_code cover_pct
1   YVP 203 2017-05-18       4       COLLIN        NA
  plot_code       date subplot species_code cover_pct
1  YVP N111 2017-05-25       2       DRAVER         1
  plot_code       date subplot species_code cover_pct
1   YVP 144 2017-05-30       2       VERVER        NA
  plot_code       date subplot species_code cover_pct
1   YVP 180 2017-05-31       7       FRIPUD         1
  plot_code       date subplot species_code cover_pct
1   YVP 355 2017-06-02      10       PSESPI        NA
  plot_code       date subplot species_code cover_pct
1    YVP 44 2017-06-06       9       ORTTEN        NA
  plot_code       date subplot species_code cover_pct
1   YVP 144 2018-05-28      10       ACHMIL         5
  plot_code       date subplot species_code cover_pct
1  YVP N278 2018-05-28       2       ARESER        NA
  plot_code       date subplot species_code cover_pct
1  YVP N522 2018-05-28       1       LITRUD        NA
  plot_code       date subplot species_code cover_pct
1   YVP 184 2018-05-30       4       HOLUMB        NA
  plot_code       date subplot species_code cover_pct
1   YVP 185 2018-05-30       1       DRAVER         1
  plot_code       date subplot species_code cover_pct
1   YVP 185 2018-05-30       1       FRIPUD         1
  plot_code       date subplot species_code cover_pct
1   YVP 185 2018-05-30       1       MYOMIC        NA
  plot_code       date subplot species_code cover_pct
1   YVP 185 2018-05-30       3       HOLUMB         1
  plot_code       date subplot species_code cover_pct
1   YVP 185 2018-05-30       4       ARANUT         1
  plot_code       date subplot species_code cover_pct
1   YVP 185 2018-05-30       4       EPIBRA         1
  plot_code       date subplot species_code cover_pct
1  YVP N110 2018-05-30       5       MYOMIC         1
  plot_code       date subplot species_code cover_pct
1 YVP NB294 2018-05-30       8       MICGRA         1
  plot_code       date subplot species_code cover_pct
1   YVP 112 2018-05-31       9       ALYALY        NA
  plot_code       date subplot species_code cover_pct
1   YVP 209 2018-05-31       5       ALYALY         1
  plot_code       date subplot species_code cover_pct
1   YVP 203 2018-06-04       4       COLLIN         0
  plot_code       date subplot species_code cover_pct
1   YVP 213 2018-06-04       4       ARIPUR        NA
  plot_code       date subplot species_code cover_pct
1    YVP 56 2018-06-11       1       HOLUMB         1
  plot_code       date subplot species_code cover_pct
1   YVP 355 2018-06-25       7       DODPUL        NA
  plot_code       date subplot species_code cover_pct
1  YVP N558 2018-06-26       7       COLLIN         1
  plot_code       date subplot species_code cover_pct
1   YVP 412 2018-07-02       9       MICGRA        NA
  plot_code       date subplot species_code cover_pct
1    YVP 62 2018-07-02       3       KOEMAC        NA
  plot_code       date subplot species_code cover_pct
1    YVP 62 2018-07-02       4       HOLUMB         1
  plot_code       date subplot species_code cover_pct
1    YVP 62 2018-07-02       8       ORTTEN         1
  plot_code       date subplot species_code cover_pct
1  YVP N501 2018-07-09      10       ARECON         1
  plot_code       date subplot species_code cover_pct
1    YVP 12 2018-07-10       4       HOLUMB         1
  plot_code       date subplot species_code cover_pct
1    YVP 20 2018-07-12       2       VERVER         3
  plot_code       date subplot species_code cover_pct
1    YVP 22 2018-07-12       2       FESCAM         1
  plot_code       date subplot species_code cover_pct
1 YVP NC294 2019-05-09       4       MYOMIC         1
  plot_code       date subplot species_code cover_pct
1 YVP NC294 2019-05-09       6       ERIPUM        NA
  plot_code       date subplot species_code cover_pct
1   YVP 209 2019-05-23       5       ASTINF         1
  plot_code       date subplot species_code cover_pct
1  YVP N111 2019-05-23       3       EPIBRA         1
  plot_code       date subplot species_code cover_pct
1  YVP N501 2019-05-30       1       FRIPUD         2
  plot_code       date subplot species_code cover_pct
1   YVP 113 2019-06-10       4       DRAVER        NA
  plot_code       date subplot species_code cover_pct
1   YVP 180 2019-06-10       8       PLAPAT         1
  plot_code       date subplot species_code cover_pct
1  YVP N158 2019-06-17       3       EPIBRA         1
  plot_code       date subplot species_code cover_pct
1  YVP N158 2019-06-17       4       EPIBRA         1
  plot_code       date subplot species_code cover_pct
1  YVP N386 2019-07-01       1       EPIBRA         1
  plot_code       date subplot species_code cover_pct
1  YVP N348 2019-07-05       5       CIRARV        NA
  plot_code       date subplot species_code cover_pct
1   YVP 468 2019-07-16       2      UNKN SP        NA

## Correct errors in species codes
The species codes used in the source data contain numerous errors, and they also in some cases represent old taxonomy where species names have been revised. This can cause all sorts of problems, like artificially creating new species or making it impossible to join with available species metadata. Several steps must be accomplished here:

1. Trim leading or trailing spaces from the code (this was done in excel before source CSV files were created)
2. Read in master list of species metadata and query YVP species codes to identify which ones don't align
3. Align the species codes, identify the ones that are wrong and correct them
4. Import the numeric key from the species metadata so that future aligments are easier and errors are less common

### Read in master list of species metadata and codes

In [ ]:
# 2020-04-27_MPGR_plant_species_list
spp = gsheet2tbl("https://docs.google.com/spreadsheets/d/1wPen7yeimXtY4qK5Nj4JPvlgHYamoogR0YJekaF7i9Y") %>% 
as_tibble() %>% glimpse()

Rows: 754
Columns: 9
$ key_PlantSpecies <dbl> 784, 783, 782, 781, 780, 779, 778, 777, 776, 775, 77…
$ key_PlantCode    <chr> "UNKN_SP", "CRYP_SP", "RUME_SP", "HIER_SP", "BOEC_SP…
$ NameScientific   <chr> "Unknown", "Cryptantha spp.", "Rumex spp.", "Hieraci…
$ NameSynonym      <chr> NA, NA, NA, NA, "Arabis spp.", NA, NA, NA, NA, NA, N…
$ NameCommon       <chr> "unknown", "cryptantha", "dock", "hawkweed", "rockcr…
$ NameFamily       <chr> "unknown", "Boraginaceae", "Polygonaceae", "Asterace…
$ NativeStatus     <chr> "unknown", "native", "nonnative", "unknown", "native…
$ LifeCycle        <chr> "unknown", "unknown", "Perennial", "Perennial", "Bie…
$ LifeForm         <chr> "unknown", "forb", "forb", "forb", "forb", "forb", "…

### Align species codes and identify mistakes

In [ ]:
# Align the species codes 
# Produce df of codes that don't match the master list
collisions_species_codes = 
df %>% 
anti_join(spp, by = c("species_code" = "key_PlantCode")) %>% 
group_by(species_code) %>% 
distinct(species_code) %>% 
arrange(species_code) %>% 
print(n = Inf)

# A tibble: 60 x 1
# Groups:   species_code [60]
   species_code
   <chr>
 1 AGOS SP
 2 AGROSP
 3 ALOP SP
 4 ANDOCCUAL
 5 ANTE SP
 6 ANTSPP
 7 ARNCOR?
 8 ARTE SP
 9 ARTSPP
10 BOEC SP
11 BOESPP
12 CARE SP
13 CARE SP2
14 CARE SP4
15 CARSPP
16 CARSPP 1
17 CARSPP 2
18 CARSPP 4
19 CARSPP2
20 CASSPP
21 CAST SP
22 CERA SP
23 CERINT
24 CHEN SP
25 CREIINT
26 CREP SP
27 CRYP SP
28 DESC SP
29 DODE SP
30 DODOUL
31 DODSPP
32 DODSSP
33 DRASPP
34 ELYM SP
35 ELYSPP
36 EPISPP
37 EQUI SP
38 EQUSPP
39 ERIG SP
40 ERISPP
41 HIERSP
42 LEURED
43 LUWRED
44 POA SP
45 POTE SP
46 POTSPP
47 PSEPSI
48 RUME SP
49 SALI SP
50 SELDEN
51 SOLCAN
52 STIP SP
53 SYMP SP
54 SYMPHYOTRICHUM APP.
55 SYMSPP
56 TADUB
57 TRIDUB
58 TRIF SP
59 TRISPP
60 UNKN SP

### Create file that associates errors with corrections

In [ ]:
# Produce file `collisions_species_codes` for work in spreadsheet outside of this environment
# The file will save to the `content` folder in the drive tree
# BL downloaded the file to his desktop to produce a new naming key file
filename = "collisions_species_codes.csv"
if (filename %in% list.files(getwd())) {
  cat("file already exists in working directory: ", filename, "\n", "working directory: ", getwd(), "\n")
} else {
  write.csv(collisions_species_codes, filename)
  cat(filename, " written to working directory \n", "working directory: ", getwd(), "\n")
}

file already exists in working directory:  collisions_species_codes.csv
 working directory:  /content

In [ ]:
# Import csv file with the updated codes 
# This file was produced by visually aligning the codes with a file that Rebecca Durham provided
code_corrections <- read.csv(file = "https://drive.google.com/uc?id=1D0j3U4Or2PviFS02F3rxTRXr1SpGOB0a",
  colClasses = c("character", "character")) %>% 
glimpse()

Rows: 60
Columns: 2
$ plantcode_incorrect <chr> "AGOS SP", "ALOP SP", "ANDOCCUAL", "ARNCOR?", "AR…
$ plantcode_corrected <chr> "AGOS_SP", "ALOP_SP", "ANDOCC", "ARNCOR", "ARTDRA…

### Cascade changes through dataset

In [ ]:
# Create new df to hold corrected information
# Change species_code to character variable to avoid problems with levels later
yvp_veg_cover_correct = df %>% mutate(species_code = as.character(species_code)) %>% glimpse()

Rows: 21,682
Columns: 8
$ plot_code    <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 1…
$ plot_loc     <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ plot_rep     <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ plot_num     <int> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, …
$ date         <date> 2017-06-09, 2017-06-09, 2017-06-09, 2017-06-09, 2017-06…
$ subplot      <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ species_code <chr> "BOESPP", "CREINT", "EUPESU", "FESCAM", "FESIDA", "GEUTR…
$ cover_pct    <int> 1, 1, 5, 25, 25, 10, 1, 1, 5, 1, 30, 2, 2, 1, 3, 0, 1, 0…

In [ ]:
# Loop operation used to update each instance of an incorrect code
# Embed logic control to prevent errors if this loop is run on a df with corrected codes
# Variable to track loop cycles
cycles = 0

for (i in 1:length(code_corrections[, 1])) {
  index = which(yvp_veg_cover_correct$species_code == code_corrections$plantcode_incorrect[i])

  if (length(index != 0)) {
    cat("number of incorrect code entries: ", length(index), "\n")
    cat("incorrect code: ", code_corrections$plantcode_incorrect[i], "\n")
    yvp_veg_cover_correct[index, ]$species_code = code_corrections$plantcode_corrected[i]
    print(yvp_veg_cover_correct[index, c(1,5,6,7,8)])
    cycles = cycles + length(index)
    cat("\n")
  } else {
    cat("no incorrect code entries were found \n")
  }

  cat("number of corrections made (cumulative): ", cycles, "\n\n\n")

}

number of incorrect code entries:  1
incorrect code:  AGOS SP
      plot_code       date subplot species_code cover_pct
19181   YVP 205 2019-06-26       4      AGOS_SP         1

number of corrections made (cumulative):  1


number of incorrect code entries:  9
incorrect code:  ALOP SP
      plot_code       date subplot species_code cover_pct
21124  YVP N348 2019-07-05       2      ALOP_SP        40
21135  YVP N348 2019-07-05       3      ALOP_SP        10
21144  YVP N348 2019-07-05       4      ALOP_SP        50
21155  YVP N348 2019-07-05       5      ALOP_SP        80
21164  YVP N348 2019-07-05       6      ALOP_SP        10
21179  YVP N348 2019-07-05       7      ALOP_SP        65
21188  YVP N348 2019-07-05       8      ALOP_SP        25
21198  YVP N348 2019-07-05       9      ALOP_SP        60
21205  YVP N348 2019-07-05      10      ALOP_SP         2

number of corrections made (cumulative):  10


number of incorrect code entries:  2
incorrect code:  ANDOCCUAL
     plot_code       date subplot species_code cover_pct
3045   YVP 205 2017-06-05       3       ANDOCC         1
3087   YVP 205 2017-06-05       4       ANDOCC         1

number of corrections made (cumulative):  12


number of incorrect code entries:  2
incorrect code:  ARNCOR?
     plot_code       date subplot species_code cover_pct
8827  YVP N348 2018-07-11       1       ARNCOR        15
8842  YVP N348 2018-07-11       2       ARNCOR         5

number of corrections made (cumulative):  14


number of incorrect code entries:  5
incorrect code:  ARTSPP
     plot_code       date subplot species_code cover_pct
1772   YVP 184 2017-05-11       3       ARTDRA         5
1839   YVP 184 2017-05-11       6       ARTDRA        10
2956   YVP 203 2017-05-18      10       ARTDRA         1
3422   YVP 209 2017-05-11       4       ARTDRA         2
3437   YVP 209 2018-05-31       4       ARTDRA         0

number of corrections made (cumulative):  19


number of incorrect code entries:  9
incorrect code:  CARE SP
      plot_code       date subplot species_code cover_pct
20158    YVP N7 2019-07-01       1      CARE_SP         3
20188    YVP N7 2019-07-01       3      CARE_SP         5
20217    YVP N7 2019-07-01       5      CARE_SP         1
20239    YVP N7 2019-07-01       6      CARE_SP         1
20257    YVP N7 2019-07-01       7      CARE_SP         1
20294    YVP N7 2019-07-01       9      CARE_SP         3
20312    YVP N7 2019-07-01      10      CARE_SP         2
21550   YVP 468 2019-07-16       5      CARE_SP         3
21626   YVP 485 2019-07-16       4      CARE_SP         3

number of corrections made (cumulative):  28


number of incorrect code entries:  6
incorrect code:  CARE SP2
      plot_code       date subplot species_code cover_pct
21217   YVP 479 2019-07-15       1      CARE_SP        10
21240   YVP 479 2019-07-15       2      CARE_SP         5
21261   YVP 479 2019-07-15       3      CARE_SP         3
21283   YVP 479 2019-07-15       4      CARE_SP         1
21323   YVP 479 2019-07-15       7      CARE_SP        10
21341   YVP 479 2019-07-15       8      CARE_SP         1

number of corrections made (cumulative):  34


number of incorrect code entries:  1
incorrect code:  CARE SP4
      plot_code       date subplot species_code cover_pct
21342   YVP 479 2019-07-15       8      CARE_SP         5

number of corrections made (cumulative):  35


number of incorrect code entries:  22
incorrect code:  CARSPP
      plot_code       date subplot species_code cover_pct
4883    YVP 355 2017-06-02      10      CARE_SP        20
5904    YVP 468 2017-07-06       2      CARE_SP         5
5930    YVP 468 2017-07-06       4      CARE_SP         3
5944    YVP 468 2017-07-06       5      CARE_SP         5
5950    YVP 468 2018-07-17       5      CARE_SP         2
5956    YVP 468 2017-07-06       6      CARE_SP        10
5968    YVP 468 2017-07-06       7      CARE_SP         5
5980    YVP 468 2017-07-06       8      CARE_SP         2
5993    YVP 468 2017-07-06       9      CARE_SP         3
6002    YVP 468 2017-07-06      10      CARE_SP         3
6775    YVP 485 2017-07-06       4      CARE_SP         3
6782    YVP 485 2018-07-16       4      CARE_SP         3
6799    YVP 485 2017-07-06       6      CARE_SP         4
6822    YVP 485 2017-07-06       8      CARE_SP         5
6835    YVP 485 2017-07-06       9      CARE_SP         5
6850    YVP 485 2017-07-06      10      CARE_SP        10
11982    YVP N7 2017-06-08       1      CARE_SP         3
11997    YVP N7 2018-07-09       1      CARE_SP         2
12035    YVP N7 2017-06-08       3      CARE_SP         2
12051    YVP N7 2018-07-09       3      CARE_SP        10
12132    YVP N7 2018-07-09       6      CARE_SP         1
12224    YVP N7 2018-07-09       9      CARE_SP         2

number of corrections made (cumulative):  57


number of incorrect code entries:  5
incorrect code:  CARSPP 1
     plot_code       date subplot species_code cover_pct
6242   YVP 479 2017-07-06       1      CARE_SP        25
6314   YVP 479 2017-07-06       3      CARE_SP        10
6455   YVP 479 2017-07-06       8      CARE_SP         5
6489   YVP 479 2017-07-06       9      CARE_SP        10
6677   YVP 481 2017-07-06       8      CARE_SP         2

number of corrections made (cumulative):  62


number of incorrect code entries:  12
incorrect code:  CARSPP 2
     plot_code       date subplot species_code cover_pct
5916   YVP 468 2017-07-06       3      CARE_SP         3
6258   YVP 479 2018-07-16       1      CARE_SP         5
6278   YVP 479 2017-07-06       2      CARE_SP         2
6295   YVP 479 2018-07-16       2      CARE_SP        10
6334   YVP 479 2018-07-16       3      CARE_SP        20
6354   YVP 479 2017-07-06       4      CARE_SP         5
6371   YVP 479 2018-07-16       4      CARE_SP        15
6408   YVP 479 2017-07-06       6      CARE_SP         5
6456   YVP 479 2017-07-06       8      CARE_SP         5
6472   YVP 479 2018-07-16       8      CARE_SP         1
6581   YVP 481 2017-07-06       3      CARE_SP         4
6599   YVP 481 2017-07-06       4      CARE_SP        10

number of corrections made (cumulative):  74


number of incorrect code entries:  1
incorrect code:  CARSPP 4
     plot_code       date subplot species_code cover_pct
6473   YVP 479 2018-07-16       8      CARE_SP         2

number of corrections made (cumulative):  75


number of incorrect code entries:  2
incorrect code:  CARSPP2
     plot_code       date subplot species_code cover_pct
6430   YVP 479 2017-07-06       7      CARE_SP        10
6442   YVP 479 2018-07-16       7      CARE_SP        15

number of corrections made (cumulative):  77


number of incorrect code entries:  9
incorrect code:  CASSPP
      plot_code       date subplot species_code cover_pct
8699   YVP N324 2017-05-10       7      CAST_SP         1
8734   YVP N324 2017-05-10       8      CAST_SP         1
8789   YVP N324 2017-05-10      10      CAST_SP         1
10417  YVP N550 2017-06-07       2      CAST_SP         1
10434  YVP N550 2018-07-09       2      CAST_SP         0
10641  YVP N550 2017-06-07       8      CAST_SP         1
10656  YVP N550 2018-07-09       8      CAST_SP         0
10674  YVP N550 2017-06-07       9      CAST_SP         1
10693  YVP N550 2018-07-09       9      CAST_SP         0

number of corrections made (cumulative):  86


number of incorrect code entries:  1
incorrect code:  CERINT
      plot_code       date subplot species_code cover_pct
10397  YVP N550 2018-07-09       1       CREINT         2

number of corrections made (cumulative):  87


number of incorrect code entries:  5
incorrect code:  CHEN SP
      plot_code       date subplot species_code cover_pct
18396  YVP N570 2019-06-11       1      CHEN_SP         2
18410  YVP N570 2019-06-11       3      CHEN_SP         4
18417  YVP N570 2019-06-11       4      CHEN_SP         1
18427  YVP N570 2019-06-11       5      CHEN_SP         1
18505  YVP N571 2019-06-11       7      CHEN_SP         1

number of corrections made (cumulative):  92


number of incorrect code entries:  4
incorrect code:  CREIINT
      plot_code       date subplot species_code cover_pct
5446    YVP 412 2017-06-06      10       CREINT         4
5464    YVP 412 2018-07-02      10       CREINT         4
10033  YVP N501 2017-06-07       9       CREINT         2
10048  YVP N501 2018-07-09       9       CREINT         3

number of corrections made (cumulative):  96


number of incorrect code entries:  1
incorrect code:  DODOUL
      plot_code       date subplot species_code cover_pct
12900 YVP NB294 2017-05-08       6       DODPUL         1

number of corrections made (cumulative):  97


number of incorrect code entries:  3
incorrect code:  DODSPP
     plot_code       date subplot species_code cover_pct
2439    YVP 20 2018-07-12       6      DODE_SP         1
9019  YVP N386 2018-07-05       2      DODE_SP         1
9807  YVP N501 2018-07-09       1      DODE_SP         1

number of corrections made (cumulative):  100


number of incorrect code entries:  1
incorrect code:  DODSSP
     plot_code       date subplot species_code cover_pct
9837  YVP N501 2018-07-09       2      DODE_SP         1

number of corrections made (cumulative):  101


number of incorrect code entries:  1
incorrect code:  DRASPP
      plot_code       date subplot species_code cover_pct
13004 YVP NB294 2017-05-08      10      DRAB_SP         1

number of corrections made (cumulative):  102


number of incorrect code entries:  1
incorrect code:  ELYSPP
     plot_code       date subplot species_code cover_pct
8959  YVP N348 2018-07-11       9      ELYM_SP         3

number of corrections made (cumulative):  103


number of incorrect code entries:  1
incorrect code:  EPISPP
     plot_code       date subplot species_code cover_pct
6004   YVP 468 2017-07-06      10      EPIL_SP        10

number of corrections made (cumulative):  104


number of incorrect code entries:  9
incorrect code:  EQUSPP
     plot_code       date subplot species_code cover_pct
6261   YVP 479 2018-07-16       1      EQUI_SP         3
6297   YVP 479 2018-07-16       2      EQUI_SP         2
6316   YVP 479 2017-07-06       3      EQUI_SP         1
6337   YVP 479 2018-07-16       3      EQUI_SP         2
6432   YVP 479 2017-07-06       7      EQUI_SP         2
6457   YVP 479 2017-07-06       8      EQUI_SP         1
6534   YVP 479 2018-07-16      10      EQUI_SP         2
6551   YVP 481 2017-07-06       1      EQUI_SP         1
6584   YVP 481 2017-07-06       3      EQUI_SP         2

number of corrections made (cumulative):  113


number of incorrect code entries:  7
incorrect code:  ERISPP
      plot_code       date subplot species_code cover_pct
1944    YVP 184 2017-05-11      10      ERIG_SP         1
6106     YVP 47 2017-05-23       5      ERIG_SP         2
6339    YVP 479 2018-07-16       3      ERIG_SP         1
7458   YVP N110 2017-05-25       4      ERIG_SP         2
8251   YVP N278 2017-05-09       7      ERIG_SP         2
8263   YVP N278 2018-05-28       7      ERIG_SP         2
13108 YVP NC294 2017-05-08       4      ERIG_SP         1

number of corrections made (cumulative):  120


number of incorrect code entries:  1
incorrect code:  LEURED
     plot_code       date subplot species_code cover_pct
4146    YVP 22 2018-07-12       5       LEWRED         1

number of corrections made (cumulative):  121


number of incorrect code entries:  1
incorrect code:  LUWRED
      plot_code       date subplot species_code cover_pct
11923   YVP N58 2018-06-25       8       LEWRED         1

number of corrections made (cumulative):  122


number of incorrect code entries:  2
incorrect code:  POA SP
      plot_code       date subplot species_code cover_pct
11671  YVP N571 2018-06-06       2       POA_SP        20
18475  YVP N571 2019-06-11       2       POA_SP        20

number of corrections made (cumulative):  124


number of incorrect code entries:  1
incorrect code:  POTSPP
     plot_code       date subplot species_code cover_pct
8848  YVP N348 2018-07-11       2      POTE_SP         1

number of corrections made (cumulative):  125


number of incorrect code entries:  2
incorrect code:  PSEPSI
      plot_code       date subplot species_code cover_pct
11690  YVP N571 2018-06-06       7       PSESPI         5
11707  YVP N571 2018-06-06      10       PSESPI         5

number of corrections made (cumulative):  127


number of incorrect code entries:  18
incorrect code:  SELDEN
      plot_code       date subplot species_code cover_pct
15584   YVP 355 2019-05-28       3       SELSCO         4
15606   YVP 355 2019-05-28       4       SELSCO        15
15627   YVP 355 2019-05-28       5       SELSCO        15
15649   YVP 355 2019-05-28       6       SELSCO         5
15671   YVP 355 2019-05-28       7       SELSCO        10
18547   YVP 395 2019-06-17       1       SELSCO         1
20039  YVP N386 2019-07-01       4       SELSCO        10
20113  YVP N386 2019-07-01       8       SELSCO         3
20132  YVP N386 2019-07-01       9       SELSCO         1
20345    YVP 10 2019-07-02       1       SELSCO        50
20362    YVP 10 2019-07-02       2       SELSCO        30
20378    YVP 10 2019-07-02       3       SELSCO        45
20398    YVP 10 2019-07-02       4       SELSCO         1
20912    YVP 22 2019-07-02       1       SELSCO         2
21052    YVP 22 2019-07-02       7       SELSCO         1
21074    YVP 22 2019-07-02       8       SELSCO        75
21093    YVP 22 2019-07-02       9       SELSCO        80
21111    YVP 22 2019-07-02      10       SELSCO         5

number of corrections made (cumulative):  145


number of incorrect code entries:  5
incorrect code:  SOLCAN
      plot_code       date subplot species_code cover_pct
21231   YVP 479 2019-07-15       1       SOLLEP         5
21355   YVP 479 2019-07-15       8       SOLLEP         0
21390   YVP 479 2019-07-15      10       SOLLEP         5
21473   YVP 481 2019-07-15       7       SOLLEP         4
21501   YVP 481 2019-07-15       9       SOLLEP        10

number of corrections made (cumulative):  150


number of incorrect code entries:  2
incorrect code:  STIP SP
      plot_code       date subplot species_code cover_pct
7539   YVP N110 2018-05-30       7      STIP_SP         1
19485   YVP 412 2019-06-26       8      STIP_SP         1

number of corrections made (cumulative):  152


number of incorrect code entries:  1
incorrect code:  SYMPHYOTRICHUM APP.
     plot_code       date subplot species_code cover_pct
5813    YVP 46 2018-06-12       6      SYMP_SP         1

number of corrections made (cumulative):  153


number of incorrect code entries:  1
incorrect code:  SYMSPP
     plot_code       date subplot species_code cover_pct
6123    YVP 47 2018-06-12       5      SYMP_SP         5

number of corrections made (cumulative):  154


number of incorrect code entries:  1
incorrect code:  TADUB
     plot_code       date subplot species_code cover_pct
4469   YVP 247 2018-06-04       1       TRADUB         4

number of corrections made (cumulative):  155


number of incorrect code entries:  1
incorrect code:  TRIDUB
     plot_code       date subplot species_code cover_pct
4054    YVP 22 2018-07-12       2       TRADUB         2

number of corrections made (cumulative):  156


number of incorrect code entries:  39
incorrect code:  TRISPP
     plot_code       date subplot species_code cover_pct
3661   YVP 212 2017-06-01       2      TRIF_SP         1
3669   YVP 212 2018-06-29       2      TRIF_SP         0
3675   YVP 212 2017-06-01       3      TRIF_SP         1
3682   YVP 212 2018-06-29       3      TRIF_SP         0
3689   YVP 212 2017-06-01       4      TRIF_SP         1
3696   YVP 212 2018-06-29       4      TRIF_SP         0
3704   YVP 212 2017-06-01       5      TRIF_SP         1
3712   YVP 212 2018-06-29       5      TRIF_SP         0
3719   YVP 212 2017-06-01       6      TRIF_SP         1
3728   YVP 212 2018-06-29       6      TRIF_SP         0
3734   YVP 212 2017-06-01       7      TRIF_SP         1
3742   YVP 212 2018-06-29       7      TRIF_SP         0
3751   YVP 212 2017-06-01       8      TRIF_SP         1
3762   YVP 212 2018-06-29       8      TRIF_SP         0
3770   YVP 212 2017-06-01       9      TRIF_SP         1
3779   YVP 212 2018-06-29       9      TRIF_SP         0
3786   YVP 212 2017-06-01      10      TRIF_SP         2
3797   YVP 212 2018-06-29      10      TRIF_SP         0
4348   YVP 246 2017-06-01       2      TRIF_SP         2
4356   YVP 246 2018-06-23       2      TRIF_SP         0
4362   YVP 246 2017-06-01       3      TRIF_SP         1
4369   YVP 246 2018-06-23       3      TRIF_SP         1
4374   YVP 246 2017-06-01       4      TRIF_SP         1
4379   YVP 246 2018-06-23       4      TRIF_SP         0
4385   YVP 246 2017-06-01       5      TRIF_SP         2
4391   YVP 246 2018-06-23       5      TRIF_SP         0
4396   YVP 246 2017-06-01       6      TRIF_SP         2
4401   YVP 246 2018-06-23       6      TRIF_SP         0
4407   YVP 246 2017-06-01       7      TRIF_SP         1
4413   YVP 246 2018-06-23       7      TRIF_SP         0
4418   YVP 246 2017-06-01       8      TRIF_SP         1
4423   YVP 246 2018-06-23       8      TRIF_SP         0
4443   YVP 246 2017-06-01      10      TRIF_SP         2
4451   YVP 246 2018-06-23      10      TRIF_SP         0
5936   YVP 468 2017-07-06       4      TRIF_SP         2
6766   YVP 485 2017-07-06       3      TRIF_SP         1
6772   YVP 485 2018-07-16       3      TRIF_SP         1
8840  YVP N348 2017-07-18       2      TRIF_SP         2
8851  YVP N348 2018-07-11       2      TRIF_SP         4

number of corrections made (cumulative):  195


number of incorrect code entries:  2
incorrect code:  AGROSP
     plot_code       date subplot species_code cover_pct
5889   YVP 468 2017-07-06       1      AGRO_SP         4
5928   YVP 468 2017-07-06       4      AGRO_SP         2

number of corrections made (cumulative):  197


number of incorrect code entries:  45
incorrect code:  ANTE SP
      plot_code       date subplot species_code cover_pct
13503 YVP NB294 2019-05-13       7      ANTE_SP         0
13568  YVP N324 2019-05-14       1      ANTE_SP        10
15149  YVP N278 2019-05-23       4      ANTE_SP         4
15217  YVP N278 2019-05-23       8      ANTE_SP         2
15233  YVP N278 2019-05-23       9      ANTE_SP         1
15355   YVP N58 2019-05-27       1      ANTE_SP         3
15567   YVP 355 2019-05-28       3      ANTE_SP        10
15655   YVP 355 2019-05-28       7      ANTE_SP         2
15691   YVP 355 2019-05-28       9      ANTE_SP        10
15963  YVP N550 2019-05-28       4      ANTE_SP         2
15987  YVP N550 2019-05-28       5      ANTE_SP         4
16009  YVP N550 2019-05-28       6      ANTE_SP         3
16033  YVP N550 2019-05-28       7      ANTE_SP         2
16076  YVP N550 2019-05-28       9      ANTE_SP         5
16096  YVP N550 2019-05-28      10      ANTE_SP         3
16841  YVP N501 2019-05-30       3      ANTE_SP         1
16905  YVP N501 2019-05-30       6      ANTE_SP        15
18568   YVP 395 2019-06-17       3      ANTE_SP         3
18607   YVP 395 2019-06-17       5      ANTE_SP         3
18641   YVP 395 2019-06-17       7      ANTE_SP         2
18659   YVP 395 2019-06-17       8      ANTE_SP         2
19120   YVP 205 2019-06-26       1      ANTE_SP         1
19160   YVP 205 2019-06-26       3      ANTE_SP         2
19275   YVP 205 2019-06-26       8      ANTE_SP         5
19545  YVP N402 2019-06-26       2      ANTE_SP         1
19674    YVP 44 2019-06-27       1      ANTE_SP        10
19688    YVP 44 2019-06-27       2      ANTE_SP         4
19701    YVP 44 2019-06-27       3      ANTE_SP         5
19728    YVP 44 2019-06-27       5      ANTE_SP         1
19771    YVP 44 2019-06-27       8      ANTE_SP         1
19784    YVP 44 2019-06-27       9      ANTE_SP         5
19799    YVP 44 2019-06-27      10      ANTE_SP         1
19967  YVP N386 2019-07-01       1      ANTE_SP         1
20023  YVP N386 2019-07-01       4      ANTE_SP         0

In [ ]:
# Rescan for incorrect species codes
yvp_veg_cover_correct %>% 
anti_join(spp, by = c("species_code" = "key_PlantCode")) %>% 
group_by(species_code) %>% distinct(species_code) %>% arrange(species_code)

     species_code

In [ ]:
# Incorporate serial key for species codes
yvp_vegetation_cover_FINAL = 
yvp_veg_cover_correct %>% 
left_join(spp %>% select(key_PlantSpecies, key_PlantCode), by = c("species_code" = "key_PlantCode")) %>% 
rename(species_key = key_PlantSpecies) %>% 
select(c(1,2,3,4,5,6,9,7,8)) %>% 
glimpse()

Rows: 21,682
Columns: 9
$ plot_code    <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 1…
$ plot_loc     <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ plot_rep     <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ plot_num     <int> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, …
$ date         <date> 2017-06-09, 2017-06-09, 2017-06-09, 2017-06-09, 2017-06…
$ subplot      <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ species_key  <dbl> 780, 163, 230, 232, 233, 250, 84, 316, 320, 343, 483, 57…
$ species_code <chr> "BOEC_SP", "CREINT", "EUPESU", "FESCAM", "FESIDA", "GEUT…
$ cover_pct    <int> 1, 1, 5, 25, 25, 10, 1, 1, 5, 1, 30, 2, 2, 1, 3, 0, 1, 0…

In [ ]:
summary(yvp_vegetation_cover_FINAL)

  plot_code           plot_loc           plot_rep            plot_num
 Length:21682       Length:21682       Length:21682       Min.   :  7.0
 Class :character   Class :character   Class :character   1st Qu.: 62.0
 Mode  :character   Mode  :character   Mode  :character   Median :209.0
                                                          Mean   :244.9
                                                          3rd Qu.:386.0
                                                          Max.   :571.0

      date               subplot        species_key    species_code
 Min.   :2017-05-08   Min.   : 1.000   Min.   :  3.0   Length:21682
 1st Qu.:2017-06-09   1st Qu.: 3.000   1st Qu.:153.0   Class :character
 Median :2018-07-02   Median : 5.000   Median :274.0   Mode  :character
 Mean   :2018-07-22   Mean   : 5.499   Mean   :280.1
 3rd Qu.:2019-05-28   3rd Qu.: 8.000   3rd Qu.:411.0
 Max.   :2019-07-16   Max.   :10.000   Max.   :784.0

   cover_pct
 Min.   :  0.000
 1st Qu.:  1.000
 Median :  2.000
 Mean   :  6.701
 3rd Qu.:  5.000
 Max.   :100.000
 NA's   :17

# Output

## Export Wrangled DataFrame to CSV 
Export the full data set so that we can push it to the BQ database

In [ ]:
filename_final = "yvp_vegetation_cover_FINAL.csv"

if (filename_final %in% list.files(getwd())) {
  cat("file already exists in working directory:", filename_final, "\n", "working directory:", getwd(), "\n")
} else {
  write.csv(yvp_vegetation_cover_FINAL, filename_final)
  cat(filename_final, "written to working directory \n", "working directory:", getwd(), "\n")
}

yvp_vegetation_cover_FINAL.csv written to working directory
 working directory: /content

## Push to BigQuery

"yvp_vegetation_cover_FINAL.csv" uploaded manually to BigQuery

## Export field datasheet version
Field datasheets need to have a complete, cumulative species list for each plot recorded in a table, with the cover_pct column set to 0. This allows field techs to change the 0 to some number if the species is found. The date column is blank so that field techs can fill in the appropriate date. Do not include columns that are needed for data analysis, like plot_loc, plot_rep, plot_num, and species_key. 

**Schema for field data sheet**

* plot_num (helps for sorting and finding plots)
* plot_code
* date
* species_code
* cover_pct

In [ ]:
field_datasheet = 
yvp_vegetation_cover_FINAL %>% 
select(plot_num, plot_code, subplot, species_code) %>% 
group_by(plot_num, plot_code, subplot) %>% 
distinct(species_code) %>% 
select(-species_code, species_code) %>% 
add_column(date = NA, .after = "plot_code") %>% 
add_column(cover_pct = 0) %>% 
arrange(plot_num, plot_code, subplot, species_code) %>% 
glimpse()

Rows: 8,861
Columns: 6
Groups: plot_num, plot_code, subplot [580]
$ plot_num     <int> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,…
$ plot_code    <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N…
$ date         <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ subplot      <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,…
$ species_code <chr> "ACHMIL", "ALYALY", "BROTEC", "CAMMIC", "CARE_SP", "COLL…
$ cover_pct    <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…

In [ ]:
filename_field_datasheet = "yvp_vegetation_cover_field_datasheet_FINAL.csv"

if (filename_field_datasheet %in% list.files(getwd())) {
  cat("file already exists in working directory:", filename_final, "\n", "working directory:", getwd(), "\n")
} else {
  write.csv(field_datasheet, filename_field_datasheet)
  cat(filename_final, "written to working directory \n", "working directory:", getwd(), "\n")
}

yvp_vegetation_cover_FINAL.csv written to working directory
 working directory: /content