<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/YVP_Vegetation_Cover_Data_Wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*R Notebook*

# README

* [Readme fixed grid plot vegetation data](https://docs.google.com/document/d/16-Aq8u9Rudd78fSzfjvpCXyQgE-BstC-d2PjYfmLtcw/edit?usp=sharing)

# Load Tools

In [0]:
library(tidyverse)

# Source

In [0]:
# 2020-04-28_yvp_vegetation_cover
src = 'https://drive.google.com/uc?id=1pemnlKIlfAQw2JSMN7yDlYMG5QhUW-NP'

In [0]:
df <- read.csv(file = src)

In [368]:
head(df, n=2)

  plot_code date       subplot species_code cover_pct
1 YVP 10    2017-06-09 1       BOESPP       1
2 YVP 10    2017-06-09 1       CREINT       1

# Wrangle

## Structure columns

### plot_code

In [0]:
# convert to string
df$plot_code <- as.character(df$plot_code)

### plot_ loc

In [0]:
# detect "N" in 'plot_code' and write to new column 'plot_loc'
df <- df %>%
  mutate(plot_loc = ifelse(str_detect(plot_code, "N"), "N", NA))

In [0]:
# reorder columns
df <- df[,c(1,6,2,3,4,5)]

### plot_rep

In [0]:
# detect "A", "B", "C" characters in plot_code and if present write to 'plot_rep'
df <- df %>%
  mutate(plot_rep = case_when(str_detect(plot_code, "A")~"A",
                              str_detect(plot_code, "B")~"B",
                              str_detect(plot_code, "C")~"C"))

In [0]:
# reorder columns
df <- df[,c(1,2,7,3,4,5,6)]

### plot_num

In [0]:
# use digital values from 'plot_code' and to populate 'plot_num'
df <- df %>%
  mutate(plot_num = str_extract(plot_code, "[:digit:].*"))

In [0]:
# reorder columns
df <- df[,c(1,2,3,8,4,5,6,7)]

### date

In [0]:
# convert to date
df$date <- as.Date(df$date)

### subplot

In [0]:
# convert to integer
df$subplot <- as.integer(df$subplot)

### species_key

This will be imported from the plant species metadata table, and we can use it to join and correct species codes in the future

In [0]:
# set to NA for now
df$species_key <- NA

In [0]:
# convert to string
df$species_key <- as.character(df$species_key)

In [0]:
# reorder columns
df <- df[,c(1,2,3,4,5,6,9,7,8)]

### species_code

In [0]:
# convert to string
df$species_code <- as.character(df$species_code)

In [382]:
head(df, n=2)

  plot_code plot_loc plot_rep plot_num date       subplot species_key
1 YVP 10    NA       NA       10       2017-06-09 1       NA
2 YVP 10    NA       NA       10       2017-06-09 1       NA
  species_code cover_pct
1 BOESPP       1
2 CREINT       1

## Identify Double Counting

In [383]:
str(df)

'data.frame':	21728 obs. of  9 variables:
 $ plot_code   : chr  "YVP 10" "YVP 10" "YVP 10" "YVP 10" ...
 $ plot_loc    : chr  NA NA NA NA ...
 $ plot_rep    : chr  NA NA NA NA ...
 $ plot_num    : chr  "10" "10" "10" "10" ...
 $ date        : Date, format: "2017-06-09" "2017-06-09" ...
 $ subplot     : int  1 1 1 1 1 1 1 1 1 1 ...
 $ species_key : chr  NA NA NA NA ...
 $ species_code: chr  "BOESPP" "CREINT" "EUPESU" "FESCAM" ...
 $ cover_pct   : int  1 1 5 25 25 10 1 1 5 1 ...

In [384]:
head(df)

  plot_code plot_loc plot_rep plot_num date       subplot species_key
1 YVP 10    NA       NA       10       2017-06-09 1       NA
2 YVP 10    NA       NA       10       2017-06-09 1       NA
3 YVP 10    NA       NA       10       2017-06-09 1       NA
4 YVP 10    NA       NA       10       2017-06-09 1       NA
5 YVP 10    NA       NA       10       2017-06-09 1       NA
6 YVP 10    NA       NA       10       2017-06-09 1       NA
  species_code cover_pct
1 BOESPP        1
2 CREINT        1
3 EUPESU        5
4 FESCAM       25
5 FESIDA       25
6 GEUTRI       10

In [385]:
# Find instances where a plant species is counted twice in the same year-plot-subplot combination
dbl_counts <- df %>%
  group_by(year = as.numeric(substring(date,0,4)), plot_code, subplot, species_code) %>%
  summarize(counted = n()) %>% 
  ungroup() %>%
  arrange(year, plot_code, subplot, desc(counted)) %>%
  filter(counted > 1) %>%
  print(n=Inf)

# A tibble: 46 x 5
    year plot_code subplot species_code counted
   <dbl> <chr>       <int> <chr>          <int>
 1  2017 YVP 144         2 VERVER             2
 2  2017 YVP 180         7 FRIPUD             2
 3  2017 YVP 203         4 COLLIN             2
 4  2017 YVP 355        10 PSESPI             2
 5  2017 YVP 44          9 ORTTEN             2
 6  2017 YVP N111        2 DRAVER             2
 7  2017 YVP NB294       8 MICGRA             2
 8  2018 YVP 112         9 ALYALY             2
 9  2018 YVP 12          4 HOLUMB             2
10  2018 YVP 144        10 ACHMIL             2
11  2018 YVP 184         4 HOLUMB             2
12  2018 YVP 185         1 DRAVER             2
13  2018 YVP 185         1 FRIPUD             2
14  2018 YVP 185         1 MYOMIC             2
15  2018 YVP 185         3 HOLUMB             2
16  2018 YVP 185         4 ARANUT             2
17  2018 YVP 185         4 EPIBRA             2
18  2018 YVP 20          2 VERVER             2
19  2018 YVP 203         4 COLLIN             2
20  2018 YVP 209         5 ALYALY             2
21  2018 YVP 213         4 ARIPUR             2
22  2018 YVP 22          2 FESCAM             2
23  2018 YVP 355         7 DODPUL             2
24  2018 YVP 412         9 MICGRA             2
25  2018 YVP 56          1 HOLUMB             2
26  2018 YVP 62          3 KOEMAC             2
27  2018 YVP 62          4 HOLUMB             2
28  2018 YVP 62          8 ORTTEN             2
29  2018 YVP N110        5 MYOMIC             2
30  2018 YVP N278        2 ARESER             2
31  2018 YVP N501       10 ARECON             2
32  2018 YVP N522        1 LITRUD             2
33  2018 YVP N558        7 COLLIN             2
34  2018 YVP NB294       8 MICGRA             2
35  2019 YVP 113         4 DRAVER             2
36  2019 YVP 180         8 PLAPAT             2
37  2019 YVP 209         5 ASTINF             2
38  2019 YVP 468         2 UNKN SP            2
39  2019 YVP N111        3 EPIBRA             2
40  2019 YVP N158        3 EPIBRA             2
41  2019 YVP N158        4 EPIBRA             2
42  2019 YVP N348        5 CIRARV             2
43  2019 YVP N386        1 EPIBRA             2
44  2019 YVP N501        1 FRIPUD             2
45  2019 YVP NC294       4 MYOMIC             2
46  2019 YVP NC294       6 ERIPUM             2

In [386]:
view_doubles  <- dbl_counts %>%
  left_join(df %>% mutate(year = as.numeric(substring(date,0,4))))

Joining, by = c("year", "plot_code", "subplot", "species_code")

In [387]:
str(view_doubles)

tibble [92 × 11] (S3: tbl_df/tbl/data.frame)
 $ year        : num [1:92] 2017 2017 2017 2017 2017 ...
 $ plot_code   : chr [1:92] "YVP 144" "YVP 144" "YVP 180" "YVP 180" ...
 $ subplot     : int [1:92] 2 2 7 7 4 4 10 10 9 9 ...
 $ species_code: chr [1:92] "VERVER" "VERVER" "FRIPUD" "FRIPUD" ...
 $ counted     : int [1:92] 2 2 2 2 2 2 2 2 2 2 ...
 $ plot_loc    : chr [1:92] NA NA NA NA ...
 $ plot_rep    : chr [1:92] NA NA NA NA ...
 $ plot_num    : chr [1:92] "144" "144" "180" "180" ...
 $ date        : Date[1:92], format: "2017-05-30" "2017-05-30" ...
 $ species_key : chr [1:92] NA NA NA NA ...
 $ cover_pct   : int [1:92] 3 4 1 1 10 1 20 2 4 1 ...

In [388]:
view_doubles %>%
  distinct(date, plot_code, species_code, subplot) %>%
  arrange(date, plot_code, species_code)

   date       plot_code species_code subplot
1  2017-05-08 YVP NB294 MICGRA        8
2  2017-05-18 YVP 203   COLLIN        4
3  2017-05-25 YVP N111  DRAVER        2
4  2017-05-30 YVP 144   VERVER        2
5  2017-05-31 YVP 180   FRIPUD        7
6  2017-06-02 YVP 355   PSESPI       10
7  2017-06-06 YVP 44    ORTTEN        9
8  2018-05-28 YVP 144   ACHMIL       10
9  2018-05-28 YVP N278  ARESER        2
10 2018-05-28 YVP N522  LITRUD        1
11 2018-05-30 YVP 184   HOLUMB        4
12 2018-05-30 YVP 185   ARANUT        4
13 2018-05-30 YVP 185   DRAVER        1
14 2018-05-30 YVP 185   EPIBRA        4
15 2018-05-30 YVP 185   FRIPUD        1
16 2018-05-30 YVP 185   HOLUMB        3
17 2018-05-30 YVP 185   MYOMIC        1
18 2018-05-30 YVP N110  MYOMIC        5
19 2018-05-30 YVP NB294 MICGRA        8
20 2018-05-31 YVP 112   ALYALY        9
21 2018-05-31 YVP 209   ALYALY        5
22 2018-06-04 YVP 203   COLLIN        4
23 2018-06-04 YVP 213   ARIPUR        4
24 2018-06-11 YVP 56    HOLUMB        1
25 2018-06-25 YVP 355   DODPUL        7
26 2018-06-26 YVP N558  COLLIN        7
27 2018-07-02 YVP 412   MICGRA        9
28 2018-07-02 YVP 62    HOLUMB        4
29 2018-07-02 YVP 62    KOEMAC        3
30 2018-07-02 YVP 62    ORTTEN        8
31 2018-07-09 YVP N501  ARECON       10
32 2018-07-10 YVP 12    HOLUMB        4
33 2018-07-12 YVP 20    VERVER        2
34 2018-07-12 YVP 22    FESCAM        2
35 2019-05-09 YVP NC294 ERIPUM        6
36 2019-05-09 YVP NC294 MYOMIC        4
37 2019-05-23 YVP 209   ASTINF        5
38 2019-05-23 YVP N111  EPIBRA        3
39 2019-05-30 YVP N501  FRIPUD        1
40 2019-06-10 YVP 113   DRAVER        4
41 2019-06-10 YVP 180   PLAPAT        8
42 2019-06-17 YVP N158  EPIBRA        3
43 2019-06-17 YVP N158  EPIBRA        4
44 2019-07-01 YVP N386  EPIBRA        1
45 2019-07-05 YVP N348  CIRARV        5
46 2019-07-16 YVP 468   UNKN SP       2

In [389]:
view_doubles %>%
  distinct(date, plot_code, subplot, plot_loc) %>%
  arrange(date, plot_code)

   date       plot_code subplot plot_loc
1  2017-05-08 YVP NB294  8      N
2  2017-05-18 YVP 203    4      NA
3  2017-05-25 YVP N111   2      N
4  2017-05-30 YVP 144    2      NA
5  2017-05-31 YVP 180    7      NA
6  2017-06-02 YVP 355   10      NA
7  2017-06-06 YVP 44     9      NA
8  2018-05-28 YVP 144   10      NA
9  2018-05-28 YVP N278   2      N
10 2018-05-28 YVP N522   1      N
11 2018-05-30 YVP 184    4      NA
12 2018-05-30 YVP 185    1      NA
13 2018-05-30 YVP 185    3      NA
14 2018-05-30 YVP 185    4      NA
15 2018-05-30 YVP N110   5      N
16 2018-05-30 YVP NB294  8      N
17 2018-05-31 YVP 112    9      NA
18 2018-05-31 YVP 209    5      NA
19 2018-06-04 YVP 203    4      NA
20 2018-06-04 YVP 213    4      NA
21 2018-06-11 YVP 56     1      NA
22 2018-06-25 YVP 355    7      NA
23 2018-06-26 YVP N558   7      N
24 2018-07-02 YVP 412    9      NA
25 2018-07-02 YVP 62     3      NA
26 2018-07-02 YVP 62     4      NA
27 2018-07-02 YVP 62     8      NA
28 2018-07-09 YVP N501  10      N
29 2018-07-10 YVP 12     4      NA
30 2018-07-12 YVP 20     2      NA
31 2018-07-12 YVP 22     2      NA
32 2019-05-09 YVP NC294  4      N
33 2019-05-09 YVP NC294  6      N
34 2019-05-23 YVP 209    5      NA
35 2019-05-23 YVP N111   3      N
36 2019-05-30 YVP N501   1      N
37 2019-06-10 YVP 113    4      NA
38 2019-06-10 YVP 180    8      NA
39 2019-06-17 YVP N158   3      N
40 2019-06-17 YVP N158   4      N
41 2019-07-01 YVP N386   1      N
42 2019-07-05 YVP N348   5      N
43 2019-07-16 YVP 468    2      NA

## Resolve double counts

* If the 'cover_pct' values are equal, delete one of the rows
* If the 'cover_pct' values are not equal, delete one of the rows and change cover_pct for the remaining one to NA

In [390]:
str(view_doubles)

tibble [92 × 11] (S3: tbl_df/tbl/data.frame)
 $ year        : num [1:92] 2017 2017 2017 2017 2017 ...
 $ plot_code   : chr [1:92] "YVP 144" "YVP 144" "YVP 180" "YVP 180" ...
 $ subplot     : int [1:92] 2 2 7 7 4 4 10 10 9 9 ...
 $ species_code: chr [1:92] "VERVER" "VERVER" "FRIPUD" "FRIPUD" ...
 $ counted     : int [1:92] 2 2 2 2 2 2 2 2 2 2 ...
 $ plot_loc    : chr [1:92] NA NA NA NA ...
 $ plot_rep    : chr [1:92] NA NA NA NA ...
 $ plot_num    : chr [1:92] "144" "144" "180" "180" ...
 $ date        : Date[1:92], format: "2017-05-30" "2017-05-30" ...
 $ species_key : chr [1:92] NA NA NA NA ...
 $ cover_pct   : int [1:92] 3 4 1 1 10 1 20 2 4 1 ...

In [0]:
distinct_doubles <- view_doubles %>%
  distinct(date, plot_code, subplot, species_code) %>%
  arrange(date, plot_code)

In [392]:
str(distinct_doubles)

tibble [46 × 4] (S3: tbl_df/tbl/data.frame)
 $ date        : Date[1:46], format: "2017-05-08" "2017-05-18" ...
 $ plot_code   : chr [1:46] "YVP NB294" "YVP 203" "YVP N111" "YVP 144" ...
 $ subplot     : int [1:46] 8 4 2 2 7 10 9 10 2 1 ...
 $ species_code: chr [1:46] "MICGRA" "COLLIN" "DRAVER" "VERVER" ...

In [393]:
nrow(distinct_doubles)

[1] 46

In [394]:
for (row in 1:nrow(distinct_doubles)) {
  dbl_ref <- distinct_doubles[row, ]
  
  # date, plot_code, species_code, subplot
  selected_rows <- filter(df, date == dbl_ref$date &
                        plot_code == dbl_ref$plot_code &
                        species_code == dbl_ref$species_code &
                        subplot == dbl_ref$subplot)
                        
  # identify indicies of duplicate observationos in original dataframe
  selected_indices <- which(df$date == dbl_ref$date &
                        df$plot_code == dbl_ref$plot_code &
                        df$species_code == dbl_ref$species_code &
                        df$subplot == dbl_ref$subplot)

  # Display for Review
  print(selected_rows)

  # compare "cover_pct" observations for equality
  if(var(selected_rows$cover_pct) == 0) {
    print("EQUAL")
    # drop duplicate observation
    df <- df[-c(last(selected_indices)), ]    
  } else if (var(selected_rows$cover_pct) != 0) {
    print("NOT EQUAL")
    # set first row "cover_pct" to NA
    df[c(first(selected_indices)), ]$cover_pct = NA

    # drop duplicate observation
    df <- df[-c(last(selected_indices)), ]
  }
}

  plot_code plot_loc plot_rep plot_num       date subplot species_key
1 YVP NB294        N        B      294 2017-05-08       8        <NA>
2 YVP NB294        N        B      294 2017-05-08       8        <NA>
  species_code cover_pct
1       MICGRA         1
2       MICGRA         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 203     <NA>     <NA>      203 2017-05-18       4        <NA>
2   YVP 203     <NA>     <NA>      203 2017-05-18       4        <NA>
  species_code cover_pct
1       COLLIN        10
2       COLLIN         1
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1  YVP N111        N     <NA>      111 2017-05-25       2        <NA>
2  YVP N111        N     <NA>      111 2017-05-25       2        <NA>
  species_code cover_pct
1       DRAVER         1
2       DRAVER         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 144     <NA>     <NA>      144 2017-05-30       2        <NA>
2   YVP 144     <NA>     <NA>      144 2017-05-30       2        <NA>
  species_code cover_pct
1       VERVER         3
2       VERVER         4
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 180     <NA>     <NA>      180 2017-05-31       7        <NA>
2   YVP 180     <NA>     <NA>      180 2017-05-31       7        <NA>
  species_code cover_pct
1       FRIPUD         1
2       FRIPUD         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 355     <NA>     <NA>      355 2017-06-02      10        <NA>
2   YVP 355     <NA>     <NA>      355 2017-06-02      10        <NA>
  species_code cover_pct
1       PSESPI        20
2       PSESPI         2
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1    YVP 44     <NA>     <NA>       44 2017-06-06       9        <NA>
2    YVP 44     <NA>     <NA>       44 2017-06-06       9        <NA>
  species_code cover_pct
1       ORTTEN         4
2       ORTTEN         1
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 144     <NA>     <NA>      144 2018-05-28      10        <NA>
2   YVP 144     <NA>     <NA>      144 2018-05-28      10        <NA>
  species_code cover_pct
1       ACHMIL         5
2       ACHMIL         5
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1  YVP N278        N     <NA>      278 2018-05-28       2        <NA>
2  YVP N278        N     <NA>      278 2018-05-28       2        <NA>
  species_code cover_pct
1       ARESER         2
2       ARESER         1
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1  YVP N522        N     <NA>      522 2018-05-28       1        <NA>
2  YVP N522        N     <NA>      522 2018-05-28       1        <NA>
  species_code cover_pct
1       LITRUD        10
2       LITRUD         1
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 184     <NA>     <NA>      184 2018-05-30       4        <NA>
2   YVP 184     <NA>     <NA>      184 2018-05-30       4        <NA>
  species_code cover_pct
1       HOLUMB         1
2       HOLUMB         2
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 185     <NA>     <NA>      185 2018-05-30       1        <NA>
2   YVP 185     <NA>     <NA>      185 2018-05-30       1        <NA>
  species_code cover_pct
1       DRAVER         1
2       DRAVER         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 185     <NA>     <NA>      185 2018-05-30       1        <NA>
2   YVP 185     <NA>     <NA>      185 2018-05-30       1        <NA>
  species_code cover_pct
1       FRIPUD         1
2       FRIPUD         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 185     <NA>     <NA>      185 2018-05-30       1        <NA>
2   YVP 185     <NA>     <NA>      185 2018-05-30       1        <NA>
  species_code cover_pct
1       MYOMIC         1
2       MYOMIC         5
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 185     <NA>     <NA>      185 2018-05-30       3        <NA>
2   YVP 185     <NA>     <NA>      185 2018-05-30       3        <NA>
  species_code cover_pct
1       HOLUMB         1
2       HOLUMB         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 185     <NA>     <NA>      185 2018-05-30       4        <NA>
2   YVP 185     <NA>     <NA>      185 2018-05-30       4        <NA>
  species_code cover_pct
1       ARANUT         1
2       ARANUT         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 185     <NA>     <NA>      185 2018-05-30       4        <NA>
2   YVP 185     <NA>     <NA>      185 2018-05-30       4        <NA>
  species_code cover_pct
1       EPIBRA         1
2       EPIBRA         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1  YVP N110        N     <NA>      110 2018-05-30       5        <NA>
2  YVP N110        N     <NA>      110 2018-05-30       5        <NA>
  species_code cover_pct
1       MYOMIC         1
2       MYOMIC         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1 YVP NB294        N        B      294 2018-05-30       8        <NA>
2 YVP NB294        N        B      294 2018-05-30       8        <NA>
  species_code cover_pct
1       MICGRA         1
2       MICGRA         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 112     <NA>     <NA>      112 2018-05-31       9        <NA>
2   YVP 112     <NA>     <NA>      112 2018-05-31       9        <NA>
  species_code cover_pct
1       ALYALY        10
2       ALYALY         5
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 209     <NA>     <NA>      209 2018-05-31       5        <NA>
2   YVP 209     <NA>     <NA>      209 2018-05-31       5        <NA>
  species_code cover_pct
1       ALYALY         1
2       ALYALY         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 203     <NA>     <NA>      203 2018-06-04       4        <NA>
2   YVP 203     <NA>     <NA>      203 2018-06-04       4        <NA>
  species_code cover_pct
1       COLLIN         0
2       COLLIN         0
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 213     <NA>     <NA>      213 2018-06-04       4        <NA>
2   YVP 213     <NA>     <NA>      213 2018-06-04       4        <NA>
  species_code cover_pct
1       ARIPUR         5
2       ARIPUR         4
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1    YVP 56     <NA>     <NA>       56 2018-06-11       1        <NA>
2    YVP 56     <NA>     <NA>       56 2018-06-11       1        <NA>
  species_code cover_pct
1       HOLUMB         1
2       HOLUMB         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 355     <NA>     <NA>      355 2018-06-25       7        <NA>
2   YVP 355     <NA>     <NA>      355 2018-06-25       7        <NA>
  species_code cover_pct
1       DODPUL         2
2       DODPUL         3
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1  YVP N558        N     <NA>      558 2018-06-26       7        <NA>
2  YVP N558        N     <NA>      558 2018-06-26       7        <NA>
  species_code cover_pct
1       COLLIN         1
2       COLLIN         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 412     <NA>     <NA>      412 2018-07-02       9        <NA>
2   YVP 412     <NA>     <NA>      412 2018-07-02       9        <NA>
  species_code cover_pct
1       MICGRA         1
2       MICGRA         2
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1    YVP 62     <NA>     <NA>       62 2018-07-02       3        <NA>
2    YVP 62     <NA>     <NA>       62 2018-07-02       3        <NA>
  species_code cover_pct
1       KOEMAC        35
2       KOEMAC         1
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1    YVP 62     <NA>     <NA>       62 2018-07-02       4        <NA>
2    YVP 62     <NA>     <NA>       62 2018-07-02       4        <NA>
  species_code cover_pct
1       HOLUMB         1
2       HOLUMB         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1    YVP 62     <NA>     <NA>       62 2018-07-02       8        <NA>
2    YVP 62     <NA>     <NA>       62 2018-07-02       8        <NA>
  species_code cover_pct
1       ORTTEN         1
2       ORTTEN         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1  YVP N501        N     <NA>      501 2018-07-09      10        <NA>
2  YVP N501        N     <NA>      501 2018-07-09      10        <NA>
  species_code cover_pct
1       ARECON         1
2       ARECON         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1    YVP 12     <NA>     <NA>       12 2018-07-10       4        <NA>
2    YVP 12     <NA>     <NA>       12 2018-07-10       4        <NA>
  species_code cover_pct
1       HOLUMB         1
2       HOLUMB         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1    YVP 20     <NA>     <NA>       20 2018-07-12       2        <NA>
2    YVP 20     <NA>     <NA>       20 2018-07-12       2        <NA>
  species_code cover_pct
1       VERVER         3
2       VERVER         3
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1    YVP 22     <NA>     <NA>       22 2018-07-12       2        <NA>
2    YVP 22     <NA>     <NA>       22 2018-07-12       2        <NA>
  species_code cover_pct
1       FESCAM         1
2       FESCAM         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1 YVP NC294        N        C      294 2019-05-09       4        <NA>
2 YVP NC294        N        C      294 2019-05-09       4        <NA>
  species_code cover_pct
1       MYOMIC         1
2       MYOMIC         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1 YVP NC294        N        C      294 2019-05-09       6        <NA>
2 YVP NC294        N        C      294 2019-05-09       6        <NA>
  species_code cover_pct
1       ERIPUM         1
2       ERIPUM         2
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 209     <NA>     <NA>      209 2019-05-23       5        <NA>
2   YVP 209     <NA>     <NA>      209 2019-05-23       5        <NA>
  species_code cover_pct
1       ASTINF         1
2       ASTINF         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1  YVP N111        N     <NA>      111 2019-05-23       3        <NA>
2  YVP N111        N     <NA>      111 2019-05-23       3        <NA>
  species_code cover_pct
1       EPIBRA         1
2       EPIBRA         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1  YVP N501        N     <NA>      501 2019-05-30       1        <NA>
2  YVP N501        N     <NA>      501 2019-05-30       1        <NA>
  species_code cover_pct
1       FRIPUD         2
2       FRIPUD         2
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 113     <NA>     <NA>      113 2019-06-10       4        <NA>
2   YVP 113     <NA>     <NA>      113 2019-06-10       4        <NA>
  species_code cover_pct
1       DRAVER         4
2       DRAVER         5
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 180     <NA>     <NA>      180 2019-06-10       8        <NA>
2   YVP 180     <NA>     <NA>      180 2019-06-10       8        <NA>
  species_code cover_pct
1       PLAPAT         1
2       PLAPAT         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1  YVP N158        N     <NA>      158 2019-06-17       3        <NA>
2  YVP N158        N     <NA>      158 2019-06-17       3        <NA>
  species_code cover_pct
1       EPIBRA         1
2       EPIBRA         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1  YVP N158        N     <NA>      158 2019-06-17       4        <NA>
2  YVP N158        N     <NA>      158 2019-06-17       4        <NA>
  species_code cover_pct
1       EPIBRA         1
2       EPIBRA         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1  YVP N386        N     <NA>      386 2019-07-01       1        <NA>
2  YVP N386        N     <NA>      386 2019-07-01       1        <NA>
  species_code cover_pct
1       EPIBRA         1
2       EPIBRA         1
[1] "EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1  YVP N348        N     <NA>      348 2019-07-05       5        <NA>
2  YVP N348        N     <NA>      348 2019-07-05       5        <NA>
  species_code cover_pct
1       CIRARV         5
2       CIRARV        10
[1] "NOT EQUAL"
  plot_code plot_loc plot_rep plot_num       date subplot species_key
1   YVP 468     <NA>     <NA>      468 2019-07-16       2        <NA>
2   YVP 468     <NA>     <NA>      468 2019-07-16       2        <NA>
  species_code cover_pct
1      UNKN SP         1
2      UNKN SP         5
[1] "NOT EQUAL"

In [395]:
str(df)

'data.frame':	21682 obs. of  9 variables:
 $ plot_code   : chr  "YVP 10" "YVP 10" "YVP 10" "YVP 10" ...
 $ plot_loc    : chr  NA NA NA NA ...
 $ plot_rep    : chr  NA NA NA NA ...
 $ plot_num    : chr  "10" "10" "10" "10" ...
 $ date        : Date, format: "2017-06-09" "2017-06-09" ...
 $ subplot     : int  1 1 1 1 1 1 1 1 1 1 ...
 $ species_key : chr  NA NA NA NA ...
 $ species_code: chr  "BOESPP" "CREINT" "EUPESU" "FESCAM" ...
 $ cover_pct   : int  1 1 5 25 25 10 1 1 5 1 ...

In [396]:
# rescan for double observations
# Find instances where a plant species is counted twice in the same year-plot-subplot combination
dbl_recount <- df %>%
  group_by(year = as.numeric(substring(date,0,4)), plot_code, subplot, species_code) %>%
  summarize(counted = n()) %>% 
  ungroup() %>%
  arrange(year, plot_code, subplot, desc(counted)) %>%
  filter(counted > 1) %>%
  print(n=Inf)

# A tibble: 0 x 5
# … with 5 variables: year <dbl>, plot_code <chr>, subplot <int>,
#   species_code <chr>, counted <int>

In [409]:
# display previously duplicated plots for review
for (row in 1:nrow(distinct_doubles)) {
  dbl_ref <- distinct_doubles[row, ]

  # date, plot_code, species_code, subplot
  selected_rows <- filter(df, date == dbl_ref$date &
                        plot_code == dbl_ref$plot_code &
                        species_code == dbl_ref$species_code &
                        subplot == dbl_ref$subplot)
  print(selected_rows[,c(1,5,6,8,9)])
}

  plot_code       date subplot species_code cover_pct
1 YVP NB294 2017-05-08       8       MICGRA         1
  plot_code       date subplot species_code cover_pct
1   YVP 203 2017-05-18       4       COLLIN        NA
  plot_code       date subplot species_code cover_pct
1  YVP N111 2017-05-25       2       DRAVER         1
  plot_code       date subplot species_code cover_pct
1   YVP 144 2017-05-30       2       VERVER        NA
  plot_code       date subplot species_code cover_pct
1   YVP 180 2017-05-31       7       FRIPUD         1
  plot_code       date subplot species_code cover_pct
1   YVP 355 2017-06-02      10       PSESPI        NA
  plot_code       date subplot species_code cover_pct
1    YVP 44 2017-06-06       9       ORTTEN        NA
  plot_code       date subplot species_code cover_pct
1   YVP 144 2018-05-28      10       ACHMIL         5
  plot_code       date subplot species_code cover_pct
1  YVP N278 2018-05-28       2       ARESER        NA
  plot_code       date subplot species_code cover_pct
1  YVP N522 2018-05-28       1       LITRUD        NA
  plot_code       date subplot species_code cover_pct
1   YVP 184 2018-05-30       4       HOLUMB        NA
  plot_code       date subplot species_code cover_pct
1   YVP 185 2018-05-30       1       DRAVER         1
  plot_code       date subplot species_code cover_pct
1   YVP 185 2018-05-30       1       FRIPUD         1
  plot_code       date subplot species_code cover_pct
1   YVP 185 2018-05-30       1       MYOMIC        NA
  plot_code       date subplot species_code cover_pct
1   YVP 185 2018-05-30       3       HOLUMB         1
  plot_code       date subplot species_code cover_pct
1   YVP 185 2018-05-30       4       ARANUT         1
  plot_code       date subplot species_code cover_pct
1   YVP 185 2018-05-30       4       EPIBRA         1
  plot_code       date subplot species_code cover_pct
1  YVP N110 2018-05-30       5       MYOMIC         1
  plot_code       date subplot species_code cover_pct
1 YVP NB294 2018-05-30       8       MICGRA         1
  plot_code       date subplot species_code cover_pct
1   YVP 112 2018-05-31       9       ALYALY        NA
  plot_code       date subplot species_code cover_pct
1   YVP 209 2018-05-31       5       ALYALY         1
  plot_code       date subplot species_code cover_pct
1   YVP 203 2018-06-04       4       COLLIN         0
  plot_code       date subplot species_code cover_pct
1   YVP 213 2018-06-04       4       ARIPUR        NA
  plot_code       date subplot species_code cover_pct
1    YVP 56 2018-06-11       1       HOLUMB         1
  plot_code       date subplot species_code cover_pct
1   YVP 355 2018-06-25       7       DODPUL        NA
  plot_code       date subplot species_code cover_pct
1  YVP N558 2018-06-26       7       COLLIN         1
  plot_code       date subplot species_code cover_pct
1   YVP 412 2018-07-02       9       MICGRA        NA
  plot_code       date subplot species_code cover_pct
1    YVP 62 2018-07-02       3       KOEMAC        NA
  plot_code       date subplot species_code cover_pct
1    YVP 62 2018-07-02       4       HOLUMB         1
  plot_code       date subplot species_code cover_pct
1    YVP 62 2018-07-02       8       ORTTEN         1
  plot_code       date subplot species_code cover_pct
1  YVP N501 2018-07-09      10       ARECON         1
  plot_code       date subplot species_code cover_pct
1    YVP 12 2018-07-10       4       HOLUMB         1
  plot_code       date subplot species_code cover_pct
1    YVP 20 2018-07-12       2       VERVER         3
  plot_code       date subplot species_code cover_pct
1    YVP 22 2018-07-12       2       FESCAM         1
  plot_code       date subplot species_code cover_pct
1 YVP NC294 2019-05-09       4       MYOMIC         1
  plot_code       date subplot species_code cover_pct
1 YVP NC294 2019-05-09       6       ERIPUM        NA
  plot_code       date subplot species_code cover_pct
1   YVP 209 2019-05-23       5       ASTINF         1
  plot_code       date subplot species_code cover_pct
1  YVP N111 2019-05-23       3       EPIBRA         1
  plot_code       date subplot species_code cover_pct
1  YVP N501 2019-05-30       1       FRIPUD         2
  plot_code       date subplot species_code cover_pct
1   YVP 113 2019-06-10       4       DRAVER        NA
  plot_code       date subplot species_code cover_pct
1   YVP 180 2019-06-10       8       PLAPAT         1
  plot_code       date subplot species_code cover_pct
1  YVP N158 2019-06-17       3       EPIBRA         1
  plot_code       date subplot species_code cover_pct
1  YVP N158 2019-06-17       4       EPIBRA         1
  plot_code       date subplot species_code cover_pct
1  YVP N386 2019-07-01       1       EPIBRA         1
  plot_code       date subplot species_code cover_pct
1  YVP N348 2019-07-05       5       CIRARV        NA
  plot_code       date subplot species_code cover_pct
1   YVP 468 2019-07-16       2      UNKN SP        NA

### Export View Doubles

In [0]:
write.csv(view_doubles, 'view_doubles.csv')