<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/yvp_additional_species_WRANGLE_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*R Notebook*

# README

* Readme fixed plot vegetation data - [Additional Species Data](https://docs.google.com/document/d/16-Aq8u9Rudd78fSzfjvpCXyQgE-BstC-d2PjYfmLtcw/edit#heading=h.t9gebon1aetd)

# Load Tools

In [ ]:
# Package and library installation
packages_needed = c("tidyverse", "lubridate", "gsheet") # comma delimited vector of package names
packages_installed = packages_needed %in% rownames(installed.packages())

if (any(! packages_installed))
  install.packages(packages_needed[! packages_installed])
for (i in 1:length(packages_needed)) {
  library(packages_needed[i], character.only = T)
}

# Source

### additional_species

In [ ]:
# 2020-10-22_yvp_additional_species_SOURCE.csv
# https://drive.google.com/file/d/1mHjQQBeoxvRC3CF05CBAv9OP87YoWfx6/view?usp=sharing
src_addsp = 'https://drive.google.com/uc?id=1mHjQQBeoxvRC3CF05CBAv9OP87YoWfx6'

In [ ]:
df_addsp <- read_csv(src_addsp) %>% 
  # drop date and comments, date will be joined in later comments are not used
  select(, -c(date, comments)) %>% glimpse()

── Column specification ────────────────────────────────────────────────────────
cols(
  plot_num = col_double(),
  plot_code = col_character(),
  date = col_logical(),
  species_code = col_character(),
  cover_pct = col_double(),
  comments = col_character()
)

Rows: 710
Columns: 4
$ plot_num     <dbl> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,…
$ plot_code    <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N…
$ species_code <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", "CLAP…
$ cover_pct    <dbl> 1, 1, 2, 1, 3, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,…

### survey metadata

In [ ]:
# 2020-10-22_yvp_survey_metadata_SOURCE.csv
# https://drive.google.com/file/d/19I0quIj8ALzP91VkxxIR-D1PWgXRZ_90/view?usp=sharing
src_meta <- 'https://drive.google.com/uc?id=19I0quIj8ALzP91VkxxIR-D1PWgXRZ_90'

In [ ]:
df_meta_full <- read_csv(src_meta)

── Column specification ────────────────────────────────────────────────────────
cols(
  Plot = col_character(),
  Date = col_character(),
  Initials = col_character(),
  `GPS Lat 1` = col_double(),
  `GPS Long 1` = col_double(),
  `GPS Lat 2` = col_double(),
  `GPS Long 2` = col_double(),
  Azimuth = col_double(),
  `comments 2020` = col_character(),
  `Comments 2019` = col_character(),
  `Comments 2018` = col_character(),
  `Comments 2017` = col_character()
)

In [ ]:
# cast to date datatype
df_meta_full$Date <- mdy(df_meta_full$Date)

In [ ]:
df_meta <- df_meta_full %>%
  filter(year(df_meta_full$Date) == 2020) %>%
  glimpse()

Rows: 58
Columns: 12
$ Plot            <chr> "NA294", "NB294", "NC294", "N324", "N321", "NA292", "…
$ Date            <date> 2020-05-09, 2020-05-09, 2020-05-09, 2020-05-09, 2020…
$ Initials        <chr> "MED", "MED", "MED", "MED", "MED", "MED", "MED", "MED…
$ `GPS Lat 1`     <dbl> 46.67863, 46.67960, 46.68005, 46.67728, 46.67698, 46.…
$ `GPS Long 1`    <dbl> -113.9934, -113.9935, 113.9933, -113.9933, -114.0028,…
$ `GPS Lat 2`     <dbl> 46.67869, 46.67915, 46.68049, 46.67702, 46.67738, 46.…
$ `GPS Long 2`    <dbl> -113.9928, -113.9936, -113.9932, -113.9938, -114.0026…
$ Azimuth         <dbl> 118, 189, 13, 234, 21, 25, 287, 212, 101, 193, 162, 3…
$ `comments 2020` <chr> NA, NA, NA, NA, NA, NA, NA, "Sagebrush in this plot h…
$ `Comments 2019` <chr> "5/14/2019 MK", "5/13/2019 MK Still has barbed wire. …
$ `Comments 2018` <chr> "Line reset in 2018. Pull tape taut between end point…
$ `Comments 2017` <chr> "line curves around slope, stay contour to slope azim…

In [ ]:
df_meta %>%
  # 
  # distinct(Plot) %>%
  select(Plot) %>% 
  arrange(Plot)

   Plot
1  10
2  112
3  113
4  12
5  144
6  180
7  181
8  184
9  185
10 20
11 202
12 203
13 205
14 209
15 212
16 213
17 22
18 246
19 247
20 355
21 395
22 412
23 44
24 46
25 468
26 47
27 479
28 481
29 485
30 56
31 62
32 64
33 N110
34 N111
35 N158
36 N278
37 N321
38 N324
39 N348
40 N386
41 N402
42 N48
43 N501
44 N522
45 N550
46 N552
47 N556
48 N558
49 N57
50 N570
51 N571
52 N58
53 N7
54 NA292
55 NA294
56 NB292
57 NB294
58 NC294

### vegetation metadata

In [ ]:
install.packages("bigrquery")
library(bigrquery)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
# BigQuery API Key
bq_auth(path = "/content/mpg-data-warehouse-api_key-master.json")
Sys.setenv(BIGQUERY_TEST_PROJECT = "mpg-data-warehouse")
billing <- bq_test_project()

In [ ]:
# The date field is not included because it is all NA (legacy problem)
sql_metaveg <- 
  "
  SELECT key_plant_species, key_plant_code
  FROM `mpg-data-warehouse.vegetation_species_metadata.vegetation_species_metadata`
  "

In [ ]:
bq_metaveg <- bq_project_query(billing, sql_metaveg)
tb_metaveg <- bq_table_download(bq_metaveg)
df_metaveg <- 
  as.data.frame(tb_metaveg) %>% glimpse()

Rows: 754
Columns: 2
$ key_plant_species <int> 360, 13, 26, 53, 738, 75, 76, 746, 83, 88, 86, 87, …
$ key_plant_code    <chr> "NV", "AGRSCA", "ANDGER", "ARIPUR", "BOUCUR", "BOUG…

# Wrangle

### Update YVP 402

In [ ]:
df_402update <- df_addsp %>% 
  mutate(plot_code = ifelse(str_detect(plot_code, "YVP 402"), "YVP N402", plot_code)) %>%
  glimpse()

Rows: 710
Columns: 4
$ plot_num     <dbl> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,…
$ plot_code    <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N…
$ species_code <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", "CLAP…
$ cover_pct    <dbl> 1, 1, 2, 1, 3, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,…

### grid_point

In [ ]:
# rename plot_num
df_grid <- df_402update %>%
  rename(grid_point = plot_num) %>% glimpse()

Rows: 710
Columns: 4
$ grid_point   <dbl> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,…
$ plot_code    <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N…
$ species_code <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", "CLAP…
$ cover_pct    <dbl> 1, 1, 2, 1, 3, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,…

### plot_code

Free from change

### plot_loc

In [ ]:
# detect "N" in 'plot_code' and write to new column 'plot_loc'
df_loc <- df_grid %>%
  mutate(plot_loc = ifelse(str_detect(plot_code, "N"), "N", NA)) %>% 
  select(grid_point, plot_code, plot_loc, species_code, cover_pct) %>%glimpse()

Rows: 710
Columns: 5
$ grid_point   <dbl> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,…
$ plot_code    <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N…
$ plot_loc     <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ species_code <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", "CLAP…
$ cover_pct    <dbl> 1, 1, 2, 1, 3, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,…

### plot_rep

In [ ]:
# detect "A", "B", "C" characters in plot_code and if present write to 'plot_rep'
df_rep <- df_loc %>%
  mutate(plot_rep = case_when(str_detect(plot_code, "A")~"A",
                              str_detect(plot_code, "B")~"B",
                              str_detect(plot_code, "C")~"C")) %>% 
  select(grid_point, plot_code, plot_loc, plot_rep, species_code, cover_pct) %>% glimpse()

Rows: 710
Columns: 6
$ grid_point   <dbl> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,…
$ plot_code    <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N…
$ plot_loc     <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ plot_rep     <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ species_code <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", "CLAP…
$ cover_pct    <dbl> 1, 1, 2, 1, 3, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,…

### date

In [ ]:
# create Plot variable for join with metadata
df_join <- df_rep %>%
  mutate(Plot = str_sub(plot_code, 5)) %>% glimpse()

Rows: 710
Columns: 7
$ grid_point   <dbl> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,…
$ plot_code    <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N…
$ plot_loc     <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ plot_rep     <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ species_code <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", "CLAP…
$ cover_pct    <dbl> 1, 1, 2, 1, 3, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ Plot         <chr> "N7", "N7", "N7", "N7", "N7", "N7", "N7", "N7", "N7", "N…

In [ ]:
df_date <- df_join %>%
  left_join(df_meta %>% select(Plot, Date), by = c("Plot" = "Plot")) %>% 
  rename(date = Date) %>%
  select(grid_point, plot_code, plot_loc, plot_rep, date, species_code, cover_pct) %>% glimpse()

Rows: 710
Columns: 7
$ grid_point   <dbl> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,…
$ plot_code    <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N…
$ plot_loc     <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ plot_rep     <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ date         <date> 2020-05-31, 2020-05-31, 2020-05-31, 2020-05-31, 2020-05…
$ species_code <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", "CLAP…
$ cover_pct    <dbl> 1, 1, 2, 1, 3, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,…

### key_plant_species

key_plant_species:INT (unique values)
This will be imported from the plant species metadata table, and we can use it to join and correct species codes in the future

In [ ]:
df_date %>% glimpse()

Rows: 710
Columns: 7
$ grid_point   <dbl> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,…
$ plot_code    <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N…
$ plot_loc     <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ plot_rep     <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ date         <date> 2020-05-31, 2020-05-31, 2020-05-31, 2020-05-31, 2020-05…
$ species_code <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", "CLAP…
$ cover_pct    <dbl> 1, 1, 2, 1, 3, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,…

In [ ]:
df_metaveg %>% glimpse()

Rows: 754
Columns: 2
$ key_plant_species <int> 360, 13, 26, 53, 738, 75, 76, 746, 83, 88, 86, 87, …
$ key_plant_code    <chr> "NV", "AGRSCA", "ANDGER", "ARIPUR", "BOUCUR", "BOUG…

In [ ]:
df_species <- df_date %>%
  left_join(df_metaveg, by = c("species_code" = "key_plant_code")) %>%
  select(grid_point, plot_code, plot_loc, plot_rep, date, key_plant_species, species_code, cover_pct) %>% glimpse()

Rows: 710
Columns: 8
$ grid_point        <dbl> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, …
$ plot_code         <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "…
$ plot_loc          <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ plot_rep          <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ date              <date> 2020-05-31, 2020-05-31, 2020-05-31, 2020-05-31, 20…
$ key_plant_species <int> 16, 37, 51, 60, 135, 146, 218, 224, 240, 250, 266, …
$ species_code      <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", …
$ cover_pct         <dbl> 1, 1, 2, 1, 3, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, …

### species_code

In [ ]:
# rename species code to key_plant_code
df_code <- df_species %>%
  rename(key_plant_code = species_code) %>% glimpse()

Rows: 710
Columns: 8
$ grid_point        <dbl> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, …
$ plot_code         <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "…
$ plot_loc          <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ plot_rep          <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ date              <date> 2020-05-31, 2020-05-31, 2020-05-31, 2020-05-31, 20…
$ key_plant_species <int> 16, 37, 51, 60, 135, 146, 218, 224, 240, 250, 266, …
$ key_plant_code    <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", …
$ cover_pct         <dbl> 1, 1, 2, 1, 3, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, …

### cover_pct

In [ ]:
# convert from initial double datatype to integer
df_code$cover_pct <- as.integer(df_code$cover_pct)

In [ ]:
df_code %>% glimpse()

Rows: 710
Columns: 8
$ grid_point        <dbl> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, …
$ plot_code         <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "…
$ plot_loc          <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ plot_rep          <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ date              <date> 2020-05-31, 2020-05-31, 2020-05-31, 2020-05-31, 20…
$ key_plant_species <int> 16, 37, 51, 60, 135, 146, 218, 224, 240, 250, 266, …
$ key_plant_code    <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", …
$ cover_pct         <int> 1, 1, 2, 1, 3, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, …

# Correct errors in species codes
The species codes used in the source data contain numerous errors, and they also in some cases represent old taxonomy where species names have been revised. This can cause all sorts of problems, like artificially creating new species or making it impossible to join with available species metadata. Several steps must be accomplished here:

1. Trim leading or trailing spaces from the code (this was done in excel before source CSV files were created)
2. Read in master list of species metadata and query YVP species codes to identify which ones don't align
3. Align the species codes, identify the ones that are wrong and correct them
4. Import the numeric key from the species metadata so that future aligments are easier and errors are less common

### Read in master list of species metadata and codes

In [ ]:
# 2020-04-27_MPGR_plant_species_list
spp = gsheet2tbl("https://docs.google.com/spreadsheets/d/1wPen7yeimXtY4qK5Nj4JPvlgHYamoogR0YJekaF7i9Y") %>% 
as_tibble() %>% glimpse()

Rows: 754
Columns: 9
$ key_PlantSpecies <dbl> 1, 2, 3, 743, 5, 661, 8, 694, 9, 10, 11, 744, 677, 1…
$ key_PlantCode    <chr> "ABIGRA", "ABILAS", "ACEGLA", "ACEPLA", "ACHMIL", "A…
$ NameScientific   <chr> "Abies grandis", "Abies lasiocarpa", "Acer glabrum",…
$ NameSynonym      <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ NameCommon       <chr> "grand fir", "subalpine fir", "Rocky Mountain maple"…
$ NameFamily       <chr> "Pinaceae", "Pinaceae", "Aceraceae", "Aceraceae", "A…
$ NativeStatus     <chr> "native", "native", "native", "nonnative", "native",…
$ LifeCycle        <chr> "perennial", "perennial", "perennial", "perennial", …
$ LifeForm         <chr> "tree", "tree", "shrub", "tree", "forb", "forb", "fo…

### Align species codes and identify mistakes

In [ ]:
# Align the species codes 
# Produce df of codes that don't match the master list
collisions_species_codes = 
df_code %>% 
anti_join(spp, by = c("key_plant_code" = "key_PlantCode")) %>% 
group_by(key_plant_code) %>% 
distinct(key_plant_code) %>% 
arrange(key_plant_code) %>% 
print(n = Inf)

# A tibble: 0 x 1
# Groups:   key_plant_code [0]
# … with 1 variable: key_plant_code <chr>

### Create file that associates errors with corrections

In the cell above, there were no codes "that don't match the master list" so this section is not executed for 2020

In [ ]:
# Produce file `collisions_species_codes` for work in spreadsheet outside of this environment
# The file will save to the `content` folder in the drive tree
# BL downloaded the file to his desktop to produce a new naming key file
filename = "collisions_species_codes.csv"
if (filename %in% list.files(getwd())) {
  cat("file already exists in working directory: ", filename, "\n", "working directory: ", getwd(), "\n")
} else {
  write.csv(collisions_species_codes, filename)
  cat(filename, " written to working directory \n", "working directory: ", getwd(), "\n")
}

collisions_species_codes.csv  written to working directory
 working directory:  /content

In [ ]:
# Import csv file with the updated codes 
# This file was produced by visually aligning the codes with a file that Rebecca Durham provided
code_corrections <- read.csv(file = "https://drive.google.com/uc?id=11Eo8DKXp0GR5qLXiRoAwBg9MPCpX1AXq",
  colClasses = c("character", "character")) %>% 
glimpse()

Rows: 29
Columns: 2
$ plantcode_incorrect <chr> "ANTE SP", "ANTSPP", "ANTSPP2", "ARTSPP", "ASTMIN…
$ plantcode_corrected <chr> "ANTE_SP", "ANTE_SP", "ANTE_SP", "ARTE_SP", "ASTM…

### Cascade changes through dataset

In [ ]:
# Create new df to hold corrected information
# Change species_code to character variable to avoid problems with levels later
yvp_addtl_spp_correct = df_code %>% mutate(key_plant_code = as.character(key_plant_code)) %>% glimpse()

Rows: 710
Columns: 8
$ grid_point        <dbl> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, …
$ plot_code         <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "…
$ plot_loc          <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ plot_rep          <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ date              <date> 2020-05-31, 2020-05-31, 2020-05-31, 2020-05-31, 20…
$ key_plant_species <int> 16, 37, 51, 60, 135, 146, 218, 224, 240, 250, 266, …
$ key_plant_code    <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", …
$ cover_pct         <int> 1, 1, 2, 1, 3, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, …

In [ ]:
# Loop operation used to update each instance of an incorrect code
# Embed logic control to prevent errors if this loop is run on a df with corrected codes
# Variable to track loop cycles
cycles = 0

for (i in 1:length(code_corrections[, 1])) {
  index = which(yvp_addtl_spp_correct$key_plant_code == code_corrections$plantcode_incorrect[i])

  if (length(index != 0)) {
    cat("number of incorrect code entries: ", length(index), "\n")
    cat("incorrect code: ", code_corrections$plantcode_incorrect[i], "\n")
    yvp_addtl_spp_correct[index, ]$species_code = code_corrections$plantcode_corrected[i]
    print(yvp_addtl_spp_correct[index, c(1,5,6,7)])
    cycles = cycles + length(index)
    cat("\n")
  } else {
    cat("no incorrect code entries were found \n")
  }

  cat("number of corrections made (cumulative): ", cycles, "\n\n\n")

}

no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0


no incorrect code entries were found
number of corrections made (cumulative):  0

In [ ]:
# Rescan for incorrect species codes
yvp_addtl_spp_correct %>% 
anti_join(spp, by = c("key_plant_code" = "key_PlantCode")) %>% 
group_by(key_plant_code) %>% distinct(key_plant_code) %>% arrange(key_plant_code)

     key_plant_code

**Align column order to schema**
* plot_code
* plot_loc
* plot_rep
* plot_num
* date
* species_key
* species_code
* cover_pct

In [ ]:
yvp_addtl_spp_correct %>% glimpse()

Rows: 710
Columns: 8
$ grid_point        <dbl> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, …
$ plot_code         <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "…
$ plot_loc          <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ plot_rep          <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ date              <date> 2020-05-31, 2020-05-31, 2020-05-31, 2020-05-31, 20…
$ key_plant_species <int> 16, 37, 51, 60, 135, 146, 218, 224, 240, 250, 266, …
$ key_plant_code    <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", …
$ cover_pct         <int> 1, 1, 2, 1, 3, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, …

In [ ]:
# Incorporate serial key for species codes
yvp_addtl_spp_FINAL = 
yvp_addtl_spp_correct %>% 
left_join(spp %>% select(key_PlantSpecies, key_PlantCode), by = c("key_plant_code" = "key_PlantCode")) %>% 
rename(species_key = key_PlantSpecies) %>% 
select(plot_code, plot_loc, plot_rep, grid_point, date, key_plant_species, key_plant_code, cover_pct) %>% 
glimpse()

Rows: 710
Columns: 8
$ plot_code         <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "…
$ plot_loc          <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ plot_rep          <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ grid_point        <dbl> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, …
$ date              <date> 2020-05-31, 2020-05-31, 2020-05-31, 2020-05-31, 20…
$ key_plant_species <int> 16, 37, 51, 60, 135, 146, 218, 224, 240, 250, 266, …
$ key_plant_code    <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", …
$ cover_pct         <int> 1, 1, 2, 1, 3, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, …

In [ ]:
summary(yvp_addtl_spp_FINAL)

  plot_code           plot_loc           plot_rep           grid_point
 Length:710         Length:710         Length:710         Min.   :  7.0
 Class :character   Class :character   Class :character   1st Qu.:110.0
 Mode  :character   Mode  :character   Mode  :character   Median :212.0
                                                          Mean   :254.4
                                                          3rd Qu.:395.0
                                                          Max.   :571.0
      date            key_plant_species key_plant_code       cover_pct
 Min.   :2020-05-09   Min.   :  3.0     Length:710         Min.   : 0.000
 1st Qu.:2020-05-22   1st Qu.:108.0     Class :character   1st Qu.: 0.000
 Median :2020-06-05   Median :240.0     Mode  :character   Median : 1.000
 Mean   :2020-06-02   Mean   :261.1                        Mean   : 1.099
 3rd Qu.:2020-06-17   3rd Qu.:405.0                        3rd Qu.: 1.000
 Max.   :2020-07-01   Max.   :784.0                        Max.   :70.000

# Output
## Export wrangled dataframe to csv
Export the full dataset so we can push it to the BQ database

In [ ]:
# Executed 2020-11-02 ES
write_csv(yvp_addtl_spp_FINAL, "yvp_additional_species_WRANGLE-2020.csv")

In [ ]:
# has not been executed for 2020
filename_final = "yvp_additional_species-2020.csv"

if (filename_final %in% list.files(getwd())) {
  cat("file already exists in working directory:", filename_final, "\n", "working directory:", getwd(), "\n")
} else {
  write.csv(yvp_addtl_spp_FINAL, filename_final)
  cat(filename_final, "written to working directory \n", "working directory:", getwd(), "\n")
}

yvp_additional_species_FINAL.csv written to working directory
 working directory: /content

## Export field datasheet version
Field datasheets need to have a complete, cumulative species list for each plot recorded in a table, with the cover_pct column set to 0. This allows field techs to change the 0 to some number if the species is found. The date column is blank so that field techs can fill in the appropriate date. Do not include columns that are needed for data analysis, like plot_loc, plot_rep, plot_num, and species_key. 

**Schema for field data sheet**

* plot_num (helps for sorting and finding plots)
* plot_code
* date
* species_code
* cover_pct

In [ ]:
field_datasheet = 
yvp_addtl_spp_FINAL %>% 
select(plot_num, plot_code, species_code) %>% 
group_by(plot_num, plot_code) %>% 
distinct(species_code) %>% 
select(-species_code, species_code) %>% 
add_column(date = NA, .after = "plot_code") %>% 
add_column(cover_pct = 0) %>% 
arrange(plot_num, plot_code, species_code) %>% 
glimpse()

Rows: 702
Columns: 5
Groups: plot_num, plot_code [64]
$ plot_num     <int> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,…
$ plot_code    <chr> "YVP 7", "YVP 7", "YVP 7", "YVP 7", "YVP 7", "YVP 7", "Y…
$ date         <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ species_code <chr> "ALLCER", "ANTE_SP", "ARECON", "ARTDRA", "CHRVIS", "CLAP…
$ cover_pct    <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…

In [ ]:
filename_field_datasheet = "yvp_additional_species_field_datasheet_FINAL.csv"

if (filename_field_datasheet %in% list.files(getwd())) {
  cat("file already exists in working directory:", filename_final, "\n", "working directory:", getwd(), "\n")
} else {
  write.csv(field_datasheet, filename_field_datasheet)
  cat(filename_final, "written to working directory \n", "working directory:", getwd(), "\n")
}

yvp_additional_species_FINAL.csv written to working directory
 working directory: /content