<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/yvp_plant_functional_groups_WRANGLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Documentation

[Readme fixed plot vegetation data](https://docs.google.com/document/d/16-Aq8u9Rudd78fSzfjvpCXyQgE-BstC-d2PjYfmLtcw/edit?usp=sharing)

# Security

* The user must load a `json` file containing the BigQuery API key into the local directory `/content/...`
* The user must have a Google Maps API key to enable mapping. 
   * CAUTION make sure the key is deleted from the current instance of the notebook before sharing

# Tools

In [2]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.2     ✔ dplyr   1.0.0
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
library(lubridate)

Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

* Remember that the file containing authorization keys for Big Query must be loaded into the virutual envrionment manually.

In [4]:
install.packages("bigrquery")
library(bigrquery)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘bit’, ‘bit64’, ‘gargle’, ‘rapidjsonr’

# Source

## Database Connection

In [6]:
# BigQuery API Key
bq_auth(path = "/content/mpg-data-warehouse-api_key-master.json")

In [7]:
Sys.setenv(BIGQUERY_TEST_PROJECT = "mpg-data-warehouse")

In [8]:
billing <- bq_test_project()

## Database Query

### yvp_vegetation_cover

In [9]:
sql_vegetation_cover <- "SELECT *
               FROM `mpg-data-warehouse.vegetation_fixed_plot_yvp.yvp_vegetation_cover`"

In [10]:
bq_vegetation_cover <- bq_project_query(billing, sql_vegetation_cover)

In [11]:
tb_vegetation_cover <- bq_table_download(bq_vegetation_cover)

In [12]:
df_vegetation_cover <- as.data.frame(tb_vegetation_cover) %>% glimpse()

Rows: 21,682
Columns: 9
$ plot_code    <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N…
$ plot_loc     <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ plot_rep     <chr> "NA", "NA", "NA", "NA", "NA", "NA", "NA", "NA", "NA", "N…
$ plot_num     <int> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,…
$ date         <date> 2017-06-08, 2017-06-08, 2017-06-08, 2017-06-08, 2017-06…
$ subplot      <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ species_key  <int> 82, 113, 153, 187, 233, 266, 286, 320, 389, 411, 437, 56…
$ species_code <chr> "BROTEC", "CARE_SP", "COLLIN", "DRAVER", "FESIDA", "HETV…
$ cover_pct    <int> 4, 3, 5, 1, 3, 10, 4, 5, 4, 4, 10, 5, 10, 1, 5, 1, 2, 4,…

### vegetation_species_metadata

In [13]:
sql_species_metadata <- "SELECT *
                         FROM `mpg-data-warehouse.vegetation_species_metadata.vegetation_species_metadata`"

In [14]:
bq_species_metadata <- bq_project_query(billing, sql_species_metadata)

In [15]:
tb_species_metadata <- bq_table_download(bq_species_metadata)

In [16]:
df_species_metadata <- as.data.frame(tb_species_metadata) %>% glimpse()

Rows: 754
Columns: 9
$ key_plant_species   <int> 360, 13, 26, 53, 738, 75, 76, 746, 83, 88, 86, 87…
$ key_plant_code      <chr> "NV", "AGRSCA", "ANDGER", "ARIPUR", "BOUCUR", "BO…
$ plant_name_sci      <chr> "no vegetation", "Agrostis scabra", "Andropogon g…
$ plant_name_syn      <chr> NA, NA, NA, "Aristida longiseta", NA, NA, NA, NA,…
$ plant_name_common   <chr> "no vegetation", "rough bentgrass", "big bluestem…
$ plant_name_family   <chr> "None", "Poaceae", "Poaceae", "Poaceae", "Poaceae…
$ plant_native_status <chr> "none", "native", "native", "native", "native", "…
$ plant_life_cycle    <chr> "unknown", "perennial", "perennial", "perennial",…
$ plant_life_form     <chr> "none", "graminoid", "graminoid", "graminoid", "g…

### location_position_classification

In [17]:
sql_position_classification <- "
SELECT 
  grid_point,
  aspect_mean_deg,
  elevation_mean_m,
  slope_mean_deg,
  cover_type_2016_gridVeg,
  type3_vegetation_indicators,
  type4_indicators_history
FROM
  `mpg-data-warehouse.grid_point_summaries.location_position_classification`
"

In [18]:
bq_position_classification <- bq_project_query(billing, sql_position_classification)

In [19]:
tb_position_classification <- bq_table_download(bq_position_classification)

In [20]:
df_position_classification <- as.data.frame(tb_position_classification) %>% glimpse()

Rows: 582
Columns: 7
$ grid_point                  <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13…
$ aspect_mean_deg             <dbl> 334.7050, 45.3030, 221.3340, 290.4890, 28…
$ elevation_mean_m            <dbl> 1395.64, 1456.09, 1126.90, 1166.33, 1179.…
$ slope_mean_deg              <dbl> 28.44230, 12.22630, 4.25130, 2.68361, 4.2…
$ cover_type_2016_gridVeg     <chr> "woodland/forest", "non-irrigated grassla…
$ type3_vegetation_indicators <chr> "mixed canopy conifer", "uncultivated gra…
$ type4_indicators_history    <chr> "mixed canopy conifer", "uncultivated gra…

# Wrangle

## Create 'year'

In [21]:
# df_vegetation_cover_year <- df_vegetation_cover %>%
#   mutate(year = year(date))

## Join

### vegetation_species_metadata

In [22]:
# vegetation_cover and species_metadata
df_join <- df_vegetation_cover_year %>%
  left_join(df_species_metadata, by = c("species_key" = "key_plant_species")) %>% glimpse()

Rows: 21,682
Columns: 18
$ plot_code           <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7",…
$ plot_loc            <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N",…
$ plot_rep            <chr> "NA", "NA", "NA", "NA", "NA", "NA", "NA", "NA", "…
$ plot_num            <int> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7…
$ date                <date> 2017-06-08, 2017-06-08, 2017-06-08, 2017-06-08, …
$ subplot             <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ species_key         <int> 82, 113, 153, 187, 233, 266, 286, 320, 389, 411, …
$ species_code        <chr> "BROTEC", "CARE_SP", "COLLIN", "DRAVER", "FESIDA"…
$ cover_pct           <int> 4, 3, 5, 1, 3, 10, 4, 5, 4, 4, 10, 5, 10, 1, 5, 1…
$ year                <dbl> 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2…
$ key_plant_code      <chr> "BROTEC", "CARE_SP", "COLLIN", "DRAVER", "FESIDA"…
$ plant_name_sci      <chr> "Bromus tectorum", "Carex spp.", "Collomia linear…
$ plant_name_syn      <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, "Poa sandberg…
$ plant_name_common   <chr> "cheatgrass", "sedges", "narrow-leaved collomia",…
$ plant_name_family   <chr> "Poaceae", "Cyperaceae", "Polemoniaceae", "Brassi…
$ plant_native_status <chr> "nonnative", "native", "native", "nonnative", "na…
$ plant_life_cycle    <chr> "annual", "perennial", "annual", "annual", "peren…
$ plant_life_form     <chr> "graminoid", "graminoid", "forb", "forb", "gramin…

## Recode plant_life_cycle

In [23]:
# recode the levels of plant_life_cycle to simplify them
df_recode_levels <- df_join %>%
  mutate(plant_life_cycle = ifelse(plant_life_cycle == "biennial perennial" |
                                   plant_life_cycle == "annual perennial" |
                                   plant_life_cycle == "annual biennial perennial" |
                                   plant_life_cycle == "annual biennial"
                                   , "multiple", plant_life_cycle)) %>% glimpse()

Rows: 21,682
Columns: 18
$ plot_code           <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7",…
$ plot_loc            <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N",…
$ plot_rep            <chr> "NA", "NA", "NA", "NA", "NA", "NA", "NA", "NA", "…
$ plot_num            <int> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7…
$ date                <date> 2017-06-08, 2017-06-08, 2017-06-08, 2017-06-08, …
$ subplot             <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ species_key         <int> 82, 113, 153, 187, 233, 266, 286, 320, 389, 411, …
$ species_code        <chr> "BROTEC", "CARE_SP", "COLLIN", "DRAVER", "FESIDA"…
$ cover_pct           <int> 4, 3, 5, 1, 3, 10, 4, 5, 4, 4, 10, 5, 10, 1, 5, 1…
$ year                <dbl> 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2…
$ key_plant_code      <chr> "BROTEC", "CARE_SP", "COLLIN", "DRAVER", "FESIDA"…
$ plant_name_sci      <chr> "Bromus tectorum", "Carex spp.", "Collomia linear…
$ plant_name_syn      <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, "Poa sandberg…
$ plant_name_common   <chr> "cheatgrass", "sedges", "narrow-leaved collomia",…
$ plant_name_family   <chr> "Poaceae", "Cyperaceae", "Polemoniaceae", "Brassi…
$ plant_native_status <chr> "nonnative", "native", "native", "nonnative", "na…
$ plant_life_cycle    <chr> "annual", "perennial", "annual", "annual", "peren…
$ plant_life_form     <chr> "graminoid", "graminoid", "forb", "forb", "gramin…

In [24]:
# view levels
df_recode_levels %>%
  # mutate(survey_code = paste(plot_code, date)) %>%
  distinct(plant_native_status, plant_life_cycle, plant_life_form) %>%
  arrange(plant_native_status, plant_life_cycle, plant_life_form)

   plant_native_status plant_life_cycle plant_life_form
1  native              annual           forb
2  native              annual           graminoid
3  native              biennial         forb
4  native              multiple         forb
5  native              perennial        forb
6  native              perennial        graminoid
7  native              perennial        shrub
8  native              perennial        tree
9  native              unknown          forb
10 nonnative           annual           forb
11 nonnative           annual           graminoid
12 nonnative           biennial         forb
13 nonnative           multiple         forb
14 nonnative           perennial        forb
15 nonnative           perennial        graminoid
16 nonnative           unknown          graminoid
17 unknown             annual           forb
18 unknown             perennial        forb
19 unknown             perennial        graminoid
20 unknown             unknown          forb
21 unknown             unknown          graminoid
22 unknown             unknown          unknown

## Create 'survey_code'

In [25]:
# create survey_code variable
df_survey_code <- df_recode_levels %>%
  mutate(survey_code = paste(plot_code, date)) %>% glimpse()

Rows: 21,682
Columns: 19
$ plot_code           <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7",…
$ plot_loc            <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N",…
$ plot_rep            <chr> "NA", "NA", "NA", "NA", "NA", "NA", "NA", "NA", "…
$ plot_num            <int> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7…
$ date                <date> 2017-06-08, 2017-06-08, 2017-06-08, 2017-06-08, …
$ subplot             <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ species_key         <int> 82, 113, 153, 187, 233, 266, 286, 320, 389, 411, …
$ species_code        <chr> "BROTEC", "CARE_SP", "COLLIN", "DRAVER", "FESIDA"…
$ cover_pct           <int> 4, 3, 5, 1, 3, 10, 4, 5, 4, 4, 10, 5, 10, 1, 5, 1…
$ year                <dbl> 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2…
$ key_plant_code      <chr> "BROTEC", "CARE_SP", "COLLIN", "DRAVER", "FESIDA"…
$ plant_name_sci      <chr> "Bromus tectorum", "Carex spp.", "Collomia linear…
$ plant_name_syn      <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, "Poa sandberg…
$ plant_name_common   <chr> "cheatgrass", "sedges", "narrow-leaved collomia",…
$ plant_name_family   <chr> "Poaceae", "Cyperaceae", "Polemoniaceae", "Brassi…
$ plant_native_status <chr> "nonnative", "native", "native", "nonnative", "na…
$ plant_life_cycle    <chr> "annual", "perennial", "annual", "annual", "peren…
$ plant_life_form     <chr> "graminoid", "graminoid", "forb", "forb", "gramin…
$ survey_code         <chr> "YVP N7 2017-06-08", "YVP N7 2017-06-08", "YVP N7…

In [ ]:
# use df_survey_code to join _loc _rep etc back into df
# or make df with only variables

## Create 'cover_pct_avg'

In [26]:
# calculate cover_pct_sum
df_cover_sum <- df_survey_code %>%
  group_by(survey_code, subplot, plant_native_status, plant_life_cycle, plant_life_form) %>%
  summarise(cover_pct_sum = (sum(cover_pct))) %>% ungroup() %>% 
  glimpse()

`summarise()` regrouping output by 'survey_code', 'subplot', 'plant_native_status', 'plant_life_cycle' (override with `.groups` argument)

Rows: 9,999
Columns: 6
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ subplot             <int> 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4…
$ plant_native_status <chr> "native", "native", "native", "native", "nonnativ…
$ plant_life_cycle    <chr> "annual", "multiple", "perennial", "perennial", "…
$ plant_life_form     <chr> "forb", "forb", "forb", "graminoid", "forb", "for…
$ cover_pct_sum       <int> 1, 1, 49, 50, 3, 5, 29, 60, 2, 4, 5, 67, 25, 3, 3…

In [27]:
df_cover_avg <- df_cover_sum %>%
  group_by(survey_code, plant_native_status, plant_life_cycle, plant_life_form) %>%
  summarise(cover_pct_avg = sum(cover_pct_sum) / 10) %>% ungroup() %>% ungroup() %>%
  glimpse()

`summarise()` regrouping output by 'survey_code', 'plant_native_status', 'plant_life_cycle' (override with `.groups` argument)

Rows: 1,525
Columns: 5
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "nonnativ…
$ plant_life_cycle    <chr> "annual", "multiple", "perennial", "perennial", "…
$ plant_life_form     <chr> "forb", "forb", "forb", "graminoid", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.2, 32.9, 49.5, 3.7, 2.0, 1.1, 4.5, 4.1, 0.…

## Complete

After simplifying the functional groups and producing transect averages of plant cover, make sure all combinations of functional groups that are found in the data are represented in each survey_code. For those groups which were not detected at a survey_code, fill the detection_rate with 0. This makes it possible to produce meaningful averages of functional group detections within habitat polygons or years without creating a positive bias for rarer functional groups. In other words, zero detection of a functional group at a grid point is a real zero, not a missing value.

In [29]:
df_cover_avg %>% glimpse()

Rows: 1,525
Columns: 5
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "nonnativ…
$ plant_life_cycle    <chr> "annual", "multiple", "perennial", "perennial", "…
$ plant_life_form     <chr> "forb", "forb", "forb", "graminoid", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.2, 32.9, 49.5, 3.7, 2.0, 1.1, 4.5, 4.1, 0.…

In [30]:
df_complete <- df_cover_avg %>%
  complete(survey_code,
           nesting(plant_native_status, plant_life_cycle, plant_life_form),
           fill = list(cover_pct_avg = 0)) %>%
  arrange(survey_code, plant_native_status, plant_life_cycle, plant_life_form) %>% glimpse()

Rows: 3,850
Columns: 5
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "native",…
$ plant_life_cycle    <chr> "annual", "annual", "biennial", "multiple", "pere…
$ plant_life_form     <chr> "forb", "graminoid", "forb", "forb", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0, 0.0, 3.…

## year

In [75]:
df_year <- df_complete %>%
  mutate(year = substring(survey_code, nchar(survey_code)-9, nchar(survey_code)-6)) %>% glimpse()

Rows: 3,850
Columns: 6
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "native",…
$ plant_life_cycle    <chr> "annual", "annual", "biennial", "multiple", "pere…
$ plant_life_form     <chr> "forb", "graminoid", "forb", "forb", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0, 0.0, 3.…
$ year                <chr> "2017", "2017", "2017", "2017", "2017", "2017", "…

## plot_code

In [76]:
# bring plot_code back in by removing date
 df_plot_code <- df_year %>%
  mutate(plot_code = substring(survey_code, 1,nchar(survey_code)-11)) %>% glimpse()

Rows: 3,850
Columns: 7
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "native",…
$ plant_life_cycle    <chr> "annual", "annual", "biennial", "multiple", "pere…
$ plant_life_form     <chr> "forb", "graminoid", "forb", "forb", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0, 0.0, 3.…
$ year                <chr> "2017", "2017", "2017", "2017", "2017", "2017", "…
$ plot_code           <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10",…

## plot_loc

In [78]:
# detect "N" in 'plot_code' and write to new column 'plot_loc'
df_plot_loc <- df_plot_code %>%
  mutate(plot_loc = ifelse(str_detect(plot_code, "N"), "N", NA)) %>% glimpse()

Rows: 3,850
Columns: 8
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "native",…
$ plant_life_cycle    <chr> "annual", "annual", "biennial", "multiple", "pere…
$ plant_life_form     <chr> "forb", "graminoid", "forb", "forb", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0, 0.0, 3.…
$ year                <chr> "2017", "2017", "2017", "2017", "2017", "2017", "…
$ plot_code           <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10",…
$ plot_loc            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…

## plot_rep

In [79]:
# detect "A", "B", "C" characters in plot_code and if present write to 'plot_rep'
df_plot_rep <- df_plot_loc %>%
  mutate(plot_rep = case_when(str_detect(plot_code, "A")~"A",
                              str_detect(plot_code, "B")~"B",
                              str_detect(plot_code, "C")~"C")) %>% glimpse()

Rows: 3,850
Columns: 9
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "native",…
$ plant_life_cycle    <chr> "annual", "annual", "biennial", "multiple", "pere…
$ plant_life_form     <chr> "forb", "graminoid", "forb", "forb", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0, 0.0, 3.…
$ year                <chr> "2017", "2017", "2017", "2017", "2017", "2017", "…
$ plot_code           <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10",…
$ plot_loc            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ plot_rep            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…

## grid_point

In [81]:
# use digital values from 'plot_code' and to populate 'plot_num'
df_grid_point <- df_plot_rep %>%
  mutate(grid_point = str_extract(plot_code, "[:digit:].*"),
         grid_point = as.integer(grid_point)) %>% glimpse()

Rows: 3,850
Columns: 10
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "native",…
$ plant_life_cycle    <chr> "annual", "annual", "biennial", "multiple", "pere…
$ plant_life_form     <chr> "forb", "graminoid", "forb", "forb", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0, 0.0, 3.…
$ year                <chr> "2017", "2017", "2017", "2017", "2017", "2017", "…
$ plot_code           <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10",…
$ plot_loc            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ plot_rep            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ grid_point          <int> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1…

## Join

### location_position_classification

In [82]:
df_position_classification %>% glimpse()

Rows: 582
Columns: 7
$ grid_point                  <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13…
$ aspect_mean_deg             <dbl> 334.7050, 45.3030, 221.3340, 290.4890, 28…
$ elevation_mean_m            <dbl> 1395.64, 1456.09, 1126.90, 1166.33, 1179.…
$ slope_mean_deg              <dbl> 28.44230, 12.22630, 4.25130, 2.68361, 4.2…
$ cover_type_2016_gridVeg     <chr> "woodland/forest", "non-irrigated grassla…
$ type3_vegetation_indicators <chr> "mixed canopy conifer", "uncultivated gra…
$ type4_indicators_history    <chr> "mixed canopy conifer", "uncultivated gra…

In [83]:
df_join_position_class <- df_grid_point %>%
  left_join(df_position_classification) %>% glimpse()

Joining, by = "grid_point"

Rows: 3,850
Columns: 16
$ survey_code                 <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09",…
$ plant_native_status         <chr> "native", "native", "native", "native", "…
$ plant_life_cycle            <chr> "annual", "annual", "biennial", "multiple…
$ plant_life_form             <chr> "forb", "graminoid", "forb", "forb", "for…
$ cover_pct_avg               <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0,…
$ year                        <chr> "2017", "2017", "2017", "2017", "2017", "…
$ plot_code                   <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "…
$ plot_loc                    <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ plot_rep                    <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ grid_point                  <int> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1…
$ aspect_mean_deg             <dbl> 18.8095, 18.8095, 18.8095, 18.8095, 18.80…
$ elevation_mean_m            <dbl> 1146.9, 1146.9, 1146.9, 1146.9, 1146.9, 1…
$ slope_mean_deg              <dbl> 20.794, 20.794, 20.794, 20.794, 20.794, 2…
$ cover_type_2016_gridVeg     <chr> "non-irrigated grasslands", "non-irrigate…
$ type3_vegetation_indicators <chr> "wooded draw", "wooded draw", "wooded dra…
$ type4_indicators_history    <chr> "wooded draw", "wooded draw", "wooded dra…

## Reorder

In [84]:
names(df_join_position_class)

 [1] "survey_code"                 "plant_native_status"
 [3] "plant_life_cycle"            "plant_life_form"
 [5] "cover_pct_avg"               "year"
 [7] "plot_code"                   "plot_loc"
 [9] "plot_rep"                    "grid_point"
[11] "aspect_mean_deg"             "elevation_mean_m"
[13] "slope_mean_deg"              "cover_type_2016_gridVeg"
[15] "type3_vegetation_indicators" "type4_indicators_history"

In [87]:
df_yvp_plant_functional_groups <-
df_join_position_class[c("survey_code","plot_code","year","plot_loc","plot_rep",
                         "grid_point","aspect_mean_deg","elevation_mean_m","slope_mean_deg",
                         "cover_type_2016_gridVeg","type3_vegetation_indicators","type4_indicators_history",
                         "plant_native_status","plant_life_cycle","plant_life_form","cover_pct_avg")] %>%
  glimpse()

Rows: 3,850
Columns: 16
$ survey_code                 <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09",…
$ plot_code                   <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "…
$ year                        <chr> "2017", "2017", "2017", "2017", "2017", "…
$ plot_loc                    <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ plot_rep                    <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ grid_point                  <int> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1…
$ aspect_mean_deg             <dbl> 18.8095, 18.8095, 18.8095, 18.8095, 18.80…
$ elevation_mean_m            <dbl> 1146.9, 1146.9, 1146.9, 1146.9, 1146.9, 1…
$ slope_mean_deg              <dbl> 20.794, 20.794, 20.794, 20.794, 20.794, 2…
$ cover_type_2016_gridVeg     <chr> "non-irrigated grasslands", "non-irrigate…
$ type3_vegetation_indicators <chr> "wooded draw", "wooded draw", "wooded dra…
$ type4_indicators_history    <chr> "wooded draw", "wooded draw", "wooded dra…
$ plant_native_status         <chr> "native", "native", "native", "native", "…
$ plant_life_cycle            <chr> "annual", "annual", "biennial", "multiple…
$ plant_life_form             <chr> "forb", "graminoid", "forb", "forb", "for…
$ cover_pct_avg               <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0,…

# Output

In [88]:
write_csv(df_yvp_plant_functional_groups, path="yvp_plant_functional_groups-WRANGLE.csv")