<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/yvp_plant_functional_groups_WRANGLE_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Documentation

[Readme fixed plot vegetation data](https://docs.google.com/document/d/16-Aq8u9Rudd78fSzfjvpCXyQgE-BstC-d2PjYfmLtcw/edit?usp=sharing)

# Security

* The user must load a `json` file containing the BigQuery API key into the local directory `/content/...`
* The user must have a Google Maps API key to enable mapping. 
   * CAUTION make sure the key is deleted from the current instance of the notebook before sharing

# Tools

In [ ]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [ ]:
library(lubridate)

Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

* Remember that the file containing authorization keys for Big Query must be loaded into the virutual envrionment manually.

In [ ]:
install.packages("bigrquery")
library(bigrquery)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘bit’, ‘bit64’, ‘gargle’, ‘rapidjsonr’

# Source

## Database Connection

In [ ]:
# BigQuery API Key
bq_auth(path = "/content/mpg-data-warehouse-api_key-master.json")

In [ ]:
Sys.setenv(BIGQUERY_TEST_PROJECT = "mpg-data-warehouse")

In [ ]:
billing <- bq_test_project()

## Database Query

### yvp_vegetation_cover

In [ ]:
sql_vegetation_cover <- "SELECT *
               FROM `mpg-data-warehouse.vegetation_fixed_plot_yvp.yvp_vegetation_cover`"

In [ ]:
# What does this look like without removing the NULL values? 
sql_vegetation_cover <- "SELECT *
               FROM `mpg-data-warehouse.vegetation_fixed_plot_yvp.yvp_vegetation_cover`"

In [ ]:
bq_vegetation_cover <- bq_project_query(billing, sql_vegetation_cover)

In [ ]:
tb_vegetation_cover <- bq_table_download(bq_vegetation_cover)

In [ ]:
df_vegetation_cover <- as.data.frame(tb_vegetation_cover) %>% glimpse()

Rows: 30,820
Columns: 9
$ plot_code         <chr> "YVP N348", "YVP N348", "YVP N348", "YVP N348", "YV…
$ plot_loc          <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ plot_rep          <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ grid_point        <int> 348, 348, 348, 348, 348, 348, 348, 348, 348, 348, 3…
$ date              <date> 2020-07-01, 2020-07-01, 2020-07-01, 2020-07-01, 20…
$ subplot           <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, …
$ key_plant_species <int> 3, 24, 54, 161, 167, 199, 230, 410, 414, 433, 492, …
$ key_plant_code    <chr> "ACEGLA", "AMEALN", "ARNCOR", "CRADOU", "CYNOFF", "…
$ cover_pct         <dbl> 1, 1, 5, 1, 1, 15, 1, 15, 0, 1, 4, 35, 1, 5, 1, 3, …

In [ ]:
df_vegetation_cover %>% distinct(cover_pct) %>% arrange(cover_pct)

   cover_pct
1    0.0
2    0.5
3    1.0
4    1.5
5    2.0
6    2.5
7    3.0
8    3.5
9    4.0
10   4.5
11   5.0
12   5.5
13   6.0
14   7.5
15  10.0
16  11.0
17  12.0
18  13.0
19  15.0
20  16.0
21  18.0
22  20.0
23  25.0
24  26.0
25  30.0
26  32.0
27  35.0
28  40.0
29  42.0
30  45.0
31  50.0
32  55.0
33  60.0
34  65.0
35  70.0
36  75.0
37  80.0
38  85.0
39  89.0
40  90.0
41  95.0
42 100.0

### vegetation_species_metadata

In [ ]:
sql_species_metadata <- "SELECT *
                         FROM `mpg-data-warehouse.vegetation_species_metadata.vegetation_species_metadata`"

In [ ]:
bq_species_metadata <- bq_project_query(billing, sql_species_metadata)

In [ ]:
tb_species_metadata <- bq_table_download(bq_species_metadata)

In [ ]:
df_species_metadata <- as.data.frame(tb_species_metadata) %>% glimpse()

Rows: 754
Columns: 9
$ key_plant_species   <int> 360, 13, 26, 53, 738, 75, 76, 746, 83, 88, 86, 87…
$ key_plant_code      <chr> "NV", "AGRSCA", "ANDGER", "ARIPUR", "BOUCUR", "BO…
$ plant_name_sci      <chr> "no vegetation", "Agrostis scabra", "Andropogon g…
$ plant_name_syn      <chr> NA, NA, NA, "Aristida longiseta", NA, NA, NA, NA,…
$ plant_name_common   <chr> "no vegetation", "rough bentgrass", "big bluestem…
$ plant_name_family   <chr> "None", "Poaceae", "Poaceae", "Poaceae", "Poaceae…
$ plant_native_status <chr> "none", "native", "native", "native", "native", "…
$ plant_life_cycle    <chr> "unknown", "perennial", "perennial", "perennial",…
$ plant_life_form     <chr> "none", "graminoid", "graminoid", "graminoid", "g…

### location_position_classification

In [ ]:
sql_position_classification <- "
SELECT 
  grid_point,
  aspect_mean_deg,
  elevation_mean_m,
  slope_mean_deg,
  cover_type_2016_gridVeg,
  type3_vegetation_indicators,
  type4_indicators_history
FROM
  `mpg-data-warehouse.grid_point_summaries.location_position_classification`
"

In [ ]:
bq_position_classification <- bq_project_query(billing, sql_position_classification)

In [ ]:
tb_position_classification <- bq_table_download(bq_position_classification)

In [ ]:
df_position_classification <- as.data.frame(tb_position_classification) %>% glimpse()

Rows: 582
Columns: 7
$ grid_point                  <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13…
$ aspect_mean_deg             <dbl> 334.7050, 45.3030, 221.3340, 290.4890, 28…
$ elevation_mean_m            <dbl> 1395.64, 1456.09, 1126.90, 1166.33, 1179.…
$ slope_mean_deg              <dbl> 28.44230, 12.22630, 4.25130, 2.68361, 4.2…
$ cover_type_2016_gridVeg     <chr> "woodland/forest", "non-irrigated grassla…
$ type3_vegetation_indicators <chr> "mixed canopy conifer", "uncultivated gra…
$ type4_indicators_history    <chr> "mixed canopy conifer", "uncultivated gra…

# Wrangle

## Create 'year'

In [ ]:
df_vegetation_cover_year <- df_vegetation_cover %>%
  mutate(year = year(date)) %>% glimpse()

Rows: 30,820
Columns: 10
$ plot_code         <chr> "YVP N348", "YVP N348", "YVP N348", "YVP N348", "YV…
$ plot_loc          <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ plot_rep          <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ grid_point        <int> 348, 348, 348, 348, 348, 348, 348, 348, 348, 348, 3…
$ date              <date> 2020-07-01, 2020-07-01, 2020-07-01, 2020-07-01, 20…
$ subplot           <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, …
$ key_plant_species <int> 3, 24, 54, 161, 167, 199, 230, 410, 414, 433, 492, …
$ key_plant_code    <chr> "ACEGLA", "AMEALN", "ARNCOR", "CRADOU", "CYNOFF", "…
$ cover_pct         <dbl> 1, 1, 5, 1, 1, 15, 1, 15, 0, 1, 4, 35, 1, 5, 1, 3, …
$ year              <dbl> 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 202…

## Join

### vegetation_species_metadata

In [ ]:
# vegetation_cover and species_metadata
df_join <- df_vegetation_cover_year %>%
  left_join(df_species_metadata, by = c("key_plant_species" = "key_plant_species")) %>% glimpse()

Rows: 30,820
Columns: 18
$ plot_code           <chr> "YVP N348", "YVP N348", "YVP N348", "YVP N348", "…
$ plot_loc            <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N",…
$ plot_rep            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ grid_point          <int> 348, 348, 348, 348, 348, 348, 348, 348, 348, 348,…
$ date                <date> 2020-07-01, 2020-07-01, 2020-07-01, 2020-07-01, …
$ subplot             <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2…
$ key_plant_species   <int> 3, 24, 54, 161, 167, 199, 230, 410, 414, 433, 492…
$ key_plant_code.x    <chr> "ACEGLA", "AMEALN", "ARNCOR", "CRADOU", "CYNOFF",…
$ cover_pct           <dbl> 1, 1, 5, 1, 1, 15, 1, 15, 0, 1, 4, 35, 1, 5, 1, 3…
$ year                <dbl> 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2…
$ key_plant_code.y    <chr> "ACEGLA", "AMEALN", "ARNCOR", "CRADOU", "CYNOFF",…
$ plant_name_sci      <chr> "Acer glabrum", "Amelanchier alnifolia", "Arnica …
$ plant_name_syn      <chr> NA, NA, NA, NA, NA, "Agropyron repens", NA, NA, N…
$ plant_name_common   <chr> "Rocky Mountain maple", "saskatoon", "heartleaf a…
$ plant_name_family   <chr> "Aceraceae", "Rosaceae", "Asteraceae", "Rosaceae"…
$ plant_native_status <chr> "native", "native", "native", "native", "nonnativ…
$ plant_life_cycle    <chr> "perennial", "perennial", "perennial", "perennial…
$ plant_life_form     <chr> "shrub", "shrub", "forb", "shrub", "forb", "grami…

## Recode plant_life_cycle

In [ ]:
# recode the levels of plant_life_cycle to simplify them
df_recode_levels <- df_join %>%
  mutate(plant_life_cycle = ifelse(plant_life_cycle == "biennial perennial" |
                                   plant_life_cycle == "annual perennial" |
                                   plant_life_cycle == "annual biennial perennial" |
                                   plant_life_cycle == "annual biennial"
                                   , "multiple", plant_life_cycle)) %>% glimpse()

Rows: 30,820
Columns: 18
$ plot_code           <chr> "YVP N348", "YVP N348", "YVP N348", "YVP N348", "…
$ plot_loc            <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N",…
$ plot_rep            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ grid_point          <int> 348, 348, 348, 348, 348, 348, 348, 348, 348, 348,…
$ date                <date> 2020-07-01, 2020-07-01, 2020-07-01, 2020-07-01, …
$ subplot             <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2…
$ key_plant_species   <int> 3, 24, 54, 161, 167, 199, 230, 410, 414, 433, 492…
$ key_plant_code.x    <chr> "ACEGLA", "AMEALN", "ARNCOR", "CRADOU", "CYNOFF",…
$ cover_pct           <dbl> 1, 1, 5, 1, 1, 15, 1, 15, 0, 1, 4, 35, 1, 5, 1, 3…
$ year                <dbl> 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2…
$ key_plant_code.y    <chr> "ACEGLA", "AMEALN", "ARNCOR", "CRADOU", "CYNOFF",…
$ plant_name_sci      <chr> "Acer glabrum", "Amelanchier alnifolia", "Arnica …
$ plant_name_syn      <chr> NA, NA, NA, NA, NA, "Agropyron repens", NA, NA, N…
$ plant_name_common   <chr> "Rocky Mountain maple", "saskatoon", "heartleaf a…
$ plant_name_family   <chr> "Aceraceae", "Rosaceae", "Asteraceae", "Rosaceae"…
$ plant_native_status <chr> "native", "native", "native", "native", "nonnativ…
$ plant_life_cycle    <chr> "perennial", "perennial", "perennial", "perennial…
$ plant_life_form     <chr> "shrub", "shrub", "forb", "shrub", "forb", "grami…

In [ ]:
# view levels
df_recode_levels %>%
  # mutate(survey_code = paste(plot_code, date)) %>%
  distinct(plant_native_status, plant_life_cycle, plant_life_form) %>%
  arrange(plant_native_status, plant_life_cycle, plant_life_form)

   plant_native_status plant_life_cycle plant_life_form
1  native              annual           forb
2  native              annual           graminoid
3  native              biennial         forb
4  native              multiple         forb
5  native              perennial        forb
6  native              perennial        graminoid
7  native              perennial        shrub
8  native              perennial        tree
9  native              unknown          forb
10 nonnative           annual           forb
11 nonnative           annual           graminoid
12 nonnative           biennial         forb
13 nonnative           multiple         forb
14 nonnative           perennial        forb
15 nonnative           perennial        graminoid
16 nonnative           unknown          graminoid
17 unknown             annual           forb
18 unknown             perennial        forb
19 unknown             perennial        graminoid
20 unknown             unknown          forb
21 unknown             unknown          graminoid
22 unknown             unknown          unknown

## Create 'survey_code'

In [ ]:
# create survey_code variable
df_survey_code <- df_recode_levels %>%
  mutate(survey_code = paste(plot_code, date)) %>% glimpse()

Rows: 30,820
Columns: 19
$ plot_code           <chr> "YVP N348", "YVP N348", "YVP N348", "YVP N348", "…
$ plot_loc            <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N",…
$ plot_rep            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ grid_point          <int> 348, 348, 348, 348, 348, 348, 348, 348, 348, 348,…
$ date                <date> 2020-07-01, 2020-07-01, 2020-07-01, 2020-07-01, …
$ subplot             <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2…
$ key_plant_species   <int> 3, 24, 54, 161, 167, 199, 230, 410, 414, 433, 492…
$ key_plant_code.x    <chr> "ACEGLA", "AMEALN", "ARNCOR", "CRADOU", "CYNOFF",…
$ cover_pct           <dbl> 1, 1, 5, 1, 1, 15, 1, 15, 0, 1, 4, 35, 1, 5, 1, 3…
$ year                <dbl> 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2…
$ key_plant_code.y    <chr> "ACEGLA", "AMEALN", "ARNCOR", "CRADOU", "CYNOFF",…
$ plant_name_sci      <chr> "Acer glabrum", "Amelanchier alnifolia", "Arnica …
$ plant_name_syn      <chr> NA, NA, NA, NA, NA, "Agropyron repens", NA, NA, N…
$ plant_name_common   <chr> "Rocky Mountain maple", "saskatoon", "heartleaf a…
$ plant_name_family   <chr> "Aceraceae", "Rosaceae", "Asteraceae", "Rosaceae"…
$ plant_native_status <chr> "native", "native", "native", "native", "nonnativ…
$ plant_life_cycle    <chr> "perennial", "perennial", "perennial", "perennial…
$ plant_life_form     <chr> "shrub", "shrub", "forb", "shrub", "forb", "grami…
$ survey_code         <chr> "YVP N348 2020-07-01", "YVP N348 2020-07-01", "YV…

In [ ]:
# use df_survey_code to join _loc _rep etc back into df
# or make df with only variables

## Create 'cover_pct_avg'

In [ ]:
# calculate cover_pct_sum
df_cover_sum <- df_survey_code %>%
  group_by(survey_code, subplot, plant_native_status, plant_life_cycle, plant_life_form) %>%
  summarise(cover_pct_sum = (sum(cover_pct))) %>% ungroup() %>% 
  glimpse()

`summarise()` regrouping output by 'survey_code', 'subplot', 'plant_native_status', 'plant_life_cycle' (override with `.groups` argument)

Rows: 13,811
Columns: 6
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ subplot             <int> 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4…
$ plant_native_status <chr> "native", "native", "native", "native", "nonnativ…
$ plant_life_cycle    <chr> "annual", "multiple", "perennial", "perennial", "…
$ plant_life_form     <chr> "forb", "forb", "forb", "graminoid", "forb", "for…
$ cover_pct_sum       <dbl> 1, 1, 49, 50, 3, 5, 29, 60, 2, 4, 5, 67, 25, 3, 3…

In [ ]:
df_cover_avg <- df_cover_sum %>%
  group_by(survey_code, plant_native_status, plant_life_cycle, plant_life_form) %>%
  summarise(cover_pct_avg = sum(cover_pct_sum) / 10) %>% ungroup() %>% ungroup() %>%
  glimpse()

`summarise()` regrouping output by 'survey_code', 'plant_native_status', 'plant_life_cycle' (override with `.groups` argument)

Rows: 2,088
Columns: 5
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "nonnativ…
$ plant_life_cycle    <chr> "annual", "multiple", "perennial", "perennial", "…
$ plant_life_form     <chr> "forb", "forb", "forb", "graminoid", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.2, 32.9, 49.5, 3.7, 2.0, 1.1, 4.5, 4.1, 0.…

## Complete

After simplifying the functional groups and producing transect averages of plant cover, make sure all combinations of functional groups that are found in the data are represented in each survey_code. For those groups which were not detected at a survey_code, fill the detection_rate with 0. This makes it possible to produce meaningful averages of functional group detections within habitat polygons or years without creating a positive bias for rarer functional groups. In other words, zero detection of a functional group at a grid point is a real zero, not a missing value.

In [ ]:
df_cover_avg %>% glimpse()

Rows: 2,088
Columns: 5
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "nonnativ…
$ plant_life_cycle    <chr> "annual", "multiple", "perennial", "perennial", "…
$ plant_life_form     <chr> "forb", "forb", "forb", "graminoid", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.2, 32.9, 49.5, 3.7, 2.0, 1.1, 4.5, 4.1, 0.…

In [ ]:
df_complete <- df_cover_avg %>%
  complete(survey_code,
           nesting(plant_native_status, plant_life_cycle, plant_life_form),
           fill = list(cover_pct_avg = 0)) %>%
  arrange(survey_code, plant_native_status, plant_life_cycle, plant_life_form) %>% glimpse()

Rows: 5,126
Columns: 5
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "native",…
$ plant_life_cycle    <chr> "annual", "annual", "biennial", "multiple", "pere…
$ plant_life_form     <chr> "forb", "graminoid", "forb", "forb", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0, 0.0, 3.…

## year

In [ ]:
df_year <- df_complete %>%
  mutate(year = substring(survey_code, nchar(survey_code)-9, nchar(survey_code)-6)) %>% glimpse()

Rows: 5,126
Columns: 6
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "native",…
$ plant_life_cycle    <chr> "annual", "annual", "biennial", "multiple", "pere…
$ plant_life_form     <chr> "forb", "graminoid", "forb", "forb", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0, 0.0, 3.…
$ year                <chr> "2017", "2017", "2017", "2017", "2017", "2017", "…

## plot_code

In [ ]:
# bring plot_code back in by removing date
 df_plot_code <- df_year %>%
  mutate(plot_code = substring(survey_code, 1,nchar(survey_code)-11)) %>% glimpse()

Rows: 5,126
Columns: 7
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "native",…
$ plant_life_cycle    <chr> "annual", "annual", "biennial", "multiple", "pere…
$ plant_life_form     <chr> "forb", "graminoid", "forb", "forb", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0, 0.0, 3.…
$ year                <chr> "2017", "2017", "2017", "2017", "2017", "2017", "…
$ plot_code           <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10",…

## plot_loc

In [ ]:
# detect "N" in 'plot_code' and write to new column 'plot_loc'
df_plot_loc <- df_plot_code %>%
  mutate(plot_loc = ifelse(str_detect(plot_code, "N"), "N", NA)) %>% glimpse()

Rows: 5,126
Columns: 8
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "native",…
$ plant_life_cycle    <chr> "annual", "annual", "biennial", "multiple", "pere…
$ plant_life_form     <chr> "forb", "graminoid", "forb", "forb", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0, 0.0, 3.…
$ year                <chr> "2017", "2017", "2017", "2017", "2017", "2017", "…
$ plot_code           <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10",…
$ plot_loc            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…

## plot_rep

In [ ]:
# detect "A", "B", "C" characters in plot_code and if present write to 'plot_rep'
df_plot_rep <- df_plot_loc %>%
  mutate(plot_rep = case_when(str_detect(plot_code, "A")~"A",
                              str_detect(plot_code, "B")~"B",
                              str_detect(plot_code, "C")~"C")) %>% glimpse()

Rows: 5,126
Columns: 9
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "native",…
$ plant_life_cycle    <chr> "annual", "annual", "biennial", "multiple", "pere…
$ plant_life_form     <chr> "forb", "graminoid", "forb", "forb", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0, 0.0, 3.…
$ year                <chr> "2017", "2017", "2017", "2017", "2017", "2017", "…
$ plot_code           <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10",…
$ plot_loc            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ plot_rep            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…

## grid_point

In [ ]:
# use digital values from 'plot_code' to populate 'grid_point'
df_grid_point <- df_plot_rep %>%
  mutate(grid_point = str_extract(plot_code, "[:digit:].*"),
         grid_point = as.integer(grid_point)) %>% glimpse()

Rows: 5,126
Columns: 10
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "native",…
$ plant_life_cycle    <chr> "annual", "annual", "biennial", "multiple", "pere…
$ plant_life_form     <chr> "forb", "graminoid", "forb", "forb", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0, 0.0, 3.…
$ year                <chr> "2017", "2017", "2017", "2017", "2017", "2017", "…
$ plot_code           <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10",…
$ plot_loc            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ plot_rep            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ grid_point          <int> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1…

## Join

### location_position_classification

In [ ]:
df_position_classification %>% glimpse()

Rows: 582
Columns: 7
$ grid_point                  <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13…
$ aspect_mean_deg             <dbl> 334.7050, 45.3030, 221.3340, 290.4890, 28…
$ elevation_mean_m            <dbl> 1395.64, 1456.09, 1126.90, 1166.33, 1179.…
$ slope_mean_deg              <dbl> 28.44230, 12.22630, 4.25130, 2.68361, 4.2…
$ cover_type_2016_gridVeg     <chr> "woodland/forest", "non-irrigated grassla…
$ type3_vegetation_indicators <chr> "mixed canopy conifer", "uncultivated gra…
$ type4_indicators_history    <chr> "mixed canopy conifer", "uncultivated gra…

In [ ]:
df_join_position_class <- df_grid_point %>%
  left_join(df_position_classification) %>% glimpse()

Joining, by = "grid_point"

Rows: 5,126
Columns: 16
$ survey_code                 <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09",…
$ plant_native_status         <chr> "native", "native", "native", "native", "…
$ plant_life_cycle            <chr> "annual", "annual", "biennial", "multiple…
$ plant_life_form             <chr> "forb", "graminoid", "forb", "forb", "for…
$ cover_pct_avg               <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0,…
$ year                        <chr> "2017", "2017", "2017", "2017", "2017", "…
$ plot_code                   <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "…
$ plot_loc                    <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ plot_rep                    <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ grid_point                  <int> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1…
$ aspect_mean_deg             <dbl> 18.8095, 18.8095, 18.8095, 18.8095, 18.80…
$ elevation_mean_m            <dbl> 1146.9, 1146.9, 1146.9, 1146.9, 1146.9, 1…
$ slope_mean_deg              <dbl> 20.794, 20.794, 20.794, 20.794, 20.794, 2…
$ cover_type_2016_gridVeg     <chr> "non-irrigated grasslands", "non-irrigate…
$ type3_vegetation_indicators <chr> "wooded draw", "wooded draw", "wooded dra…
$ type4_indicators_history    <chr> "wooded draw", "wooded draw", "wooded dra…

## Reorder

In [ ]:
names(df_join_position_class)

 [1] "survey_code"                 "plant_native_status"
 [3] "plant_life_cycle"            "plant_life_form"
 [5] "cover_pct_avg"               "year"
 [7] "plot_code"                   "plot_loc"
 [9] "plot_rep"                    "grid_point"
[11] "aspect_mean_deg"             "elevation_mean_m"
[13] "slope_mean_deg"              "cover_type_2016_gridVeg"
[15] "type3_vegetation_indicators" "type4_indicators_history"

In [ ]:
df_yvp_plant_functional_groups <-
df_join_position_class[c("survey_code","plot_code","year","plot_loc","plot_rep",
                         "grid_point", "plant_native_status","plant_life_cycle","plant_life_form","cover_pct_avg")] %>%
  glimpse()

Rows: 5,126
Columns: 10
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plot_code           <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10",…
$ year                <chr> "2017", "2017", "2017", "2017", "2017", "2017", "…
$ plot_loc            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ plot_rep            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ grid_point          <int> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1…
$ plant_native_status <chr> "native", "native", "native", "native", "native",…
$ plant_life_cycle    <chr> "annual", "annual", "biennial", "multiple", "pere…
$ plant_life_form     <chr> "forb", "graminoid", "forb", "forb", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.0, 0.0, 0.2, 32.9, 49.5, 0.0, 0.0, 0.0, 3.…

In [ ]:
# update year datatype
df_yvp_plant_functional_groups$year <- as.integer(df_yvp_plant_functional_groups$year)

In [ ]:
summary(df_yvp_plant_functional_groups)

 survey_code         plot_code              year        plot_loc
 Length:5126        Length:5126        Min.   :2017   Length:5126
 Class :character   Class :character   1st Qu.:2018   Class :character
 Mode  :character   Mode  :character   Median :2019   Mode  :character
                                       Mean   :2019
                                       3rd Qu.:2019
                                       Max.   :2020
   plot_rep           grid_point  plant_native_status plant_life_cycle
 Length:5126        Min.   :  7   Length:5126         Length:5126
 Class :character   1st Qu.:110   Class :character    Class :character
 Mode  :character   Median :212   Mode  :character    Mode  :character
                    Mean   :254
                    3rd Qu.:395
                    Max.   :571
 plant_life_form    cover_pct_avg
 Length:5126        Min.   : 0.000
 Class :character   1st Qu.: 0.000
 Mode  :character   Median : 0.000
                    Mean   : 3.587
                    3rd Qu.: 1.500
                    Max.   :71.500

In [ ]:
df_yvp_plant_functional_groups %>% distinct(cover_pct_avg) %>% arrange(cover_pct_avg)

    cover_pct_avg
1   0.00
2   0.05
3   0.10
4   0.20
5   0.30
6   0.40
7   0.50
8   0.60
9   0.70
10  0.80
11  0.85
12  0.90
13  1.00
14  1.10
15  1.20
16  1.30
17  1.35
18  1.40
19  1.50
20  1.60
21  1.70
22  1.80
23  1.90
24  2.00
25  2.10
26  2.20
27  2.30
28  2.40
29  2.50
30  2.55
⋮   ⋮
390 52.30
391 52.40
392 52.80
393 52.90
394 53.30
395 54.20
396 54.40
397 54.90
398 55.10
399 55.95
400 56.00
401 56.10
402 57.00
403 57.20
404 57.40
405 58.30
406 58.60
407 59.50
408 60.50
409 61.90
410 62.50
411 62.70
412 63.00
413 63.50
414 66.40
415 67.10
416 67.60
417 69.70
418 70.50
419 71.50

# Output

In [ ]:
# Output 2020-11-09 | ES
write_csv(df_yvp_plant_functional_groups, file="yvp_plant_functional_groups-WRANGLE-2020.csv")