<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/YVP_Ground_Cover_Data_Wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*R Notebook*

# README

* Readme fixed plot vegetation data - [Ground Cover Data](https://docs.google.com/document/d/16-Aq8u9Rudd78fSzfjvpCXyQgE-BstC-d2PjYfmLtcw/edit#heading=h.a2v9q2quarai)

# Load Tools

In [1]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

# Source

In [0]:
# '2020-04-28_yvp_ground_cover.csv'
src = 'https://drive.google.com/uc?id=1JXlFaVP1UxuKmnHju8r6T-8ssrPYO9dV'

In [0]:
df <- read.csv(file = src)

In [5]:
head(df, n=2)

  plot_code date       subplot groundcover_type groundcover_pct
1 YVP 10    2017-06-09 1       BG                1
2 YVP 10    2017-06-09 1       BV               80

# Wrangle

## Convert Data Types

In [0]:
# convert to string
df$plot_code <- as.character(df$plot_code)

In [0]:
# convert to date
df$date <- as.Date(df$date)

## Review 'groundcover_type' levels

Make sure that all levels of `groundcover_type` are present in each subplot of the data sheet (this is important for data collection)

In [11]:
head(df)

  plot_code date       subplot groundcover_type groundcover_pct
1 YVP 10    2017-06-09 1       BG                1
2 YVP 10    2017-06-09 1       BV               80
3 YVP 10    2017-06-09 1       L                10
4 YVP 10    2017-06-09 1       WD                0
5 YVP 10    2017-06-09 1       M                 5
6 YVP 10    2017-06-09 1       LIC               4

In [14]:
# display distinct 'groundcover_type' for reference
df %>%
  distinct(groundcover_type) %>%
  arrange(groundcover_type)

  groundcover_type
1 BG
2 BV
3 G
4 L
5 LIC
6 M
7 R
8 WD

In [0]:
groundcover_counts <- df %>%
  group_by(year = as.numeric(substring(date,0,4)), plot_code, subplot) %>%
  arrange(year, plot_code, subplot, groundcover_type) %>%
  summarize(groundcover_type_counted = n())

In [34]:
head(groundcover_counts)

  year plot_code subplot groundcover_type_counted
1 2017 YVP 10    1       8
2 2017 YVP 10    2       8
3 2017 YVP 10    3       8
4 2017 YVP 10    4       8
5 2017 YVP 10    5       8
6 2017 YVP 10    6       8

In [37]:
unique(groundcover_counts$groundcover_type_counted)

[1] 8 7 9

In [45]:
groundcover_counts %>%
  filter(groundcover_type_counted != 8) %>%
  arrange(groundcover_type_counted, year)

  year plot_code subplot groundcover_type_counted
1 2017 YVP 355   1       7
2 2017 YVP 481   1       7
3 2018 YVP N278  5       7
4 2018 YVP N57   8       7
5 2019 YVP 481   1       7
6 2018 YVP N278  6       9
7 2018 YVP N57   2       9

In [42]:
# example of short one 'ground_cover' type
df %>%
  filter(as.numeric(substring(date,0,4)) == 2017,
          plot_code == 'YVP 355',
          subplot == 1)

  plot_code date       subplot groundcover_type groundcover_pct
1 YVP 355   2017-06-02 1       BV               75
2 YVP 355   2017-06-02 1       L                10
3 YVP 355   2017-06-02 1       WD                0
4 YVP 355   2017-06-02 1       M                 5
5 YVP 355   2017-06-02 1       LIC              10
6 YVP 355   2017-06-02 1       G                 1
7 YVP 355   2017-06-02 1       R                 0

In [47]:
# example of one extra 'groundcover_type'
df %>%
  filter(as.numeric(substring(date,0,4)) == 2018,
          plot_code == 'YVP N278',
          subplot == 6) %>%
  arrange(groundcover_type)

  plot_code date       subplot groundcover_type groundcover_pct
1 YVP N278  2018-05-28 6       BG                1
2 YVP N278  2018-05-28 6       BV               20
3 YVP N278  2018-05-28 6       G                 4
4 YVP N278  2018-05-28 6       L                25
5 YVP N278  2018-05-28 6       LIC              10
6 YVP N278  2018-05-28 6       M                15
7 YVP N278  2018-05-28 6       M                40
8 YVP N278  2018-05-28 6       R                 0
9 YVP N278  2018-05-28 6       WD                0