<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/yvp_ground_cover_WRANGLE_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Documentation

[Readme fixed plot vegetation data](https://docs.google.com/document/d/16-Aq8u9Rudd78fSzfjvpCXyQgE-BstC-d2PjYfmLtcw/edit?usp=sharing)

# Security

* The user must load a `json` file containing the BigQuery API key into the local directory `/content/...`
* The user must have a Google Maps API key to enable mapping. 
   * CAUTION make sure the key is deleted from the current instance of the notebook before sharing

# Tools

In [ ]:
library(tidyverse)
library(lubridate)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

# Source

## CSV

### df_groundcover

In [ ]:
# 2020-10-22_yvp_ground_cover_SOURCE.csv
# https://drive.google.com/file/d/1gm88qr4nHmKt7OnWCH-uaBT7DNdl5KCd/view?usp=sharing
src_ground <- 'https://drive.google.com/uc?id=1gm88qr4nHmKt7OnWCH-uaBT7DNdl5KCd'

In [ ]:
df_groundcover <- read_csv(src_ground)

── Column specification ────────────────────────────────────────────────────────
cols(
  plot_num = col_double(),
  plot_code = col_character(),
  date = col_logical(),
  subplot = col_double(),
  groundcover_type = col_character(),
  groundcover_pct = col_double(),
  comments = col_character()
)

In [ ]:
df_groundcover %>% glimpse()

Rows: 4,640
Columns: 7
$ plot_num         <dbl> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, …
$ plot_code        <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10", "Y…
$ date             <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ subplot          <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3…
$ groundcover_type <chr> "BV", "L", "LIC", "M", "G", "BG", "R", "WD", "BV", "…
$ groundcover_pct  <dbl> 70, 20, 5, 5, 1, 0, 0, 0, 50, 30, 20, 2, 1, 1, 0, 0,…
$ comments         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …

In [ ]:
df_groundcover %>% head()

  plot_num plot_code date subplot groundcover_type groundcover_pct comments
1 10       YVP 10    NA   1       BV               70              NA
2 10       YVP 10    NA   1       L                20              NA
3 10       YVP 10    NA   1       LIC               5              NA
4 10       YVP 10    NA   1       M                 5              NA
5 10       YVP 10    NA   1       G                 1              NA
6 10       YVP 10    NA   1       BG                0              NA

### df_meta

In [ ]:
# 2020-10-22_yvp_survey_metadata_SOURCE.csv
# https://drive.google.com/file/d/19I0quIj8ALzP91VkxxIR-D1PWgXRZ_90/view?usp=sharing
src_meta <- 'https://drive.google.com/uc?id=19I0quIj8ALzP91VkxxIR-D1PWgXRZ_90'

In [ ]:
df_meta_full <- read_csv(src_meta) %>% glimpse()

── Column specification ────────────────────────────────────────────────────────
cols(
  Plot = col_character(),
  Date = col_character(),
  Initials = col_character(),
  `GPS Lat 1` = col_double(),
  `GPS Long 1` = col_double(),
  `GPS Lat 2` = col_double(),
  `GPS Long 2` = col_double(),
  Azimuth = col_double(),
  `comments 2020` = col_character(),
  `Comments 2019` = col_character(),
  `Comments 2018` = col_character(),
  `Comments 2017` = col_character()
)

Rows: 232
Columns: 12
$ Plot            <chr> "NA294", "NB294", "NC294", "N278", "NA292", "NB292", …
$ Date            <chr> "5/8/17", "5/8/17", "5/8/17", "5/9/17", "5/9/17", "5/…
$ Initials        <chr> "MED", "MED", "MED", "MED", "MED", "MED", "MED", "MED…
$ `GPS Lat 1`     <dbl> 46.67863, 46.67960, 46.68005, 46.68213, 46.67934, 46.…
$ `GPS Long 1`    <dbl> -113.9934, -113.9935, -113.9933, -114.0009, -113.9995…
$ `GPS Lat 2`     <dbl> 46.67869, 46.67915, 46.68049, 46.68192, 46.67976, 46.…
$ `GPS Long 2`    <dbl> -113.9928, -113.9936, -113.9932, -114.0015, -113.9993…
$ Azimuth         <dbl> 118, 189, 13, 248, 25, 287, 21, 234, 101, 193, 220, 1…
$ `comments 2020` <chr> "this transect was challenging to match the sp. due t…
$ `Comments 2019` <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ `Comments 2018` <chr> "Line reset in 2018. Pull tape taut between end point…
$ `Comments 2017` <chr> "line curves around slope, stay contour to slope azim…

In [ ]:
# cast to date datatype
df_meta_full$Date <- mdy(df_meta_full$Date)

In [ ]:
df_meta <- df_meta_full %>%
  filter(year(df_meta_full$Date) == 2020) %>%
  glimpse()

Rows: 58
Columns: 12
$ Plot            <chr> "NA294", "NB294", "NC294", "N324", "N321", "NA292", "…
$ Date            <date> 2020-05-09, 2020-05-09, 2020-05-09, 2020-05-09, 2020…
$ Initials        <chr> "MED", "MED", "MED", "MED", "MED", "MED", "MED", "MED…
$ `GPS Lat 1`     <dbl> 46.67863, 46.67960, 46.68005, 46.67728, 46.67698, 46.…
$ `GPS Long 1`    <dbl> -113.9934, -113.9935, 113.9933, -113.9933, -114.0028,…
$ `GPS Lat 2`     <dbl> 46.67869, 46.67915, 46.68049, 46.67702, 46.67738, 46.…
$ `GPS Long 2`    <dbl> -113.9928, -113.9936, -113.9932, -113.9938, -114.0026…
$ Azimuth         <dbl> 118, 189, 13, 234, 21, 25, 287, 212, 101, 193, 162, 3…
$ `comments 2020` <chr> NA, NA, NA, NA, NA, NA, NA, "Sagebrush in this plot h…
$ `Comments 2019` <chr> "5/14/2019 MK", "5/13/2019 MK Still has barbed wire. …
$ `Comments 2018` <chr> "Line reset in 2018. Pull tape taut between end point…
$ `Comments 2017` <chr> "line curves around slope, stay contour to slope azim…

# Wrangle

### plot_loc

In [ ]:
# detect "N" in 'plot_code' and write to new column 'plot_loc'
df_plot_loc <- df_groundcover %>% 
  mutate(plot_loc = ifelse(str_detect(plot_code, "N"), "N", NA)) %>% 
  # comments variable is dropped here, not included in schema
  select(plot_num, plot_code, plot_loc, date, subplot, groundcover_type, groundcover_pct) %>%
  glimpse()

Rows: 4,640
Columns: 7
$ plot_num         <dbl> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, …
$ plot_code        <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10", "Y…
$ plot_loc         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ date             <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ subplot          <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3…
$ groundcover_type <chr> "BV", "L", "LIC", "M", "G", "BG", "R", "WD", "BV", "…
$ groundcover_pct  <dbl> 70, 20, 5, 5, 1, 0, 0, 0, 50, 30, 20, 2, 1, 1, 0, 0,…

### plot_rep

In [ ]:
# detect "A", "B", "C" characters in plot_code and if present write to 'plot_rep'
df_plot_rep <- df_plot_loc %>%
  mutate(plot_rep = case_when(str_detect(plot_code, "A")~"A",
                              str_detect(plot_code, "B")~"B",
                              str_detect(plot_code, "C")~"C")) %>%
  select(plot_num, plot_code, plot_loc, plot_rep, date, subplot, groundcover_type, groundcover_pct) %>%
  glimpse()

Rows: 4,640
Columns: 8
$ plot_num         <dbl> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, …
$ plot_code        <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10", "Y…
$ plot_loc         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ plot_rep         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ date             <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ subplot          <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3…
$ groundcover_type <chr> "BV", "L", "LIC", "M", "G", "BG", "R", "WD", "BV", "…
$ groundcover_pct  <dbl> 70, 20, 5, 5, 1, 0, 0, 0, 50, 30, 20, 2, 1, 1, 0, 0,…

### grid_point

In [ ]:
# rename plot_num grid_point and drop duplicate
df_grid_point <- df_plot_rep %>%
  mutate(grid_point = plot_num) %>%
  select(grid_point, plot_code, plot_loc, plot_rep, date, subplot, groundcover_type, groundcover_pct) %>%
  glimpse()

Rows: 4,640
Columns: 8
$ grid_point       <dbl> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, …
$ plot_code        <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10", "Y…
$ plot_loc         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ plot_rep         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ date             <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ subplot          <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3…
$ groundcover_type <chr> "BV", "L", "LIC", "M", "G", "BG", "R", "WD", "BV", "…
$ groundcover_pct  <dbl> 70, 20, 5, 5, 1, 0, 0, 0, 50, 30, 20, 2, 1, 1, 0, 0,…

In [ ]:
# cast dbl grid_point datatype to int
df_grid_point$grid_point <- as.integer(df_grid_point$grid_point)

In [ ]:
df_grid_point %>% glimpse()

Rows: 4,640
Columns: 8
$ grid_point       <int> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, …
$ plot_code        <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10", "Y…
$ plot_loc         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ plot_rep         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ date             <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ subplot          <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3…
$ groundcover_type <chr> "BV", "L", "LIC", "M", "G", "BG", "R", "WD", "BV", "…
$ groundcover_pct  <dbl> 70, 20, 5, 5, 1, 0, 0, 0, 50, 30, 20, 2, 1, 1, 0, 0,…

In [ ]:
df_meta %>% glimpse()

Rows: 58
Columns: 12
$ Plot            <chr> "NA294", "NB294", "NC294", "N324", "N321", "NA292", "…
$ Date            <date> 2020-05-09, 2020-05-09, 2020-05-09, 2020-05-09, 2020…
$ Initials        <chr> "MED", "MED", "MED", "MED", "MED", "MED", "MED", "MED…
$ `GPS Lat 1`     <dbl> 46.67863, 46.67960, 46.68005, 46.67728, 46.67698, 46.…
$ `GPS Long 1`    <dbl> -113.9934, -113.9935, 113.9933, -113.9933, -114.0028,…
$ `GPS Lat 2`     <dbl> 46.67869, 46.67915, 46.68049, 46.67702, 46.67738, 46.…
$ `GPS Long 2`    <dbl> -113.9928, -113.9936, -113.9932, -113.9938, -114.0026…
$ Azimuth         <dbl> 118, 189, 13, 234, 21, 25, 287, 212, 101, 193, 162, 3…
$ `comments 2020` <chr> NA, NA, NA, NA, NA, NA, NA, "Sagebrush in this plot h…
$ `Comments 2019` <chr> "5/14/2019 MK", "5/13/2019 MK Still has barbed wire. …
$ `Comments 2018` <chr> "Line reset in 2018. Pull tape taut between end point…
$ `Comments 2017` <chr> "line curves around slope, stay contour to slope azim…

### date

In [ ]:
# create Plot in df_grid_point to enable join
df_join <- df_grid_point %>% 
  mutate(Plot = str_sub(plot_code, 5)) %>% glimpse()

Rows: 4,640
Columns: 9
$ grid_point       <int> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, …
$ plot_code        <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10", "Y…
$ plot_loc         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ plot_rep         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ date             <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ subplot          <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3…
$ groundcover_type <chr> "BV", "L", "LIC", "M", "G", "BG", "R", "WD", "BV", "…
$ groundcover_pct  <dbl> 70, 20, 5, 5, 1, 0, 0, 0, 50, 30, 20, 2, 1, 1, 0, 0,…
$ Plot             <chr> "10", "10", "10", "10", "10", "10", "10", "10", "10"…

In [ ]:
# join in date from df_meta
df_date <- df_join %>%
  left_join(df_meta %>% select(Plot, Date), by = c("Plot" = "Plot")) %>%
  mutate(date = Date) %>%
  select(,-c(9,10))

In [ ]:
df_date %>% glimpse()

Rows: 4,640
Columns: 8
$ grid_point       <int> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, …
$ plot_code        <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10", "Y…
$ plot_loc         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ plot_rep         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ date             <date> 2020-06-27, 2020-06-27, 2020-06-27, 2020-06-27, 202…
$ subplot          <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3…
$ groundcover_type <chr> "BV", "L", "LIC", "M", "G", "BG", "R", "WD", "BV", "…
$ groundcover_pct  <dbl> 70, 20, 5, 5, 1, 0, 0, 0, 50, 30, 20, 2, 1, 1, 0, 0,…

### groundcover_pct

In [ ]:
# cast double data type to int
df_date$groundcover_pct <- 
  as.integer(df_date$groundcover_pct)

In [ ]:
df_date %>% glimpse()

Rows: 4,640
Columns: 8
$ grid_point       <int> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, …
$ plot_code        <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10", "Y…
$ plot_loc         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ plot_rep         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ date             <date> 2020-06-27, 2020-06-27, 2020-06-27, 2020-06-27, 202…
$ subplot          <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3…
$ groundcover_type <chr> "BV", "L", "LIC", "M", "G", "BG", "R", "WD", "BV", "…
$ groundcover_pct  <int> 70, 20, 5, 5, 1, 0, 0, 0, 50, 30, 20, 2, 1, 1, 0, 0,…

In [ ]:
df_output <- df_date

# Summary

In [ ]:
df_output %>% summary()

   grid_point     plot_code           plot_loc           plot_rep
 Min.   :  7.0   Length:4640        Length:4640        Length:4640
 1st Qu.:110.0   Class :character   Class :character   Class :character
 Median :212.5   Mode  :character   Mode  :character   Mode  :character
 Mean   :254.3
 3rd Qu.:395.0
 Max.   :571.0
      date               subplot     groundcover_type   groundcover_pct
 Min.   :2020-05-09   Min.   : 1.0   Length:4640        Min.   : 0.00
 1st Qu.:2020-05-22   1st Qu.: 3.0   Class :character   1st Qu.: 0.00
 Median :2020-06-02   Median : 5.5   Mode  :character   Median : 3.00
 Mean   :2020-06-02   Mean   : 5.5                      Mean   :12.59
 3rd Qu.:2020-06-17   3rd Qu.: 8.0                      3rd Qu.:20.00
 Max.   :2020-07-01   Max.   :10.0                      Max.   :85.00

In [ ]:
df_output %>% filter(is.na(plot_code) | is.na(groundcover_type))

     grid_point plot_code plot_loc plot_rep date subplot groundcover_type
     groundcover_pct

No NA values found in numeric variables via `summary()`, and no NA values found in the character variables plot_code or groundcover_type. The other character variables, plot_loc and plot_rep, contain numerous NA values, but these are expected.

# Output

In [ ]:
# Output 
write_csv(df_output, file = "yvp_ground_cover-WRANGLE-2020.csv")