<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/yvp_plant_functional_groups_WRANGLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Documentation

[Readme fixed plot vegetation data](https://docs.google.com/document/d/16-Aq8u9Rudd78fSzfjvpCXyQgE-BstC-d2PjYfmLtcw/edit?usp=sharing)

# Security

* The user must load a `json` file containing the BigQuery API key into the local directory `/content/...`
* The user must have a Google Maps API key to enable mapping. 
   * CAUTION make sure the key is deleted from the current instance of the notebook before sharing

# Tools

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.2     ✔ dplyr   1.0.0
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
library(lubridate)

Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

* Remember that the file containing authorization keys for Big Query must be loaded into the virutual envrionment manually.

In [3]:
install.packages("bigrquery")
library(bigrquery)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘bit’, ‘bit64’, ‘gargle’, ‘rapidjsonr’

# Source

## Database Connection

In [5]:
# BigQuery API Key
bq_auth(path = "/content/mpg-data-warehouse-api_key-master.json")

In [6]:
Sys.setenv(BIGQUERY_TEST_PROJECT = "mpg-data-warehouse")

In [7]:
billing <- bq_test_project()

## Database Query

### yvp_vegetation_cover

In [49]:
sql_vegetation_cover <- "SELECT *
               FROM `mpg-data-warehouse.vegetation_fixed_plot_yvp.yvp_vegetation_cover`"

In [50]:
bq_vegetation_cover <- bq_project_query(billing, sql_vegetation_cover)

In [47]:
tb_vegetation_cover <- bq_table_download(bq_vegetation_cover)

In [95]:
df_vegetation_cover <- as.data.frame(tb_vegetation_cover) %>% glimpse()

Rows: 21,682
Columns: 9
$ plot_code    <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N…
$ plot_loc     <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "N", "…
$ plot_rep     <chr> "NA", "NA", "NA", "NA", "NA", "NA", "NA", "NA", "NA", "N…
$ plot_num     <int> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,…
$ date         <date> 2017-06-08, 2017-06-08, 2017-06-08, 2017-06-08, 2017-06…
$ subplot      <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ species_key  <int> 82, 113, 153, 187, 233, 266, 286, 320, 389, 411, 437, 56…
$ species_code <chr> "BROTEC", "CARE_SP", "COLLIN", "DRAVER", "FESIDA", "HETV…
$ cover_pct    <int> 4, 3, 5, 1, 3, 10, 4, 5, 4, 4, 10, 5, 10, 1, 5, 1, 2, 4,…

### vegetation_species_metadata

In [52]:
sql_species_metadata <- "SELECT *
                         FROM `mpg-data-warehouse.vegetation_species_metadata.vegetation_species_metadata`"

In [53]:
bq_species_metadata <- bq_project_query(billing, sql_species_metadata)

In [54]:
tb_species_metadata <- bq_table_download(bq_species_metadata)

In [107]:
df_species_metadata <- as.data.frame(tb_species_metadata) %>% glimpse()

Rows: 754
Columns: 9
$ key_plant_species   <int> 360, 13, 26, 53, 738, 75, 76, 746, 83, 88, 86, 87…
$ key_plant_code      <chr> "NV", "AGRSCA", "ANDGER", "ARIPUR", "BOUCUR", "BO…
$ plant_name_sci      <chr> "no vegetation", "Agrostis scabra", "Andropogon g…
$ plant_name_syn      <chr> NA, NA, NA, "Aristida longiseta", NA, NA, NA, NA,…
$ plant_name_common   <chr> "no vegetation", "rough bentgrass", "big bluestem…
$ plant_name_family   <chr> "None", "Poaceae", "Poaceae", "Poaceae", "Poaceae…
$ plant_native_status <chr> "none", "native", "native", "native", "native", "…
$ plant_life_cycle    <chr> "unknown", "perennial", "perennial", "perennial",…
$ plant_life_form     <chr> "none", "graminoid", "graminoid", "graminoid", "g…

### location_position_classification

In [57]:
sql_position_classification <- "
SELECT 
  grid_point,
  aspect_mean_deg,
  elevation_mean_m,
  slope_mean_deg,
  cover_type_2016_gridVeg,
  type3_vegetation_indicators,
  type4_indicators_history
FROM
  `mpg-data-warehouse.grid_point_summaries.location_position_classification`
"

In [58]:
bq_position_classification <- bq_project_query(billing, sql_position_classification)

In [59]:
tb_position_classification <- bq_table_download(bq_position_classification)

In [60]:
df_position_classification <- as.data.frame(tb_position_classification) %>% glimpse()

Rows: 582
Columns: 7
$ grid_point                  <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13…
$ aspect_mean_deg             <dbl> 334.7050, 45.3030, 221.3340, 290.4890, 28…
$ elevation_mean_m            <dbl> 1395.64, 1456.09, 1126.90, 1166.33, 1179.…
$ slope_mean_deg              <dbl> 28.44230, 12.22630, 4.25130, 2.68361, 4.2…
$ cover_type_2016_gridVeg     <chr> "woodland/forest", "non-irrigated grassla…
$ type3_vegetation_indicators <chr> "mixed canopy conifer", "uncultivated gra…
$ type4_indicators_history    <chr> "mixed canopy conifer", "uncultivated gra…

# Wrangle

## Filter

In [108]:
# view "NV"
df_species_metadata %>%
  filter(key_plant_code == "NV")

  key_plant_species key_plant_code plant_name_sci plant_name_syn
1 360               NV             no vegetation  NA
  plant_name_common plant_name_family plant_native_status plant_life_cycle
1 no vegetation     None              none                unknown
  plant_life_form
1 none

In [61]:
# remove "NV"
df_species_metadata <- df_species_metadata %>%
  filter(key_plant_code != "NV")

In [109]:
# view "unknown"
df_species_metadata %>%
  filter(plant_life_form == "unknown")

  key_plant_species key_plant_code plant_name_sci plant_name_syn
1 784               UNKN_SP        Unknown        NA
  plant_name_common plant_name_family plant_native_status plant_life_cycle
1 unknown           unknown           unknown             unknown
  plant_life_form
1 unknown

In [62]:
# remove single "unknown" row
df_species_metadata <- df_species_metadata %>%
  filter(plant_life_form != "unknown")

## Create 'year'

In [110]:
df_vegetation_cover_year <- df_vegetation_cover %>%
  mutate(year = year(date))

## Join

### vegetation_species_metadata

In [135]:
# vegetation_cover and species_metadata
df_join <- df_vegetation_cover_year %>%
  left_join(df_species_metadata, by = c("species_key" = "key_plant_species")) %>% glimpse()

Rows: 21,682
Columns: 18
$ plot_code           <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7",…
$ plot_loc            <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N",…
$ plot_rep            <chr> "NA", "NA", "NA", "NA", "NA", "NA", "NA", "NA", "…
$ plot_num            <int> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7…
$ date                <date> 2017-06-08, 2017-06-08, 2017-06-08, 2017-06-08, …
$ subplot             <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ species_key         <int> 82, 113, 153, 187, 233, 266, 286, 320, 389, 411, …
$ species_code        <chr> "BROTEC", "CARE_SP", "COLLIN", "DRAVER", "FESIDA"…
$ cover_pct           <int> 4, 3, 5, 1, 3, 10, 4, 5, 4, 4, 10, 5, 10, 1, 5, 1…
$ year                <dbl> 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2…
$ key_plant_code      <chr> "BROTEC", "CARE_SP", "COLLIN", "DRAVER", "FESIDA"…
$ plant_name_sci      <chr> "Bromus tectorum", "Carex spp.", "Collomia linear…
$ plant_name_syn      <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, "Poa sandberg…
$ plant_name_common   <chr> "cheatgrass", "sedges", "narrow-leaved collomia",…
$ plant_name_family   <chr> "Poaceae", "Cyperaceae", "Polemoniaceae", "Brassi…
$ plant_native_status <chr> "nonnative", "native", "native", "nonnative", "na…
$ plant_life_cycle    <chr> "annual", "perennial", "annual", "annual", "peren…
$ plant_life_form     <chr> "graminoid", "graminoid", "forb", "forb", "gramin…

## Recode plant_life_cycle

In [136]:
# recode the levels of plant_life_cycle to simplify them
df_recode_levels <- df_join %>%
  mutate(plant_life_cycle = ifelse(plant_life_cycle == "biennial perennial" |
                                   plant_life_cycle == "annual perennial" |
                                   plant_life_cycle == "annual biennial perennial" |
                                   plant_life_cycle == "annual biennial"
                                   , "multiple", plant_life_cycle)) %>% glimpse()

Rows: 21,682
Columns: 18
$ plot_code           <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7",…
$ plot_loc            <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N",…
$ plot_rep            <chr> "NA", "NA", "NA", "NA", "NA", "NA", "NA", "NA", "…
$ plot_num            <int> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7…
$ date                <date> 2017-06-08, 2017-06-08, 2017-06-08, 2017-06-08, …
$ subplot             <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ species_key         <int> 82, 113, 153, 187, 233, 266, 286, 320, 389, 411, …
$ species_code        <chr> "BROTEC", "CARE_SP", "COLLIN", "DRAVER", "FESIDA"…
$ cover_pct           <int> 4, 3, 5, 1, 3, 10, 4, 5, 4, 4, 10, 5, 10, 1, 5, 1…
$ year                <dbl> 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2…
$ key_plant_code      <chr> "BROTEC", "CARE_SP", "COLLIN", "DRAVER", "FESIDA"…
$ plant_name_sci      <chr> "Bromus tectorum", "Carex spp.", "Collomia linear…
$ plant_name_syn      <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, "Poa sandberg…
$ plant_name_common   <chr> "cheatgrass", "sedges", "narrow-leaved collomia",…
$ plant_name_family   <chr> "Poaceae", "Cyperaceae", "Polemoniaceae", "Brassi…
$ plant_native_status <chr> "nonnative", "native", "native", "nonnative", "na…
$ plant_life_cycle    <chr> "annual", "perennial", "annual", "annual", "peren…
$ plant_life_form     <chr> "graminoid", "graminoid", "forb", "forb", "gramin…

In [200]:
df_recode_levels %>%
  # mutate(survey_code = paste(plot_code, date)) %>%
  distinct(plant_native_status, plant_life_cycle, plant_life_form) %>%
  arrange(plant_native_status, plant_life_cycle, plant_life_form)

   plant_native_status plant_life_cycle plant_life_form
1  native              annual           forb
2  native              annual           graminoid
3  native              biennial         forb
4  native              multiple         forb
5  native              perennial        forb
6  native              perennial        graminoid
7  native              perennial        shrub
8  native              perennial        tree
9  native              unknown          forb
10 nonnative           annual           forb
11 nonnative           annual           graminoid
12 nonnative           biennial         forb
13 nonnative           multiple         forb
14 nonnative           perennial        forb
15 nonnative           perennial        graminoid
16 nonnative           unknown          graminoid
17 unknown             annual           forb
18 unknown             perennial        forb
19 unknown             perennial        graminoid
20 unknown             unknown          forb
21 unknown             unknown          graminoid
22 unknown             unknown          unknown

## Create 'survey_code'

In [138]:
# create survey_code variable
df_survey_code <- df_recode_levels %>%
  mutate(survey_code = paste(plot_code, date)) %>% glimpse()

Rows: 21,682
Columns: 19
$ plot_code           <chr> "YVP N7", "YVP N7", "YVP N7", "YVP N7", "YVP N7",…
$ plot_loc            <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N",…
$ plot_rep            <chr> "NA", "NA", "NA", "NA", "NA", "NA", "NA", "NA", "…
$ plot_num            <int> 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7…
$ date                <date> 2017-06-08, 2017-06-08, 2017-06-08, 2017-06-08, …
$ subplot             <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ species_key         <int> 82, 113, 153, 187, 233, 266, 286, 320, 389, 411, …
$ species_code        <chr> "BROTEC", "CARE_SP", "COLLIN", "DRAVER", "FESIDA"…
$ cover_pct           <int> 4, 3, 5, 1, 3, 10, 4, 5, 4, 4, 10, 5, 10, 1, 5, 1…
$ year                <dbl> 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2…
$ key_plant_code      <chr> "BROTEC", "CARE_SP", "COLLIN", "DRAVER", "FESIDA"…
$ plant_name_sci      <chr> "Bromus tectorum", "Carex spp.", "Collomia linear…
$ plant_name_syn      <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, "Poa sandberg…
$ plant_name_common   <chr> "cheatgrass", "sedges", "narrow-leaved collomia",…
$ plant_name_family   <chr> "Poaceae", "Cyperaceae", "Polemoniaceae", "Brassi…
$ plant_native_status <chr> "nonnative", "native", "native", "nonnative", "na…
$ plant_life_cycle    <chr> "annual", "perennial", "annual", "annual", "peren…
$ plant_life_form     <chr> "graminoid", "graminoid", "forb", "forb", "gramin…
$ survey_code         <chr> "YVP N7 2017-06-08", "YVP N7 2017-06-08", "YVP N7…

In [ ]:
# use df_survey_code to join _loc _rep etc back into df
# or make df with only variables

## Create 'cover_pct_avg'

In [178]:
# calculate cover_pct_sum
df_cover_sum <- df_survey_code %>%
  group_by(survey_code, subplot, plant_native_status, plant_life_cycle, plant_life_form) %>%
  summarise(cover_pct_sum = (sum(cover_pct))) %>% ungroup() %>% 
  glimpse()

`summarise()` regrouping output by 'survey_code', 'subplot', 'plant_native_status', 'plant_life_cycle' (override with `.groups` argument)

Rows: 9,999
Columns: 6
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ subplot             <int> 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4…
$ plant_native_status <chr> "native", "native", "native", "native", "nonnativ…
$ plant_life_cycle    <chr> "annual", "multiple", "perennial", "perennial", "…
$ plant_life_form     <chr> "forb", "forb", "forb", "graminoid", "forb", "for…
$ cover_pct_sum       <int> 1, 1, 49, 50, 3, 5, 29, 60, 2, 4, 5, 67, 25, 3, 3…

In [179]:
df_cover_avg <- df_cover_sum %>%
  group_by(survey_code, plant_native_status, plant_life_cycle, plant_life_form) %>%
  summarise(cover_pct_avg = sum(cover_pct_sum) / 10) %>% ungroup() %>%
  glimpse()

`summarise()` regrouping output by 'survey_code', 'plant_native_status', 'plant_life_cycle' (override with `.groups` argument)

Rows: 1,525
Columns: 5
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "nonnativ…
$ plant_life_cycle    <chr> "annual", "multiple", "perennial", "perennial", "…
$ plant_life_form     <chr> "forb", "forb", "forb", "graminoid", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.2, 32.9, 49.5, 3.7, 2.0, 1.1, 4.5, 4.1, 0.…

## Review

I'm curious why these don't add up to 100

### YVP 10 2017-06-09

In [180]:
df_cover_avg %>% 
  ungroup() %>% 
  filter(survey_code == "YVP 10 2017-06-09") %>% 
  select(cover_pct_avg) %>%
  sum()

[1] 94.7

In [181]:
df_cover_pct %>% 
  ungroup() %>%
  filter(survey_code == "YVP 10 2017-06-09")

  survey_code       plot_code plant_native_status plant_life_cycle
1 YVP 10 2017-06-09 YVP 10    native              annual
2 YVP 10 2017-06-09 YVP 10    native              multiple
3 YVP 10 2017-06-09 YVP 10    native              perennial
4 YVP 10 2017-06-09 YVP 10    native              perennial
5 YVP 10 2017-06-09 YVP 10    nonnative           annual
6 YVP 10 2017-06-09 YVP 10    nonnative           annual
7 YVP 10 2017-06-09 YVP 10    nonnative           multiple
8 YVP 10 2017-06-09 YVP 10    nonnative           perennial
  plant_life_form cover_pct_avg
1 forb             0.8
2 forb             0.2
3 forb            32.9
4 graminoid       49.5
5 forb             3.7
6 graminoid        2.0
7 forb             1.1
8 forb             4.5

### YVP N571 2019-06-11

In [146]:
# YVP N571 2019-06-11
df_cover_pct %>% 
  ungroup() %>% 
  filter(survey_code == "YVP N571 2019-06-11") %>% 
  select(cover_pct_avg) %>%
  sum()

[1] 51.5

In [148]:
# YVP N571 2019-06-11
df_cover_pct %>% 
  filter(survey_code == "YVP N571 2019-06-11")

   survey_code         plot_code plant_native_status plant_life_cycle
1  YVP N571 2019-06-11 YVP N571  native              annual
2  YVP N571 2019-06-11 YVP N571  native              perennial
3  YVP N571 2019-06-11 YVP N571  native              perennial
4  YVP N571 2019-06-11 YVP N571  nonnative           annual
5  YVP N571 2019-06-11 YVP N571  nonnative           annual
6  YVP N571 2019-06-11 YVP N571  nonnative           multiple
7  YVP N571 2019-06-11 YVP N571  nonnative           perennial
8  YVP N571 2019-06-11 YVP N571  nonnative           perennial
9  YVP N571 2019-06-11 YVP N571  nonnative           unknown
10 YVP N571 2019-06-11 YVP N571  unknown             unknown
   plant_life_form cover_pct_avg
1  forb             0.9
2  forb            14.2
3  graminoid        7.6
4  forb             0.0
5  graminoid        4.1
6  forb             1.3
7  forb            14.0
8  graminoid        7.3
9  graminoid        2.0
10 forb             0.1

## Join
* in dev

In [70]:
# df_cover_pct %>%
#   glimpse()

Rows: 9,999
Columns: 6
Groups: survey_code, subplot, plant_native_status, plant_life_cycle [6,811]
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ subplot             <int> 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4…
$ plant_native_status <chr> "native", "native", "native", "native", "nonnativ…
$ plant_life_cycle    <chr> "annual", "multiple", "perennial", "perennial", "…
$ plant_life_form     <chr> "forb", "forb", "forb", "graminoid", "forb", "for…
$ cover_pct_avg       <dbl> 0.1, 0.1, 4.9, 5.0, 0.3, 0.5, 2.9, 6.0, 0.2, 0.4,…

In [35]:
# # df_main <- 
# df_survey_code %>%
#   group_by(survey_code, subplot, plant_native_status, plant_life_cycle, plant_life_form) %>% 
#   distinct(survey_code, subplot, plant_native_status, plant_life_cycle, plant_life_form) %>%
#   glimpse()
#   # head()

Rows: 9,999
Columns: 5
Groups: survey_code, subplot, plant_native_status, plant_life_cycle, plant_life_form [9,999]
$ subplot             <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ plant_native_status <chr> "nonnative", "native", "native", "nonnative", "na…
$ plant_life_cycle    <chr> "annual", "perennial", "annual", "annual", "peren…
$ plant_life_form     <chr> "graminoid", "graminoid", "forb", "forb", "forb",…
$ survey_code         <chr> "YVP N7 2017-06-08", "YVP N7 2017-06-08", "YVP N7…

## Complete

After simplifying the functional groups and producing transect averages of plant cover, make sure all combinations of functional groups that are found in the data are represented in each survey_code. For those groups which were not detected at a survey_code, fill the detection_rate with 0. This makes it possible to produce meaningful averages of functional group detections within habitat polygons or years without creating a positive bias for rarer functional groups. In other words, zero detection of a functional group at a grid point is a real zero, not a missing value.

In [188]:
df_cover_pct %>% glimpse()

Rows: 1,525
Columns: 6
Groups: survey_code, plot_code, plant_native_status, plant_life_cycle [965]
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plot_code           <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10",…
$ plant_native_status <chr> "native", "native", "native", "native", "nonnativ…
$ plant_life_cycle    <chr> "annual", "multiple", "perennial", "perennial", "…
$ plant_life_form     <chr> "forb", "forb", "forb", "graminoid", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.2, 32.9, 49.5, 3.7, 2.0, 1.1, 4.5, 4.1, 0.…

In [202]:
df_complete <- df_cover_pct %>%
  complete(survey_code,
           nesting(plant_native_status, plant_life_cycle, plant_life_form),
           fill = list(cover_pct_avg = 0)) %>%
  arrange(survey_code, plot_code, plant_native_status, plant_life_cycle, plant_life_form) %>% glimpse()

Rows: 1,525
Columns: 6
Groups: survey_code, plot_code, plant_native_status, plant_life_cycle [965]
$ plot_code           <chr> "YVP 10", "YVP 10", "YVP 10", "YVP 10", "YVP 10",…
$ survey_code         <chr> "YVP 10 2017-06-09", "YVP 10 2017-06-09", "YVP 10…
$ plant_native_status <chr> "native", "native", "native", "native", "nonnativ…
$ plant_life_cycle    <chr> "annual", "multiple", "perennial", "perennial", "…
$ plant_life_form     <chr> "forb", "forb", "forb", "graminoid", "forb", "gra…
$ cover_pct_avg       <dbl> 0.8, 0.2, 32.9, 49.5, 3.7, 2.0, 1.1, 4.5, 4.1, 0.…

In [ ]:
# recover plot_num, plot_loc, plot_rep
# join on plot_code substring and call plot_num grid_point

# follow yvp - vegetation cover data -wrangle with the ex

#grid_point instead of plot_num